    <%= render 'share/sounds' %>
    <%= render 'share/modal/loading'%>
    <div class="code_content">
        <%= render 'share/header' %>
        <div class="container container_mb">
            <div class="code_container">
                <div class="score_question_content">
                    <section class="select_code_block">
                        <%= render 'share/question/code/chose_key' %>
                    </section>
                </div>
                <section class="code_question_block vanish w94">
                    <%= render 'share/vol_icon' %>
                    <%= render 'share/question/code/code_question' %>
                </section>
                <section class="code_rate_block vanish">
                    <%= render 'share/question/code/code_rate' %>
                </section>
            </div>
            <%# 鍵盤のパーシャル %>
            <%= render 'share/anser_code_key' %>
        </div>
        <%# オーディオファイルのパーシャル %>


    </div>
    <script>
        var check_key_flag = 0
        var now_display = 1
    </script>
    <%= javascript_pack_tag 'code/index' %>