 <%= render 'share/sounds' %>
 <%= render 'share/modal/loading'%>

 <div class="score_content">
   <%= render 'share/header' %>
   <div class="container container_mb">
     <div class="score_container">
       <div class="score_question_content">
         <section class="select_key_block">
           <%= render 'share/question/score/chose_key' %>
         </section>
       </div>
       <section class="score_question_block vanish w94">
         <%= render 'share/vol_icon' %>
         <p class="base_text" id="insert_score_qusetion_num">第一問</p>
         <%= render 'share/bord_of_phone' %>
       </section>
       <section class="w94 vanish">
         <%= render 'share/profile/rate_table' %>
         <div class="score_con_block">
           <% if user_signed_in? %>
           <%= render 'share/question/score/score_rate' %>
           <% else %>
           <%= render 'share/sign_up_link' %>
           <% end %>
         </div>

       </section>
     </div>
     <%# 鍵盤のパーシャル %>
     <%= render 'share/keys' %>
   </div>
   <%# オーディオファイルのパーシャル %>

 </div>
 <script>
   // オクターブいくつ使うか
   var octave = 0;
   // 問題後の詳細確率に使う
   var check_key_flag;
   var result_list_only_key;
   var result_list = [];
   var now_display = 1;
 </script>
 <%= javascript_pack_tag 'button/index' %>
 <%= javascript_pack_tag 'score/index'%>