    <%= render 'share/sounds' %>
    <%= render 'share/modal/loading'%>
    <div class="piano_content">
        <%= render 'share/header' %>
        <div class="container">

            <div class="score_top">
                <%= render 'share/correct' %>
                <%= render 'share/socre'%>
            </div>
            <%= render 'share/rate/rate' %>
            <%# 鍵盤のパーシャル %>
            <%= render 'share/keys' %>
        </div>
        <%# オーディオファイルのパーシャル %>

    </div>

    <%= javascript_pack_tag 'button/index' %>
    <script>
        var anser_array = []
        var num_array = []
        var questions_num = 0
        var questions_count = 1
        var score_count = 1
        // 正解率を入れるリスト
        var result_list = []
        // 正解率を計算するフラグ
        var times_of_anser = 1
        var checked_anser_num
        var va
        var question_array
        var octave = 0
    </script>

    <%= javascript_pack_tag 'sound/index' %>