@import "variable.scss";

header {
  color: #fff;
}

.heder_content {
  justify-content: space-between;
  padding: 12px 0;
}

.heder_text,
.loding_text,
.footer_text {
  color: #fff;
  text-shadow: 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000,
    0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000,
    0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000,
    0 0 2px #000, 0 0 2px #000;
  font-family: bely-display, sans-serif;
  font-weight: 400;
  font-style: normal;

}

.heder_text {
  font-size: 68px;
}

.nav_content {
  color: #fff;
  font-size: 18px;
  margin-right: 10px;
  text-shadow: 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000,
    0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000,
    0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000,
    0 0 2px #000, 0 0 2px #000;
  padding-top: 32px;
}

.heder_a {
  color: #000;
  font-size: 14px !important;
  display: block;

}


.game_triangle,
.mypage_triangle,
.tools_triangle {
  display: inline-block;
  font-size: 8px;
}

.header_game_block,
.header_mypage_block,
.header_tools_block {
  cursor: pointer;
}

.select_opacity {
  opacity: 1 !important;
}

#select_game,
#select_mypage,
#select_tools {
  position: relative;
  z-index: 6;

  opacity: 0;
}

.header_game_ul,
.header_mypage_ul,
.header_tools_ul {
  position: absolute;
  top: 0;
}

.select_game_li {
  width: 100%;
}

.header_under {
  margin-bottom: 30px;
  width: 100%;
}

.header_undder_block {
  max-width: 1200px !important;
  margin: 0 auto;
}

.header_under_content {
  color: #fff;
  text-align: center;
  justify-content: space-between;
  width: 100%;
  border-right: 1px solid #fff;
  height: 60px;
  line-height: 60px;
  font-weight: bold;
  transition: 0.3s;

  &:hover {
    background: #fff;
    color: #000;
  }

  .header_link {
    color: #fff;
    cursor: pointer;
  }
}

.header_under_content_fs {
  border-left: 1px solid #fff;
  cursor: pointer;
}

.js_header_under_content {
  width: 100%;
  z-index: 2;
  cursor: pointer;

  .js_header_content {
    background: #fff;

    .js_header_content_li {
      cursor: pointer;
      height: 40px;
      line-height: 40px;
      color: #000;
      text-align: center;
      font-weight: bold;
      border-bottom: 1px dotted #000;
    }

  }
}

.heder_boder_none {
  border-bottom: none !important;
}

.hamburger_section {
  display: flex;
  align-items: center;

}

#js_header_2 {
  display: none;
  background: $bl;
  margin-bottom: 30px;

}

#js_hamburger_wrap {
  width: 300px;
  padding: 30px;
  background: $bl;
  position: absolute;
  top: 106px;
  right: 0;
  z-index: 99;
  position: fixed;

  ul {
    li {

      color: #fff;
      padding: 5px 0;

      a {
        color: #fff;
        font-size: 18px;
        display: block;

      }
    }

    .content_tiitle {
      font-size: 20px;
      font-weight: bold;

    }

    .content {
      border-bottom: 1px solid #fff;
      width: 95%;
      margin-left: auto;
    }
  }

}

@media only screen and (max-width: 1200px) {


  .header_left {
    padding-left: 30px;
  }
.nav_content{
  display: none;
}
  #js_hamburger_wrap {

    ul {
      li {

        padding: 10px 0;

        a {
          font-size: 24px;

        }
      }

      .content_tiitle {
        font-size: 28px;
        font-weight: bold;

      }

      .content_tiitle_2 {
        padding-top: 20px;
      }



    }

  }

  .hamburger_section {
    margin-right: 30px;
  }

  .ad_section {
    display: none;
  }

}

.btn-trigger {
  position: relative;
  width: 50px;
  height: 44px;
  cursor: pointer;
}

.btn-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
}

.btn-trigger,
.btn-trigger span {
  display: inline-block;
  transition: all .5s;
  box-sizing: border-box;
}

.btn-trigger span:nth-of-type(1) {
  top: 0;
}

.btn-trigger span:nth-of-type(2) {
  top: 20px;
}

.btn-trigger span:nth-of-type(3) {
  bottom: 0;
}

#btn08.active span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-315deg);
  transform: translateY(20px) rotate(-315deg);
}

#btn08.active span:nth-of-type(2) {
  opacity: 0;
}

#btn08.active span:nth-of-type(3) {
  -webkit-transform: translateY(-20px) rotate(315deg);
  transform: translateY(-20px) rotate(315deg);
}