<%= render 'share/sounds' %>
<%= render 'share/modal/loading'%>
<div class="tool_content">
    <%= render 'share/header' %>
    <div class="container container_mb">
        <div class="content_wrap">
            <div class="flex">
                <div class="tool_container content_wrap2">
                    <section class="too_box w70">
                        <p class="text_2 mar">ルート音を選択すると対応するコードが出ます。</p>
                        <%= render 'share/top/code/top_code' %>
                    </section>
                    <section class="ad_section vanish">
                        <p></p>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>



<%= javascript_pack_tag 'tool/checkcode/index' %>