<%= render 'share/sounds' %>
<%= render 'share/modal/loading'%>
<div class="tool_content">
    <%= render 'share/header' %>
    <div class="container container_mb">
        <div class="content_wrap">
            <div class="flex">
                <div class="tool_container content_wrap2">
                    <section class="too_box 94">
                        <p class="text_2 mar">楽譜と音の確認が出来ます。</p>
                        <%# 鍵盤 6%>
                        <div class="home_block">
                            <div class="score_board heon flex">
                                <%= render 'share/bord_of_phone' %>
                            </div>
                            <div class="keyboard_block">
                                <%= render 'share/keys' %>
                            </div>
                        </div>
                    </section>
                    <section class="ad_section vanish">
                        <p></p>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>


<%= javascript_pack_tag 'button/index' %>
<%= javascript_pack_tag 'tool/check/index' %>