<div class="tool_content">
  <%= render 'share/header' %>
  <div class="container  container_mb">
    <div class="content_wrap">
      <div class="flex">
        <div class="tool_container">
          <div class="w70">
            <section id="code_generate_select_section">
              <%= render 'share/tool/code/select'%>
            </section>
            <section id="code_generate_section" class="vanish">
              <%= render 'share/tool/code/generate'%>
            </section>
          </div>

          <section>
        </div>
        <section class="ad_section vanish">
          <p>iiii</p>
        </section>
      </div>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'tool/code/index' %>