<div class="tool_content">
  <%= render 'share/header' %>
  <div class="container container_mb">
    <div class="content_wrap">
      <div class="flex">
        <div class="tool_container content_wrap2">
          <section class="too_box w70">
            <p class="text_2 mar">確認したい調を選択して下さい。</p>
            <section class="content_section">
              <div class="cp_ipcheck flex question_key_selct question_key_selct_score">
                <div class="chose_key_box_top">
                  <label class="score_question_label" id="va_key_num_0">
                    <input type="checkbox" class="validate_check option-input02 check_key checkbox" name="4"
                      id="key_num_0" />
                    <span>C major　</span>
                    <div class="key_selct_mini_score">
                      <div class="score_line"></div>
                      <div class="score_line"></div>
                      <div class="score_line"></div>
                      <div class="score_line"></div>
                      <div class="score_line"></div>
                    </div>
                  </label>
                  <label class="score_question_label" id="va_key_num_1">
                    <input type="checkbox" class="validate_check option-input02 check_key checkbox" id="key_num_1"
                      name="11" />
                    G major
                    <div class="key_selct_mini_score">
                      <span class="mini_sharpand_flat mini_sharp mini_score_symbol_sharp_1">#</span>

                      <div class="score_line"></div>
                      <div class="score_line"></div>
                      <div class="score_line"></div>
                      <div class="score_line"></div>
                      <div class="score_line"></div>
                    </div>
                  </label>
                  <label class="score_question_label" id="va_key_num_2">
                    <input type="checkbox" class="validate_check option-input02 check_key checkbox" id="key_num_2"
                      name="6" />
                    D major
                    <div class="key_selct_mini_score">
                      <span class="mini_sharpand_flat mini_sharp mini_score_symbol_sharp_1">#</span><span
                        class="mini_sharpand_flat mini_sharp mini_score_symbol_sharp_2">#</span>

                      <div class="score_line"></div>
                      <div class="score_line"></div>
                      <div class="score_line"></div>
                      <div class="score_line"></div>
                      <div class="score_line"></div>
                    </div>
                  </label>
                  <label class="score_question_label" id="va_key_num_3">
                    <input type="checkbox" class="validate_check option-input02 check_key checkbox" id="key_num_3"
                      name="1" />
                    A major
                    <div class="key_selct_mini_score">
                      <span class="mini_sharpand_flat mini_sharp mini_score_symbol_sharp_1">#</span><span
                        class="mini_sharpand_flat mini_sharp mini_score_symbol_sharp_2">#</span><span
                        class="mini_sharpand_flat mini_sharp mini_score_symbol_sharp_3">#</span>

                      <div class="score_line"></div>
                      <div class="score_line"></div>
                      <div class="score_line"></div>
                      <div class="score_line"></div>
                      <div class="score_line"></div>
                    </div>
                  </label>
                  <label class="score_question_label" id="va_key_num_4">
                    <input type="checkbox" class="validate_check option-input02 check_key checkbox" id="key_num_4"
                      name="8" />
                    E major
                    <div class="key_selct_mini_score">
                      <span class="mini_sharpand_flat mini_sharp mini_score_symbol_sharp_1">#</span><span
                        class="mini_sharpand_flat mini_sharp mini_score_symbol_sharp_2">#</span><span
                        class="mini_sharpand_flat mini_sharp mini_score_symbol_sharp_3">#</span><span
                        class="mini_sharpand_flat mini_sharp mini_score_symbol_sharp_4">#</span>

                      <div class="score_line"></div>
                      <div class="score_line"></div>
                      <div class="score_line"></div>
                      <div class="score_line"></div>
                      <div class="score_line"></div>
                    </div>
                  </label>
                </div>
                <div class="chose_key_box_center">
                  <label class="score_question_label" id="va_key_num_5">
                    <input type="checkbox" class="validate_check option-input02 check_key checkbox" id="key_num_5"
                      name="3" />
                    B major
                    <div class="key_selct_mini_score">
                      <span class="mini_sharpand_flat mini_sharp mini_score_symbol_sharp_1">#</span><span
                        class="mini_sharpand_flat mini_sharp mini_score_symbol_sharp_2">#</span><span
                        class="mini_sharpand_flat mini_sharp mini_score_symbol_sharp_3">#</span><span
                        class="mini_sharpand_flat mini_sharp mini_score_symbol_sharp_4">#</span><span
                        class="mini_sharpand_flat mini_sharp mini_score_symbol_sharp_5">#</span>

                      <div class="score_line"></div>
                      <div class="score_line"></div>
                      <div class="score_line"></div>
                      <div class="score_line"></div>
                      <div class="score_line"></div>
                    </div>
                  </label>
                  <label class="score_question_label" id="va_key_num_6">
                    <input type="checkbox" class="validate_check option-input02 check_key checkbox" id="key_num_6"
                      name="10" />
                    F# major
                    <div class="key_selct_mini_score">
                      <span class="mini_sharpand_flat mini_sharp mini_score_symbol_sharp_1">#</span><span
                        class="mini_sharpand_flat mini_sharp mini_score_symbol_sharp_2">#</span><span
                        class="mini_sharpand_flat mini_sharp mini_score_symbol_sharp_3">#</span><span
                        class="mini_sharpand_flat mini_sharp mini_score_symbol_sharp_4">#</span><span
                        class="mini_sharpand_flat mini_sharp mini_score_symbol_sharp_5">#</span><span
                        class="mini_sharpand_flat mini_sharp mini_score_symbol_sharp_6">#</span>

                      <div class="score_line"></div>
                      <div class="score_line"></div>
                      <div class="score_line"></div>
                      <div class="score_line"></div>
                      <div class="score_line"></div>
                    </div>
                  </label>
                  <label class="score_question_label" id="va_key_num_7">
                    <input type="checkbox" class="validate_check option-input02 check_key checkbox" id="key_num_7"
                      name="5" />
                    C# major
                    <div class="key_selct_mini_score">
                      <span class="mini_sharpand_flat mini_sharp mini_score_symbol_sharp_1">#</span><span
                        class="mini_sharpand_flat mini_sharp mini_score_symbol_sharp_2">#</span><span
                        class="mini_sharpand_flat mini_sharp mini_score_symbol_sharp_3">#</span><span
                        class="mini_sharpand_flat mini_sharp mini_score_symbol_sharp_4">#</span><span
                        class="mini_sharpand_flat mini_sharp mini_score_symbol_sharp_5">#</span><span
                        class="mini_sharpand_flat mini_sharp mini_score_symbol_sharp_6">#</span><span
                        class="mini_sharpand_flat mini_sharp mini_score_symbol_sharp_7">#</span>

                      <div class="score_line"></div>
                      <div class="score_line"></div>
                      <div class="score_line"></div>
                      <div class="score_line"></div>
                      <div class="score_line"></div>
                    </div>
                  </label>
                  <label class="score_question_label" id="va_key_num_8">
                    <input type="checkbox" class="validate_check option-input02 check_key checkbox" id="key_num_8"
                      name="9" />
                    F major
                    <div class="key_selct_mini_score">
                      <span class="mini_sharpand_flat mini_flat mini_score_symbol_flat_1">♭</span>

                      <div class="score_line"></div>
                      <div class="score_line"></div>
                      <div class="score_line"></div>
                      <div class="score_line"></div>
                      <div class="score_line"></div>
                    </div>
                  </label>
                  <label class="score_question_label" id="va_key_num_9">
                    <input type="checkbox" class="validate_check option-input02 check_key checkbox" id="key_num_9"
                      name="14" />
                    B♭ major
                    <div class="key_selct_mini_score">
                      <span class="mini_sharpand_flat mini_flat mini_score_symbol_flat_1">♭</span><span
                        class="mini_sharpand_flat mini_flat mini_score_symbol_flat_2">♭</span>

                      <div class="score_line"></div>
                      <div class="score_line"></div>
                      <div class="score_line"></div>
                      <div class="score_line"></div>
                      <div class="score_line"></div>
                    </div>
                  </label>
                </div>
                <div class="chose_key_box_under">
                  <label class="score_question_label" id="va_key_num_10">
                    <input type="checkbox" class="validate_check option-input02 check_key checkbox" id="key_num_10"
                      name="7" />
                    E♭ major
                    <div class="key_selct_mini_score">
                      <span class="mini_sharpand_flat mini_flat mini_score_symbol_flat_1">♭</span><span
                        class="mini_sharpand_flat mini_flat mini_score_symbol_flat_2">♭</span><span
                        class="mini_sharpand_flat mini_flat mini_score_symbol_flat_3">♭</span>

                      <div class="score_line"></div>
                      <div class="score_line"></div>
                      <div class="score_line"></div>
                      <div class="score_line"></div>
                      <div class="score_line"></div>
                    </div>
                  </label>
                  <label class="score_question_label" id="va_key_num_11">
                    <input type="checkbox" class="validate_check option-input02 check_key checkbox" id="key_num_11"
                      name="12" />
                    A♭ major
                    <div class="key_selct_mini_score">
                      <span class="mini_sharpand_flat mini_flat mini_score_symbol_flat_1">♭</span><span
                        class="mini_sharpand_flat mini_flat mini_score_symbol_flat_2">♭</span><span
                        class="mini_sharpand_flat mini_flat mini_score_symbol_flat_3">♭</span><span
                        class="mini_sharpand_flat mini_flat mini_score_symbol_flat_4">♭</span>

                      <div class="score_line"></div>
                      <div class="score_line"></div>
                      <div class="score_line"></div>
                      <div class="score_line"></div>
                      <div class="score_line"></div>
                    </div>
                  </label>
                  <label class="score_question_label" id="va_key_num_12">
                    <input type="checkbox" class="validate_check option-input02 check_key checkbox" id="key_num_12"
                      name="5" />
                    D♭ major
                    <div class="key_selct_mini_score">
                      <span class="mini_sharpand_flat mini_flat mini_score_symbol_flat_1">♭</span><span
                        class="mini_sharpand_flat mini_flat mini_score_symbol_flat_2">♭</span><span
                        class="mini_sharpand_flat mini_flat mini_score_symbol_flat_3">♭</span><span
                        class="mini_sharpand_flat mini_flat mini_score_symbol_flat_4">♭</span><span
                        class="mini_sharpand_flat mini_flat mini_score_symbol_flat_5">♭</span>

                      <div class="score_line"></div>
                      <div class="score_line"></div>
                      <div class="score_line"></div>
                      <div class="score_line"></div>
                      <div class="score_line"></div>
                    </div>
                  </label>
                  <label class="score_question_label" id="va_key_num_13">
                    <input type="checkbox" class="validate_check option-input02 check_key checkbox" id="key_num_13"
                      name="10" />
                    G♭ major
                    <div class="key_selct_mini_score">
                      <span class="mini_sharpand_flat mini_flat mini_score_symbol_flat_1">♭</span><span
                        class="mini_sharpand_flat mini_flat mini_score_symbol_flat_2">♭</span><span
                        class="mini_sharpand_flat mini_flat mini_score_symbol_flat_3">♭</span><span
                        class="mini_sharpand_flat mini_flat mini_score_symbol_flat_4">♭</span><span
                        class="mini_sharpand_flat mini_flat mini_score_symbol_flat_5">♭</span><span
                        class="mini_sharpand_flat mini_flat mini_score_symbol_flat_6">♭</span>

                      <div class="score_line"></div>
                      <div class="score_line"></div>
                      <div class="score_line"></div>
                      <div class="score_line"></div>
                      <div class="score_line"></div>
                    </div>
                  </label>
                  <label class="score_question_label" id="va_key_num_14">
                    <input type="checkbox" class="validate_check option-input02 check_key checkbox" id="key_num_14"
                      name="3" />
                    C♭ major
                    <div class="key_selct_mini_score">
                      <span class="mini_sharpand_flat mini_flat mini_score_symbol_flat_1">♭</span><span
                        class="mini_sharpand_flat mini_flat mini_score_symbol_flat_2">♭</span><span
                        class="mini_sharpand_flat mini_flat mini_score_symbol_flat_3">♭</span><span
                        class="mini_sharpand_flat mini_flat mini_score_symbol_flat_4">♭</span><span
                        class="mini_sharpand_flat mini_flat mini_score_symbol_flat_5">♭</span><span
                        class="mini_sharpand_flat mini_flat mini_score_symbol_flat_6">♭</span><span
                        class="mini_sharpand_flat mini_flat mini_score_symbol_flat_7">♭</span>

                      <div class="score_line"></div>
                      <div class="score_line"></div>
                      <div class="score_line"></div>
                      <div class="score_line"></div>
                      <div class="score_line"></div>
                    </div>
                  </label>
                </div>
              </div>
              <div class="flex score_key_btn">
                <div class="action_btn js_top_key vanish">C</div>
                <div class="action_btn js_top_key vanish">C#</div>
                <div class="action_btn js_top_key vanish">D♭</div>
                <div class="action_btn js_top_key vanish">D</div>
                <div class="action_btn js_top_key vanish">D#</div>
                <div class="action_btn js_top_key vanish">E♭</div>
                <div class="action_btn js_top_key vanish">E</div>
                <div class="action_btn js_top_key vanish">F</div>
                <div class="action_btn js_top_key vanish">F#</div>
                <div class="action_btn js_top_key vanish">G♭</div>
                <div class="action_btn js_top_key vanish">G</div>
                <div class="action_btn js_top_key vanish">G#</div>
                <div class="action_btn js_top_key vanish">A♭</div>
                <div class="action_btn js_top_key vanish">A</div>
                <div class="action_btn js_top_key vanish">A#</div>
                <div class="action_btn js_top_key vanish">B♭</div>
                <div class="action_btn js_top_key vanish">B</div>
              </div>

              <div class="top_score_keyboard_block">
                <div class="keys">
                  <div>
                    <div class="w key to_k_0" id="top_k_c"></div>
                    <span class="mark_key">C</span>
                  </div>
                  <div class="b key p to_k_1 to_k_2" id="top_k_cp"></div>
                  <div class="">
                    <div class="w key to_k_3" id="top_k_d"></div>
                    <span class="mark_key">D</span>
                  </div>
                  <div class="b key p to_k_4 to_k_5" id="top_k_dp"></div>
                  <div class="">
                    <div class="w key to_k_6" id="top_k_e"></div>
                    <span class="mark_key">E</span>
                  </div>
                  <div class="">
                    <div class="w key to_k_7" id="top_k_f"></div>
                    <span class="mark_key">F</span>
                  </div>
                  <div class="b key p to_k_8 to_k_9" id="top_k_fp"></div>
                  <div class="">
                    <div class="w key to_k_10" id="top_k_g"></div>
                    <span class="mark_key">G</span>
                  </div>
                  <div class="b key p to_k_11 to_k_12" id="top_k_gp"></div>
                  <div class="">
                    <div class="w key to_k_13" id="top_k_a"></div>
                    <span class="mark_key">A</span>
                  </div>
                  <div class="b key p to_k_14 to_k_15" id="top_k_ap"></div>
                  <div class="">
                    <div class="w key to_k_16" id="top_k_b"></div>
                    <span class="mark_key">B</span>
                  </div>
                </div>
              </div>
            </section>
          </section>
          <section class="ad_section vanish">
            <p></p>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'tool/key/index' %>