<div class="tool_content">
    <%= render 'share/header' %>
    <div class="container container_mb">
        <div class="metoro_container">
            <section class="metoro_section">
                <%= render 'share/tool/metoro/metronom'%>
            </section>
        </div>
    </div>
</div>
<%= javascript_pack_tag 'tool/metronome/index' %>