<div class="tool_content tool_content2">
  <%= render 'share/header' %>
  <div class="container container_mb">
    <div class="content_wrap">
      <div class="flex">
        <div class="tool_container content_wrap2">
          <div class="flex too_box">
            <section class="timer_section flex">
              <section>
                <%= render 'share/tool/watch/calendar'%>
              </section>
              <div class="watch_block_right">
                <section>
                  <%= render 'share/tool/watch/watch'%>
                </section>
                <section class="wath_text_section">
                  <%= render 'share/tool/watch/memo'%>
                </section>
                <section class="">
                </section>
              </div>
            </section>
          </div>
        </div>
        <section class="ad_section vanish">
          <p>iiii</p>
        </section>
      </div>
    </div>
  </div>
</div>
<script>
  var g_update_flag
  var g_selected_date
  var g_save_time = 0
</script>
<%= javascript_pack_tag 'tool/watch/index' %>