<div class="user_login">
   <%= render 'share/header' %>
  <div class="container">
    <div class="user_container">
      <div class="user_content_block">
        <h2><%= "もう一度確認メールを送る" %></h2>

        <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.label :email, class: "form_title" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "form" %>
          </div>

          <div class="actions">
            <%= f.submit "もう一度送る", class: "action_btn"  %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>

      </div>
    </div>
  </div>
</div>


