<div class="piano flex vanish mt30"id="anser_code_key">
    <div class="keys">
        <div class="single_code_w key" id="code_key_1"></div>
        <div class="single_code_b p key" id="code_key_2"></div>
        <div class="single_code_w key" id="code_key_3"></div>
        <div class="single_code_b p key" id="code_key_4"></div>
        <div class="single_code_w key" id="code_key_5"></div>
        <div class="single_code_w key" id="code_key_6"></div>
        <div class="single_code_b p key" id="code_key_7"></div>
        <div class="single_code_w key" id="code_key_8"></div>
        <div class="single_code_b p key" id="code_key_9"></div>
        <div class="single_code_w key" id="code_key_10"></div>
        <div class="single_code_b p key" id="code_key_11"></div>
        <div class="single_code_w key" id="code_key_12"></div>
    </div>
    <div class="keys">
        <div class="single_code_w key" id="code_key_13"></div>
        <div class="single_code_b p key" id="code_key_14"></div>
        <div class="single_code_w key" id="code_key_15"></div>
        <div class="single_code_b p key" id="code_key_16"></div>
        <div class="single_code_w key" id="code_key_17"></div>
        <div class="single_code_w key" id="code_key_18"></div>
        <div class="single_code_b p key" id="code_key_19"></div>
        <div class="single_code_w key" id="code_key_20"></div>
        <div class="single_code_b p key" id="code_key_21"></div>
        <div class="single_code_w key" id="code_key_22"></div>
        <div class="single_code_b p key" id="code_key_23"></div>
        <div class="single_code_w key" id="code_key_24"></div>
    </div>
    <div class="keys">
        <div class="single_code_w key" id="code_key_25"></div>
        <div class="single_code_b p key" id="code_key_26"></div>
        <div class="single_code_w key" id="code_key_27"></div>
    </div>
</div>