<!-- ト音記号の楽譜 -->

<% for i in 1..5 %>
<div class="score_board_block" id="score_board_block_<%= i %>">
    <div class="flat_sharp_block">
        <% for k in 1..7 %>
        <span class="score_on_sharp_block_<%= i %> score_on_sharp_<%= k %> score_on_sharp flat_sharp vanish">♯</span>
        <span class="score_on_flat_block_<%= i %> score_on_flat_<%= k %> score_on_flat flat_sharp vanish">♭</span>
        <% end %>
    </div>

    <%= image_tag("to.svg", class:"del phone_symbol_toon symbol_toon symbol_toon_" + i.to_s) %>
    <%= image_tag("he.svg", class:"del phone_symbol_heon symbol_heon symbol_heon_" + i.to_s) %>
    <%# 上線部分 %>
    <div class="score_block_plus first_block">
        <div class="va va_<%= i %> del">8va</div>
        <div class="sharp toon_sharp_score_fp6_<%= i %> sharp_pt_2 del">#</div>
        <div class="sharp toon_sharp_score_fp7_<%= i %> sharp_pt_2 del">#</div>
        <div class="sharp toon_sharp_score_gp6_<%= i %> sharp_pt_1 del">#</div>
        <div class="sharp toon_sharp_score_gp7_<%= i %> sharp_pt_1 del">#</div>
        <div class="sharp toon_sharp_score_ap6_<%= i %> sharp_pt_3 del">#</div>
        <div class="sharp toon_sharp_score_ap7_<%= i %> sharp_pt_3 del">#</div>
        <div class="note_on_plusline last_note_on_plusline
                    toon_score_b7_<%= i %>
                    del">
        </div>
        <div class="note plus_note last_plus_note
                   toon_score_c8_<%= i %>
                    del
                ">
        </div>
        <div class="plus_line last_top_line
                toon_score_b7_<%= i %>
                toon_score_c8_<%= i %>
                 del">
        </div>
        <div class="note plus_note top_of_note
                toon_score_a6_<%= i %>
                toon_score_ap6_<%= i %>
                toon_score_a7_<%= i %>
                toon_score_ap7_<%= i %> del">
        </div>
        <div class="note_on_plusline
                toon_score_g6_<%= i %>
                toon_score_gp6_<%= i %>
                toon_score_g7_<%= i %>
                toon_score_gp7_<%= i %> del">
        </div>
        <div class="note plus_note
                toon_score_f6_<%= i %>
                toon_score_fp6_<%= i %>
                toon_score_f7_<%= i %>
                toon_score_fp7_<%= i %>
                del
                ">
        </div>
        <div class="plus_line
                toon_score_a6_<%= i %>
                toon_score_ap6_<%= i %>
                toon_score_a7_<%= i %>
                toon_score_ap7_<%= i %>
                toon_score_g6_<%= i %>
                toon_score_gp6_<%= i %>
                toon_score_g7_<%= i %>
                toon_score_gp7_<%= i %>
                toon_score_b7_<%= i %>
                toon_score_c8_<%= i %>
                 del">
        </div>
    </div>
    <div class="score_block_plus second_block">
        <div class="sharp sharp_pt_2
            toon_sharp_score_dp6_<%= i %>

            heon_sharp_score_gp4_<%= i %>
            del
            ">#</div>
        <div class="sharp sharp_pt_2
            toon_sharp_score_dp7_<%= i %>

            heon_sharp_score_fp4_<%= i %>
            del
            ">#</div>
        <div class="note_on_plusline
                toon_score_e6_<%= i %>
                toon_score_e7_<%= i %>

                heon_score_g4_<%= i %>
                heon_score_gp4_<%= i %>
                del
                ">
        </div>
        <div class="note plus_note
                toon_score_d6_<%= i %>
                toon_score_dp6_<%= i %>
                toon_score_d7_<%= i %>
                toon_score_dp7_<%= i %>

                heon_score_f4_<%= i %>
                heon_score_fp4_<%= i %>
                del">
        </div>
        <div class="plus_line
                toon_score_a6_<%= i %>
                toon_score_ap6_<%= i %>
                toon_score_e6_<%= i %>
                toon_score_f6_<%= i %>
                toon_score_fp6_<%= i %>
                toon_score_g6_<%= i %>
                toon_score_gp6_<%= i %>
                toon_score_a7_<%= i %>
                toon_score_ap7_<%= i %>
                toon_score_e7_<%= i %>
                toon_score_f7_<%= i %>
                toon_score_fp7_<%= i %>
                toon_score_g7_<%= i %>
                toon_score_gp7_<%= i %>
                toon_score_b7_<%= i %>
                toon_score_c8_<%= i %>

                heon_score_g4_<%= i %>
                heon_score_gp4_<%= i %>
                del
                ">
        </div>
    </div>
    <div class="score_block_plus third_block">
        <div class="sharp
            toon_sharp_score_cp6_<%= i %>
            toon_sharp_score_cp7_<%= i %>
            sharp_pt_1
            del
            ">#</div>
        <div class="sharp
            sharp_pt_2

            heon_score_dp4_<%= i %>
            del
            ">#</div>
        <div class="note_on_plusline
                toon_score_c6_<%= i %>
                toon_score_cp6_<%= i %>
                toon_score_c7_<%= i %>
                toon_score_cp7_<%= i %>


                heon_score_e4_<%= i %>
                del
                >">
        </div>
        <div class="note plus_note
                toon_score_b5_<%= i %>
                toon_score_b6_<%= i %>

                heon_score_d4_<%= i %>
                heon_score_dp4_<%= i %>
                del
                ">
        </div>
        <div class="plus_line
            toon_score_a6_<%= i %>
            toon_score_ap6_<%= i %>
            toon_score_c6_<%= i %>
            toon_score_cp6_<%= i %>
            toon_score_d6_<%= i %>
            toon_score_dp6_<%= i %>
            toon_score_e6_<%= i %>
            toon_score_f6_<%= i %>
            toon_score_fp6_<%= i %>
            toon_score_g6_<%= i %>
            toon_score_gp6_<%= i %>
            toon_score_a7_<%= i %>
            toon_score_ap7_<%= i %>
            toon_score_c7_<%= i %>
            toon_score_cp7_<%= i %>
            toon_score_d7_<%= i %>
            toon_score_dp7_<%= i %>
            toon_score_e7_<%= i %>
            toon_score_f7_<%= i %>
            toon_score_fp7_<%= i %>
            toon_score_g7_<%= i %>
            toon_score_gp7_<%= i %>
            toon_score_b7_<%= i %>
            toon_score_c8_<%= i %>

            heon_score_g4_<%= i %>
            heon_score_gp4_<%= i %>
            heon_score_f4_<%= i %>
            heon_score_fp4_<%= i %>
            heon_score_e4_<%= i %>
            heon_score_ep4_<%= i %>
            del
            ">
        </div>
    </div>
    <div class="score_block_plus fourth_block">
        <div class="sharp toon_sharp_score_gp5_<%= i %> sharp_pt_2 del">#</div>
        <div class="sharp sharp_pt_1
            toon_sharp_score_ap5_<%= i %>
            heon_sharp_score_cp4_<%= i %>
            del
            ">#</div>
        <div class="note_on_plusline
                toon_score_a5_<%= i %>
                toon_score_ap5_<%= i %>

                heon_score_c4_<%= i %>
                heon_score_cp4_<%= i %>
                del
                ">

        </div>
        <div class="note plus_note
                toon_score_g5_<%= i %>
                toon_score_gp5_<%= i %>

                heon_score_b3_<%= i %>
                del
                ">
        </div>
        <div class="
            plus_line
            toon_score_a5_<%= i %>
            toon_score_ap5_<%= i %>
            toon_score_b5_<%= i %>
            toon_score_a6_<%= i %>
            toon_score_ap6_<%= i %>
            toon_score_b6_<%= i %>
            toon_score_d6_<%= i %>
            toon_score_dp6_<%= i %>
            toon_score_c6_<%= i %>
            toon_score_cp6_<%= i %>
            toon_score_f6_<%= i %>
            toon_score_fp6_<%= i %>
            toon_score_e6_<%= i %>
            toon_score_g6_<%= i %>
            toon_score_gp6_<%= i %>
            toon_score_a7_<%= i %>
            toon_score_ap7_<%= i %>
            toon_score_d7_<%= i %>
            toon_score_dp7_<%= i %>
            toon_score_c7_<%= i %>
            toon_score_cp7_<%= i %>
            toon_score_e7_<%= i %>
            toon_score_f7_<%= i %>
            toon_score_fp7_<%= i %>
            toon_score_g7_<%= i %>
            toon_score_gp7_<%= i %>
            toon_score_b7_<%= i %>
            toon_score_c8_<%= i %>

            heon_score_c4_<%= i %>
            heon_score_cp4_<%= i %>
            heon_score_d4_<%= i %>
            heon_score_dp4_<%= i %>
            heon_score_e4_<%= i %>
            heon_score_f4_<%= i %>
            heon_score_fp4_<%= i %>
            heon_score_g4_<%= i %>
            heon_score_gp4_<%= i %>
            del
            "></div>
    </div>
    <%# 本線 %>
    <div class="score_block first_block">
        <div class="sharp sharp_pt_1
            toon_sharp_score_fp5_<%= i %>
            heon_sharp_score_ap3_<%= i %>
            del
            ">#</div>
        <div class="sharp heon_sharp_score_gp3_<%= i %> sharp_pt_2
            del
            ">#</div>
        <div class="note_on_plusline
            toon_score_f5_<%= i %>
            toon_score_fp5_<%= i %>

            heon_score_a3_<%= i %>
            heon_score_ap3_<%= i %>
            del
                "></div>
        <div class="note center_note toon_score_e5_<%= i %>
            heon_score_g3_<%= i %>
            heon_score_gp3_<%= i %>
            del
            "></div>
    </div>
    <div class="score_block second_block">
        <div class="sharp
            toon_sharp_score_cp5_<%= i %> sharp_pt_2 del">#</div>
        <div class="sharp sharp_pt_1
            toon_sharp_score_dp5_<%= i %>
            heon_sharp_score_fp3_<%= i %>
            del
            ">#</div>
        <div class="note_on_plusline
                toon_score_d5_<%= i %>
                toon_score_dp5_<%= i %>

                heon_score_f3_<%= i %>
                heon_score_fp3_<%= i %>
                del
                "></div>
        <div class="note center_note
            toon_score_c5_<%= i %>
            toon_score_cp5_<%= i %>

            heon_score_e3_<%= i %>
            del
            "></div>
    </div>
    <div class="score_block third_block">
        <div class="sharp sharp_pt_1
            heon_sharp_score_dp3_<%= i %>
            del
            ">#</div>
        <div class="sharp sharp_pt_2
            toon_sharp_score_ap4_<%= i %>

            heon_sharp_score_cp3_<%= i %>
            del
            ">#</div>
        <div class="note_on_plusline toon_score_b4_<%= i %>
                heon_score_d3_<%= i %>
                heon_score_dp3_<%= i %>
                del
            "></div>
        <div class="note center_note toon_score_a4_<%= i %>
                toon_score_ap4_<%= i %>

                heon_score_c3_<%= i %>
                heon_score_cp3_<%= i %>
                del
                "></div>
    </div>
    <div class="score_block fourth_block">
        <div class="sharp sharp_pt_2
            toon_sharp_score_fp4_<%= i %>
            heon_sharp_score_ap2_<%= i %>
            del
            ">#</div>
        <div class="sharp sharp_pt_1
            toon_sharp_score_gp4_<%= i %>
            del
            ">#</div>
        <div class="note_on_plusline
                toon_score_g4_<%= i %>
                toon_score_gp4_<%= i %>

                heon_score_b2_<%= i %>
                del
                "></div>
        <div class="note center_note
                toon_score_f4_<%= i %>
                toon_score_fp4_<%= i %>

                heon_score_a2_<%= i %>
                heon_score_ap2_<%= i %>
                del
                "></div>
    </div>
    <%# 下線部分 %>
    <div class="score_block_plus first_block">
        <div class="sharp sharp_pt_2
            toon_sharp_score_dp4_<%= i %>
            heon_sharp_score_fp2_<%= i %>
            del
            ">#</div>
        <div class="sharp sharp_score_gp2_<%= i %> sharp_pt_1
            del">#</div>
        <div class="note_on_plusline toon_score_e4_<%= i %>
            heon_score_g2_<%= i %>
            heon_score_gp2_<%= i %>
            del
            "></div>
        <div class="note minus_note
                toon_score_d4_<%= i %>
                toon_score_dp4_<%= i %>

                heon_score_f2_<%= i %>
                heon_score_fp2_<%= i %>
                del
                ">
        </div>
        <div class="minus_line
                toon_score_c4_<%= i %>
                toon_score_cp4_<%= i %>
                toon_score_b3_<%= i %>
                toon_score_a3_<%= i %>
                toon_score_ap3_<%= i %>
                toon_score_f3_<%= i %>
                toon_score_fp3_<%= i %>
                toon_score_g3_<%= i %>
                toon_score_gp3_<%= i %>
                toon_score_e3_<%= i %>

                heon_score_e2_<%= i %>
                heon_score_d2_<%= i %>
                heon_score_dp2_<%= i %>
                heon_score_c2_<%= i %>
                heon_score_cp2_<%= i %>
                heon_score_a1_<%= i %>
                heon_score_ap1_<%= i %>
                heon_score_b1_<%= i %>
                heon_score_g1_<%= i %>
                heon_score_gp1_<%= i %>
                heon_score_f1_<%= i %>
                heon_score_fp1_<%= i %>
                heon_score_e1_<%= i %>
                heon_score_d1_<%= i %>
                heon_score_dp1_<%= i %>
                heon_score_c1_<%= i %>
                heon_score_cp1_<%= i %>
                heon_score_b0_<%= i %>
                heon_score_a0_<%= i %>
                heon_score_ap0_<%= i %>
                del
                ">
        </div>
    </div>
    <div class="score_block_plus second_block">
        <div class="sharp toon_sharp_score_cp4_<%= i %> sharp_pt_1 del">#</div>
        <div class="sharp heon_sharp_score_dp2_<%= i %> sharp_pt_2 del">#</div>
        <div class="note_on_plusline
                toon_score_c4_<%= i %>
                toon_score_cp4_<%= i %>
                heon_score_e2_<%= i %>
                del
                ">
        </div>
        <div class="note minus_note toon_score_b3_<%= i %>
            heon_score_d2_<%= i %>
            heon_score_dp2_<%= i %>
            del"></div>
        <div class="minus_line
                toon_score_a3_<%= i %>
                toon_score_ap3_<%= i %>
                toon_score_f3_<%= i %>
                toon_score_fp3_<%= i %>
                toon_score_g3_<%= i %>
                toon_score_gp3_<%= i %>
                toon_score_e3_<%= i %>

                heon_score_c2_<%= i %>
                heon_score_cp2_<%= i %>
                heon_score_a1_<%= i %>
                heon_score_ap1_<%= i %>
                heon_score_b1_<%= i %>
                heon_score_g1_<%= i %>
                heon_score_gp1_<%= i %>
                heon_score_f1_<%= i %>
                heon_score_fp1_<%= i %>
                heon_score_e1_<%= i %>
                heon_score_d1_<%= i %>
                heon_score_dp1_<%= i %>
                heon_score_c1_<%= i %>
                heon_score_cp1_<%= i %>
                heon_score_b0_<%= i %>
                heon_score_a0_<%= i %>
                heon_score_ap0_<%= i %>
                del
                ">
        </div>
    </div>
    <div class="score_block_plus third_block">
        <div class="sharp
            toon_score_ap3_<%= i %>
            sharp_pt_1 del">#</div>

        <div class="sharp  toon_score_gp3_<%= i %>
            sharp_pt_2 del">#</div>
        <div class="note_on_plusline 
              toon_score_a3_<%= i %>
              toon_score_ap3_<%= i %>

              heon_score_c2_<%= i %>
              heon_score_cp2_<%= i %>
              del
              "></div>
        <div class="note minus_note toon_score_g3_<%= i %>
          heon_score_b1_<%= i %>
              toon_score_gp3_<%= i %>
              del"></div>
        <div class="minus_line
            toon_score_f3_<%= i %>
            toon_score_fp3_<%= i %>
            toon_score_e3_<%= i %>

            heon_score_a1_<%= i %>
            heon_score_ap1_<%= i %>
            heon_score_g1_<%= i %>
            heon_score_gp1_<%= i %>
            heon_score_f1_<%= i %>
            heon_score_fp1_<%= i %>
            heon_score_e1_<%= i %>
            heon_score_d1_<%= i %>
            heon_score_dp1_<%= i %>
            heon_score_c1_<%= i %>
            heon_score_cp1_<%= i %>
            heon_score_b0_<%= i %>
            heon_score_a0_<%= i %>
            heon_score_ap0_<%= i %>
            del
            ">
        </div>
    </div>
    <div class="score_block_plus fourth_block">
        <div class="sharp sharp_score_ap1_<%= i %> sharp_pt_1
            toon_score_fp3_<%= i %>
            del">#</div>
        <div class="sharp sharp_score_gp1_<%= i %> sharp_pt_2
            del">#</div>
        <div class="note_on_plusline toon_score_f3_<%= i %>
                toon_score_fp3_<%= i %>

                heon_score_a1_<%= i %>
                heon_score_ap1_<%= i %>
                del
                "></div>
        <div class="note minus_note toon_score_e3_<%= i %>
            heon_score_g1_<%= i %>
            heon_score_gp1_<%= i %>
            del
            "></div>
        <div class="minus_line
                heon_score_d1_<%= i %>
                heon_score_dp1_<%= i %>
                heon_score_c1_<%= i %>
                heon_score_cp1_<%= i %>
                heon_score_b0_<%= i %>
                heon_score_a0_<%= i %>
                heon_score_ap0_<%= i %>
                heon_score_e1_<%= i %>
                heon_score_ep1_<%= i %>
                heon_score_f1_<%= i %>
                heon_score_fp1_<%= i %>
                del
            "></div>
    </div>
    <div class="score_block_plus fifth_block">
        <div class="sharp heon_sharp_score_fp1_<%= i %> sharp_pt_1
            del">#</div>
        <div class="note_on_plusline heon_score_f1_<%= i %>
                heon_score_fp1_<%= i %>
                del"></div>
        <div class="note minus_note heon_score_e1_<%= i %>
            del"></div>
        <div class="minus_line
            heon_score_d1_<%= i %>
            heon_score_dp1_<%= i %>
            heon_score_c1_<%= i %>
            heon_score_cp1_<%= i %>
            heon_score_b0_<%= i %>
            heon_score_a0_<%= i %>
            heon_score_ap0_<%= i %>
            del
            "></div>
    </div>
    <div class="score_block_plus sixth_block">
        <div class="sharp heon_sharp_score_dp1_<%= i %> sharp_pt_1 del">#</div>
        <div class="sharp heon_sharp_score_cp1_<%= i %> sharp_pt_2 del">#</div>
        <div class="note_on_plusline heon_score_d1_<%= i %>
                heon_score_dp1_<%= i %> del"></div>
        <div class="note minus_note heon_score_c1_<%= i %>
                heon_score_cp1_<%= i %>
                del"></div>
        <div class="minus_line
            heon_score_b0_<%= i %>
            heon_score_a0_<%= i %>
            heon_score_ap0_<%= i %>
            del
            "></div>
    </div>
    <div class="score_block_plus seventh_block">
        <div class="sharp heon_sharp_score_ap0_<%= i %> sharp_pt_2 del">#</div>
        <div class="note_on_plusline heon_score_b0_<%= i %> del"></div>
        <div class="note minus_note heon_score_a0_<%= i %>
                heon_score_ap0_<%= i %>
                del"></div>
        <div class="minus_line"></div>
    </div>
</div>
<% end %>