<!-- ヘ音記号の楽譜 -->
<div class="bord_of_heon"></div>
<% for i in 1..5 %>
    <div class="score_board_block">
    <%# 上線部分 %>
        <div class="score_block_plus first_block">
            <div class="note plus_note top_of_note">
            </div>
            <div class="note_on_plusline">
            </div>
                <div class="note plus_note">
            </div>
                <div class="plus_line">
            </div>
        </div>
        <div class="score_block_plus second_block">
            <div class="sharp sharp_score_gp4_<%= i %> sharp_pt_1">#</div>
            <div class="sharp sharp_score_fp4_<%= i %> sharp_pt_2">#</div>
            <div class="note_on_plusline
            score_g4_<%= i %>
            score_gp4_<%= i %>">
            </div>
            <div class="note plus_note
            score_f4_<%= i %>
             score_fp4_<%= i %> ">
            </div>
            <div class="plus_line
                score_g4_<%= i %>
                score_gp4_<%= i %>
            ">
            </div>
        </div>
        <div class="score_block_plus third_block">
            <div class="sharp sharp_score_dp4_<%= i %> sharp_pt_2">#</div>
            <div class="note_on_plusline score_e4_<%= i %>">
            </div>
            <div class="note plus_note
                score_d4_<%= i %>
                score_dp4_<%= i %>">
            </div>
            <div class="plus_line
                 score_e4_<%= i %>
                 score_f4_<%= i %>
                  score_fp4_<%= i %>
                 score_g4_<%= i %>
                 score_gp4_<%= i %>
            ">
        </div>
        </div>
        <div class="score_block_plus fourth_block">
            <div class="sharp sharp_score_cp4_<%= i %> sharp_pt_1">#</div>
            <div class="note_on_plusline score_c4_<%= i %>
                score_cp4_<%= i %>">
            </div>
            <div class="note plus_note score_b3_<%= i %>">
            </div>
            <div class="plus_line
                 score_c4_<%= i %>
                 score_cp4_<%= i %>
                 score_d4_<%= i %>
                 score_dp4_<%= i %>
                 score_e4_<%= i %>
                 score_f4_<%= i %>
                  score_fp4_<%= i %>
                 score_g4_<%= i %>
                 score_gp4_<%= i %>
            "></div>
        </div>
        <%# 本線 %>
        <div class="score_block first_block">
            <div class="sharp sharp_score_ap3_<%= i %> sharp_pt_1">#</div>
            <div class="sharp sharp_score_gp3_<%= i %> sharp_pt_2">#</div>
            <div class="note_on_plusline
            score_a3_<%= i %>
            score_ap3_<%= i %>"></div>
            <div class="note center_note
                score_g3_<%= i %>
                score_gp3_<%= i %>"></div>
        </div>
        <div class="score_block second_block">
            <div class="sharp sharp_score_fp3_<%= i %> sharp_pt_1">#</div>
            <div class="note_on_plusline
            score_f3_<%= i %>
            score_fp3_<%= i %>"></div>
            <div class="note center_note score_e3_<%= i %>"></div>
        </div>
        <div class="score_block third_block">
            <div class="sharp sharp_score_dp3_<%= i %> sharp_pt_1">#</div>
            <div class="sharp sharp_score_cp3_<%= i %> sharp_pt_2">#</div>
            <div class="note_on_plusline
                score_d3_<%= i %>
                score_dp3_<%= i %>"></div>
            <div class="note center_note
                score_d3_<%= i %>
                score_dp3_<%= i %>"></div>
        </div>
        <div class="score_block fourth_block">
            <div class="sharp sharp_score_ap2_<%= i %> sharp_pt_2">#</div>
            <div class="note_on_plusline score_b2_<%= i %>"></div>
            <div class="note center_note
            score_a2_<%= i %>
            score_ap2_<%= i %>"></div>
        </div>
        <%# 下線部分 %>
        <div class="score_block_plus first_block">
            <div class="sharp sharp_score_gp2_<%= i %> sharp_pt_1">#</div>
            <div class="sharp sharp_score_fp2_<%= i %> sharp_pt_2">#</div>
            <div class="note_on_plusline
                score_g2_<%= i %>
                score_gp2_<%= i %>"></div>
            <div class="note minus_note
                score_f2_<%= i %>
                score_fp2_<%= i %>"></div>
            <div class="minus_line
             score_e2_<%= i %>
             score_d2_<%= i %>
             score_dp2_<%= i %>
             score_c2_<%= i %>
             score_cp2_<%= i %>
             score_a1_<%= i %>
             score_ap1_<%= i %>
             score_b1_<%= i %>
             score_g1_<%= i %>
             score_gp1_<%= i %>
             score_f1_<%= i %>
             score_fp1_<%= i %>
             score_e1_<%= i %>
             score_d1_<%= i %>
             score_dp1_<%= i %>
             score_c1_<%= i %>
             score_cp1_<%= i %>
             score_b0_<%= i %>
             score_a0_<%= i %>
             score_ap0_<%= i %>
             ">
            </div>
        </div>
        <div class="score_block_plus second_block">
            <div class="sharp sharp_score_dp2_<%= i %> sharp_pt_2">#</div>
            <div class="note_on_plusline score_e2_<%= i %>">
            </div><div class="note minus_note score_d2_<%= i %>
                score_dp2_<%= i %>"></div>
            <div class="minus_line
                score_c2_<%= i %>
                score_cp2_<%= i %>
                score_a1_<%= i %>
                score_ap1_<%= i %>
                score_b1_<%= i %>
                score_g1_<%= i %>
                score_gp1_<%= i %>
                score_f1_<%= i %>
                score_fp1_<%= i %>
                score_e1_<%= i %>
                score_d1_<%= i %>
                score_dp1_<%= i %>
                score_c1_<%= i %>
                score_cp1_<%= i %>
                score_b0_<%= i %>
                score_a0_<%= i %>
                score_ap0_<%= i %>
                ">
            </div>
       </div>
        <div class="score_block_plus third_block">
            <div class="sharp sharp_score_cp2_<%= i %> sharp_pt_1">#</div>
          <div class="note_on_plusline score_c2_<%= i %>
              score_cp2_<%= i %>"></div>
          <div class="note minus_note score_b1_<%= i %>"></div>
          <div class="minus_line
          score_a1_<%= i %>
          score_ap1_<%= i %>
          score_g1_<%= i %>
          score_gp1_<%= i %>
          score_f1_<%= i %>
          score_fp1_<%= i %>
          score_e1_<%= i %>
          score_d1_<%= i %>
          score_dp1_<%= i %>
          score_c1_<%= i %>
          score_cp1_<%= i %>
          score_b0_<%= i %>
          score_a0_<%= i %>
          score_ap0_<%= i %>
          ">
          </div>
        </div>
        <div class="score_block_plus fourth_block">
            <div class="sharp sharp_score_ap1_<%= i %> sharp_pt_1">#</div>
            <div class="sharp sharp_score_gp1_<%= i %> sharp_pt_2">#</div>
            <div class="note_on_plusline score_a1_<%= i %>
                score_ap1_<%= i %>"></div>
            <div class="note minus_note score_g1_<%= i %>
                score_gp1_<%= i %>"></div>
            <div class="minus_line
                score_f1_<%= i %>
                score_fp1_<%= i %>
                score_e1_<%= i %>
                score_d1_<%= i %>
                score_dp1_<%= i %>
                score_c1_<%= i %>
                score_cp1_<%= i %>
                score_b0_<%= i %>
                score_a0_<%= i %>
                score_ap0_<%= i %>
            "></div>
        </div>
        <div class="score_block_plus fifth_block">
            <div class="sharp sharp_score_fp1_<%= i %> sharp_pt_1">#</div>
            <div class="note_on_plusline score_f1_<%= i %>
                score_fp1_<%= i %>"></div>
            <div class="note minus_note score_e1_<%= i %>"></div>
            <div class="minus_line
            score_d1_<%= i %>
            score_dp1_<%= i %>
            score_c1_<%= i %>
            score_cp1_<%= i %>
            score_b0_<%= i %>
            score_a0_<%= i %>
            score_ap0_<%= i %>
            "></div>
        </div>
        <div class="score_block_plus sixth_block">
            <div class="sharp sharp_score_dp1_<%= i %> sharp_pt_1">#</div>
            <div class="sharp sharp_score_cp1_<%= i %> sharp_pt_2">#</div>
            <div class="note_on_plusline score_d1_<%= i %>
                score_dp1_<%= i %>"></div>
            <div class="note minus_note score_c1_<%= i %>
                score_cp1_<%= i %>"></div>
            <div class="minus_line
            score_b0_<%= i %>
            score_a0_<%= i %>
            score_ap0_<%= i %>
            "></div>
        </div>
            <div class="score_block_plus seventh_block">
                <div class="sharp sharp_score_ap0_<%= i %> sharp_pt_2">#</div>
            <div class="note_on_plusline score_b0_<%= i %>"></div>
            <div class="note minus_note score_a0_<%= i %>
                score_ap0_<%= i %>"></div>
            <div class="minus_line"></div>
        </div>
    </div>
<% end %>