<!-- ト音記号の楽譜 -->
<% for i in 1..5 %>
    <div class="score_board_block">
    <%# 上線部分 %>
        <div class="score_block_plus first_block">
            <div class="va va_<%= i %>">8va</div>
            <div class="sharp sharp_score_fp6_<%= i %> sharp_pt_2">#</div>
            <div class="sharp sharp_score_fp7_<%= i %> sharp_pt_2">#</div>
            <div class="sharp sharp_score_gp6_<%= i %> sharp_pt_1">#</div>
            <div class="sharp sharp_score_gp7_<%= i %> sharp_pt_1">#</div>
            <div class="sharp sharp_score_ap6_<%= i %> sharp_pt_3">#</div>
            <div class="sharp sharp_score_ap7_<%= i %> sharp_pt_3">#</div>
            <div class="note plus_note top_of_note
                score_a6_<%= i %>
                score_ap6_<%= i %>
                score_a7_<%= i %>
                score_ap7_<%= i %>">
            </div>
            <div class="note_on_plusline
                score_g6_<%= i %>
                score_gp6_<%= i %>
                score_g7_<%= i %>
                score_gp7_<%= i %>">
            </div>
                <div class="note plus_note
                score_f6_<%= i %>
                score_fp6_<%= i %>
                score_f7_<%= i %>
                score_fp7_<%= i %>
                ">
            </div>
                <div class="plus_line
                score_a6_<%= i %>
                score_ap6_<%= i %>
                score_a7_<%= i %>
                score_ap7_<%= i %>
                score_g6_<%= i %>
                score_gp6_<%= i %>
                score_g7_<%= i %>
                score_gp7_<%= i %>">
            </div>
        </div>
        <div class="score_block_plus second_block"> 
            <div class="sharp sharp_score_dp6_<%= i %> sharp_pt_2">#</div>
            <div class="sharp sharp_score_dp7_<%= i %> sharp_pt_2">#</div>
            <div class="note_on_plusline
                score_e6_<%= i %>
                score_e7_<%= i %>">
            </div>
            <div class="note plus_note
                score_d6_<%= i %>
                score_dp6_<%= i %>
                score_d7_<%= i %>
                score_dp7_<%= i %>">
            </div>
            <div class="plus_line
                score_a6_<%= i %>
                score_ap6_<%= i %>
                score_e6_<%= i %>
                score_f6_<%= i %>
                score_fp6_<%= i %>
                score_g6_<%= i %>
                score_gp6_<%= i %>
                score_a7_<%= i %>
                score_ap7_<%= i %>
                score_e7_<%= i %>
                score_f7_<%= i %>
                score_fp7_<%= i %>
                score_g7_<%= i %>
                score_gp7_<%= i %>">
            </div>
        </div>
        <div class="score_block_plus third_block">
            <div class="sharp sharp_score_cp6_<%= i %> sharp_pt_1">#</div>
            <div class="sharp sharp_score_cp7_<%= i %> sharp_pt_1">#</div>
            <div class="note_on_plusline
                score_c6_<%= i %>
                score_cp6_<%= i %>
                score_c7_<%= i %>
                score_cp7_<%= i %>">
            </div>
            <div class="note plus_note
                score_b5_<%= i %>
                score_b6_<%= i %>">
            </div>
            <div class="plus_line
            score_a6_<%= i %>
            score_ap6_<%= i %>
            score_c6_<%= i %>
            score_cp6_<%= i %>
            score_d6_<%= i %>
            score_dp6_<%= i %>
            score_e6_<%= i %>
            score_f6_<%= i %>
            score_fp6_<%= i %>
            score_g6_<%= i %>
            score_gp6_<%= i %>
            score_a7_<%= i %>
            score_ap7_<%= i %>
            score_c7_<%= i %>
            score_cp7_<%= i %>
            score_d7_<%= i %>
            score_dp7_<%= i %>
            score_e7_<%= i %>
            score_f7_<%= i %>
            score_fp7_<%= i %>
            score_g7_<%= i %>
            score_gp7_<%= i %>
            ">
        </div>
        </div>
        <div class="score_block_plus fourth_block">
            <div class="sharp sharp_score_gp5_<%= i %> sharp_pt_2">#</div>
            <div class="sharp sharp_score_ap5_<%= i %> sharp_pt_1">#</div>
            <div class="note_on_plusline
                score_a5_<%= i %>
                score_ap5_<%= i %>">
            </div>
            <div class="note plus_note
                score_g5_<%= i %>
                score_gp5_<%= i %>">
            </div>
            <div class="
            plus_line
            score_a5_<%= i %>
            score_ap5_<%= i %>
            score_b5_<%= i %>
            score_a6_<%= i %>
            score_ap6_<%= i %>
            score_b6_<%= i %>
            score_d6_<%= i %>
            score_dp6_<%= i %>
            score_c6_<%= i %>
            score_cp6_<%= i %>
            score_f6_<%= i %>
            score_fp6_<%= i %>
            score_e6_<%= i %>
            score_g6_<%= i %>
            score_gp6_<%= i %>
            score_a7_<%= i %>
            score_ap7_<%= i %>
            score_d7_<%= i %>
            score_dp7_<%= i %>
            score_c7_<%= i %>
            score_cp7_<%= i %>
            score_e7_<%= i %>
            score_f7_<%= i %>
            score_fp7_<%= i %>
            score_g7_<%= i %>
            score_gp7_<%= i %>
            "></div>
        </div>
        <%# 本線 %>
        <div class="score_block first_block">
            <div class="sharp sharp_score_fp5_<%= i %> sharp_pt_1">#</div>
            <div class="note_on_plusline
            score_f5_<%= i %>
            score_fp5_<%= i %>

                "></div>
            <div class="note center_note score_e5_<%= i %>"></div>
        </div>
        <div class="score_block second_block">
            <div class="sharp sharp_score_cp5_<%= i %> sharp_pt_2">#</div>
            <div class="sharp sharp_score_dp5_<%= i %> sharp_pt_1">#</div>
            <div class="note_on_plusline
                score_d5_<%= i %>
                score_dp5_<%= i %>
                "></div>
            <div class="note center_note
            score_c5_<%= i %>
            score_cp5_<%= i %>
            "></div>
        </div>
        <div class="score_block third_block">
            <div class="sharp sharp_score_ap4_<%= i %> sharp_pt_2">#</div>
            <div class="note_on_plusline score_b4_<%= i %>"></div>
            <div class="note center_note score_a4_<%= i %>
                score_ap4_<%= i %>"></div>
        </div>
        <div class="score_block fourth_block">
            <div class="sharp sharp_score_fp4_<%= i %> sharp_pt_2">#</div>
            <div class="sharp sharp_score_gp4_<%= i %> sharp_pt_1">#</div>
            <div class="note_on_plusline
                score_g4_<%= i %>
                score_gp4_<%= i %>"></div>
            <div class="note center_note
                score_f4_<%= i %>
                score_fp4_<%= i %>
                "></div>
        </div>
        <%# 下線部分 %>
        <div class="score_block_plus first_block">
            <div class="sharp sharp_score_dp4_<%= i %> sharp_pt_2">#</div>
            <div class="note_on_plusline score_e4_<%= i %>"></div>
            <div class="note minus_note
                score_d4_<%= i %>
                score_dp4_<%= i %>">
            </div>
            <div class="minus_line
                score_c4_<%= i %>
                score_cp4_<%= i %>
                score_b3_<%= i %>
                score_a3_<%= i %>
                score_ap3_<%= i %>
                score_f3_<%= i %>
                score_fp3_<%= i %>
                score_g3_<%= i %>
                score_gp3_<%= i %>
                score_e3_<%= i %>">
            </div>
        </div>
        <div class="score_block_plus second_block">
            <div class="sharp sharp_score_cp4_<%= i %> sharp_pt_1">#</div>
            <div class="note_on_plusline
                score_c4_<%= i %>
                score_cp4_<%= i %>
                ">
            </div>
            <div class="note minus_note score_b3_<%= i %>"></div>
            <div class="minus_line
                score_a3_<%= i %>
                score_ap3_<%= i %>
                score_f3_<%= i %>
                score_fp3_<%= i %>
                score_g3_<%= i %>
                score_gp3_<%= i %>
                score_e3_<%= i %>">
            </div>
       </div>
        <div class="score_block_plus third_block">
          <div class="note_on_plusline score_a3_<%= i %>
              score_ap3_<%= i %>"></div>
          <div class="note minus_note score_g3_<%= i %>
              score_gp3_<%= i %>"></div>
          <div class="minus_line
            score_f3_<%= i %>
            score_fp3_<%= i %>
            score_e3_<%= i %>">
          </div>
        </div>
        <div class="score_block_plus fourth_block">
            <div class="note_on_plusline score_f3_<%= i %>
                score_fp3_<%= i %>"></div>
            <div class="note minus_note score_e3_<%= i %>"></div>
        </div>
    </div>
<% end %>