<!-- <%= form_tag(card_create_path, method: 'post', id: 'payment-form') do %>
<%# Planを選択 %>
<%= select_tag 'plan_id', Plan.all.map{|i| [i.name, i.id]} %>

<%# カード情報を入力 (Railsサーバには送信されない) %>
<input type="text" size="20" data-stripe="number">
<input type="text" size="2" data-stripe="exp_month">/<input type="text" size="2" data-stripe="exp_year">
<input type="text" size="4" data-stripe="cvc">

<input type="submit" class="submit" value="Submit Payment">
<%end%>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    Stripe.setPublishableKey('pk_test_51IGLbED2K8gRGWmW2N1xD12IZtzHFUhk3w6iAiwFWPkwom16Hiygxvu9ViSoLn6heLrqUt00hSrDvkZrhHP7JpFW009OWnkGw6');

    var $form = $('#payment-form');

    $form.submit(function (event) {
        Stripe.card.createToken($form, function (status, response) {

            // JSONレスポンスからトークンを取得
            var token = response.id;

            // フォームにトークンを挿入
            $form.append($('<input type="hidden" name="stripeToken">').val(token));

            // フォームを送信
            $form.get(0).submit();
        })
    })
</script> -->
