<div id="correct_modal" class="correct_modal judge_modal">
    <div class="correct_modal_content">
      <div class="correct_modal_body">
        <div class="correct correct_or_incorrect"></div>
      </div>
    </div>
  </div>

  <div id="incorrect_modal" class="incorrect_modal judge_modal">
    <div class="incorrect_modal_content">
      <div class="incorrect_modal_body">
        <div class="incorrect correct_or_incorrect">☓</div>
      </div>
    </div>
  </div>
