<div class="footer_content">

    <div class="flex_sb">
        <div class="left">
            <div class="footer_title">CONTENTS</div>
            <div class="flex_sb">
                <div class="flex">
                    <div class="contents">
                        <h3>学習ツール</h3>
                        <p><%= link_to "音感", questions_sound_path %></p>
                        <p><%= link_to "楽譜", questions_score_path %></p>
                        <p><%= link_to "コード", questions_code_path %></p>
                    </div>
                </div>
                <div class="flex">
                    <div class="contents">
                        <h3>音楽ツール</h3>
                        <p><%= link_to "メトロノーム", tools_metronome_path %></p>
                        <p><%= link_to "練習記録", tools_watch_path %></p>
                        <p><%= link_to "コード精製", tools_code_path %></p>
                        <p><%= link_to "コード確認", tools_checkcode_path %></p>
                        <p><%= link_to "調確認", tools_key_path %></p>
                        <p><%= link_to "楽譜、鍵盤確認", tools_check_path %></p>
                    </div>
                </div>
                <div class="flex">
                    <div class="contents">
                        <h3>Theory</h3>
                        <p><%= link_to "Theory", theories_path %></p>

                    </div>
                </div>
                <div class="flex">
                    <div class="contents">
                        <h3>Blog</h3>
                        <p><%= link_to "現在作成中", "#" %></p>

                    </div>
                </div>
                <div class="flex">
                    <div class="contents">
                        <h3>問い合わせ</h3>
                        <p><%= link_to "問い合わせ", contacts_path %></p>

                        <p></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="right">
            <div class="footer_title">SNS</div>
            <div class="jfc">
            <a href="https://twitter.com/PIANOLIFE6"><%= image_tag("sns/twitter.png") %></a>
            </div>
            <div class="logo_box">
                <p><%= link_to "PIANO LIFE", root_path, class: "footer_text"%>
            </div>
            <p class="footer_bottom">© 2021 PIANO LIFE All rights reserved.</p>
            </p>
        </div>
    </div>
    
</div>