<div id="js_header">
  <div class="header_undder_block">
    <header>
      <div class="heder_content flex">
        <div class="header_left">
          <%= link_to "PIANO LIFE", root_path, class: "heder_text"%>
        </div>
        <nav class="navbar">
          <%= render 'share/card' %>

          <ul class="flex navbar_ul">
            <% if user_signed_in? %>
            <span class="vanish" id="login_check">1</span>
            <span class="vanish" id="user_id"><%= current_user.id%></span>

            <li class="nav_content">
              <% if current_user.admin? %>
              <%= link_to '理論投稿', new_theory_path, class: 'nav_content
          check_login'%>
              <%= link_to '管理画面', admin_users_path, class: 'nav_content
          check_login'%>
              <%= link_to '問合一覧', admin_contacts_path, class: 'nav_content
          check_login'%>
              <%end%>
            </li>
            </li>
            <% else %>
            <span class="vanish" id="login_check">0</span>
            <li class="nav_content">
              <%= link_to "新規登録", new_user_registration_path, class:
          'nav_content check_login' %>
            </li>
            <li class="nav_content">
              <%= link_to "ログイン", new_user_session_path, class: 'nav_content' %>
            </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
  </div>

  <nav class="header_under">
    <div class="header_undder_block">

      <ul class="flex header_under_ul">
        <li class="header_under_content header_under_content_fs header_non" data-link="0">
          <%= link_to "ホーム", root_path, class:"header_link header_non", id: "js_home_link", data: {link: '0'}%></li>
        <div class="js_header_under_content" id="header_my_page">
          <li class="header_under_content" data-hed="0">マイページ<span class="game_triangle" data-hed="0">▼</span>
          </li>

          <div class="js_header_content vanish" id="header_my_page_content">
            <li class="js_header_content_li"><%= link_to '分析', mypage_path, class: 'heder_a'%></li>
            <% if user_signed_in? %>

            <li class="js_header_content_li">
              <%= link_to '編集', edit_user_registration_path, class:"heder_a" %></li>
            <li class="js_header_content_li heder_boder_none">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'heder_a' %>
            </li>
            <% end %>

          </div>
        </div>
        <div class="js_header_under_content">
          <li class="header_under_content" data-hed="1">学習ツール<span class="game_triangle" data-hed="1">▼</span></li>
          <div class="js_header_content vanish">
            <li class="js_header_content_li"><%= link_to "音感", questions_sound_path, class: 'heder_a
                pith_link' %></li>
            <li class="js_header_content_li"><%= link_to "楽譜", questions_score_path, class: 'heder_a
                pith_link' %></li>
            <li class="js_header_content_li heder_boder_none"><%= link_to "コード", questions_code_path, class: 'heder_a
                pith_link' %></li>
          </div>
        </div>
        <div class="js_header_under_content">
          <li class="header_under_content" data-hed="2">音楽ツール<span class="game_triangle" data-hed="2">▼</span></li>
          <div class="js_header_content vanish">
            <li class="js_header_content_li"> <%= link_to "メトロノーム", tools_metronome_path, class: 'heder_a
                pith_link' %></li>
            <li class="js_header_content_li"><%= link_to "コード精製", "/tools/code", class: 'heder_a
                pith_link' %></li>
            <li class="js_header_content_li"><%= link_to "コード確認", tools_checkcode_path, class: 'heder_a
                pith_link' %></li>
            <li class="js_header_content_li"><%= link_to "調確認", tools_key_path, class: 'heder_a
                pith_link' %></li>
            <li class="js_header_content_li heder_boder_none"><%= link_to "楽譜、鍵盤確認", tools_check_path, class: 'heder_a
                pith_link' %></li>
          </div>
        </div>
        <li class="header_under_content header_non" data-link="1">
          <%= link_to "問い合わせ", contacts_path, class: 'heder_a', class:"header_link header_non", id: "js_contact_link", data: {link: '1'}%>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="header_undder_block" id="js_header_2">
  <header>
    <div class="heder_content flex">
      <div class="header_left">
        <%= link_to "PIANO LIFE", root_path, class: "heder_text"%>
      </div>
      <nav class="navbar">
        <%= render 'share/card' %>

        <ul class="flex navbar_ul">
          <% if user_signed_in? %>
          <span class="vanish" id="login_check">1</span>
          <span class="vanish" id="user_id"><%= current_user.id%></span>

          <li class="nav_content">
            <% if current_user.admin? %>
            <%= link_to '理論投稿', new_theory_path, class: 'nav_content
          check_login'%>
            <%= link_to '管理画面', admin_users_path, class: 'nav_content
          check_login'%>
            <%= link_to '問合一覧', admin_contacts_path, class: 'nav_content
          check_login'%>
            <%end%>
          </li>
          </li>
          <% else %>
          <span class="vanish" id="login_check">0</span>
          <li class="nav_content">
            <%= link_to "新規登録", new_user_registration_path, class:
          'nav_content check_login' %>
          </li>
          <li class="nav_content">
            <%= link_to "ログイン", new_user_session_path, class: 'nav_content' %>
          </li>
          <% end %>
        </ul>
      </nav>
      <section class="hamburger_section">
        <div class="btn-trigger" id="btn08">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </section>
    </div>
  </header>

</div>
<section id="js_hamburger_wrap" class="vanish">
  <div class="content">
    <ul>
      <li class="content_tiitle">ユーザー</li>

      <% if user_signed_in? %>
      <li class="vanish"><span id="login_check">1</span></li>
      <li class="vanish"><span id="user_id"><%= current_user.id%></span></li>
      <li class="content"><%= link_to "・編集", edit_user_registration_path %></li>
      <li class="content"><%= link_to "・ログアウト", destroy_user_session_path, method: :delete %></li>
      <% if current_user.admin? %>
      <li class="content"><%= link_to '理論投稿', new_theory_path%></li>
      <li class="content"><%= link_to '管理画面', admin_users_path%></li>
      <li class="content"><%= link_to '問合一覧', admin_contacts_path%></li>
      <%end%>

      <% else %>

      <li class="vanish"><span id="login_check">0</span></li>
      <li class="content"><%= link_to "・新規登録", new_user_registration_path %></li>
      <li class="content"><%= link_to "・ログイン", new_user_session_path %></li>
      <%end%>
      <li class="content_tiitle content_tiitle_2">学習ツール</li>
      <li class="content"><%= link_to "・音感", questions_sound_path %></li>
      <li class="content"><%= link_to "・楽譜", questions_score_path %></li>
      <li class="content"><%= link_to "・コード", questions_code_path %></li>
      <% if user_signed_in? %>
      <li class="content"><%= link_to "・分析", mypage_path %></li>
      <%end%>
      <li class="content_tiitle content_tiitle_2">音楽ツール</li>
      <li class="content"><%= link_to "・メトロノーム", tools_metronome_path %></li>
      <li class="content"><%= link_to "・コード精製", tools_code_path %></li>
      <li class="content"><%= link_to "・コード確認", tools_checkcode_path %></li>
      <li class="content"><%= link_to "・調確認", tools_key_path %></li>
      <li class="content"><%= link_to "・楽譜、鍵盤確認", tools_check_path %></li>
      <li class="content_tiitle content_tiitle_2">問い合わせ</li>
      <li class="content"><%= link_to "・問い合わせ", contacts_path %></li>
      <li class="content_tiitle content_tiitle_2">Theory</li>
      <li class="content"><%= link_to "・Theory", theories_path %></li>

    </ul>
  </div>
</section>


<%= javascript_pack_tag 'header/index' %>