    <div class="piano_wrap">
        <div class="piano_select_block">
            <div class="button_block flex">
                <div class="button_block_box_over flex">
                        <button class="piano_select_btn one_more one_more_select_btn" >選び直す</button>
                        <button class="piano_select_btn one_more one_more_listen_btn">もう一度聞く</button>
                        <button class="piano_select_btn one_more show_anser_btn">答え</button>
                        <button class="piano_select_btn next_question_btn one_more_q">次の問題</button>
                </div>
            </div>
            <div class="button_block_center flex">
                <button id="oc_s" class="piano_select_btn limit_all_target_btn select_octave all_on">Single</button>
                <button id="oc_a" class="piano_select_btn limit_all_target_btn select_octave ">All</button>

            </div>
            <div class="button_block_box_unde flex vanish">
                <button id="all_btn" class="piano_select_btn limit_all_target_btn">All</button>
                <button id="A0_btn" class="piano_select_btn limit_target_btn">A0</button>
                <% for i in 1..8 %>
                    <% if i == 3 || i == 4 %>
                        <%= button_tag  "C#{i}",  id: "C#{i}_btn", class: "piano_select_btn limit_target_btn all_on" %>
                    <% else %>
                        <%= button_tag  "C#{i}",  id: "C#{i}_btn", class: "piano_select_btn limit_target_btn" %>
                    <% end %>
                <% end %>
            </div>
        </div>
    <div class="piano flex">
        <div class="single_key">
            <div class="single_block piano_block flex">
                <div class="keys">
                    <div><div class="single_w key standard_" id="single_c"></div><span class=' mark_key'>C</span></div>
                    <div class="single_b key p" id=single_cp></div>
                    <div class="">
                        <div class="single_w key" id=single_d></div>
                        <span class=' mark_key'>D</span>
                    </div>
                    <div class="single_b key p" id=single_dp></div>
                    <div class="">
                        <div class="single_w key" id=single_e></div>
                        <span class=' mark_key'>E</span>
                    </div>
                    <div class="">
                        <div class="single_w key" id=single_f></div>
                        <span class=' mark_key'>F</span>
                    </div>
                    <div class="single_b key p" id=single_fp></div>
                    <div class="">
                        <div class="single_w key" id=single_g></div>
                        <span class=' mark_key'>G</span>
                    </div>
                    <div class="single_b key p" id=single_gp></div>
                    <div class="">
                        <div class="single_w key" id=single_a></div>
                        <span class=' mark_key'>A</span>
                    </div>
                    <div class="single_b key p" id=single_ap></div>
                    <div class="">
                        <div class="single_w key" id=single_b></div>
                        <span class=' mark_key'>B</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="insert_key flex vanish">
            <div class="A0_block piano_block flex vanish">
                <div class="keys">
                    <div class="">
                        <div class="w key a0 standard_key count_num_0 k_1" id='a0'></div>
                        <span class=' mark_key'>A0</span>
                    </div>
                    <div class="b key p a#0 k_2" id="ap0"></div>
                    <div class="">
                        <div class="w key b0 k_3" id="b0"></div>
                        <span class=' mark_key'>B0</span>
                    </div>
                </div>
            </div>
            <div class="C1_block piano_block flex vanish">
            <div class="keys">
                <div>
                <div class="w key c1 standard_key count_num_1 k_4" id="c1"></div><span class=' mark_key'>C1</span></div>
                <div class="b key p c#1 count_num_1 k_5" id=cp1></div>
                <div class="">
                    <div class="w key d1 count_num_1 k_6" id=d1></div>
                    <span class=' mark_key'>D1</span>
                </div>
                <div class="b key p d#1 count_num_1 k_7" id=dp1></div>
                <div class="">
                    <div class="w key e1 count_num_1 k_8" id=e1></div>
                    <span class=' mark_key'>E1</span>
                </div>
                <div class="">
                    <div class="w key f1 count_num_1 k_9" id=f1></div>
                    <span class=' mark_key'>F1</span>
                </div>
                <div class="b key p f#1 count_num_1 k_10" id=fp1></div>
                <div class="">
                    <div class="w key g1 count_num_1 k_11" id=g1></div>
                    <span class=' mark_key'>G1</span>
                </div>
                <div class="b key p g#1 count_num_1 k_12" id=gp1></div>
                <div class="">
                    <div class="w key a1 count_num_1 k_13" id=a1></div>
                    <span class=' mark_key'>A1</span>
                </div>
                <div class="b key p a#1 count_num_1 k_14" id=ap1></div>
                <div class="">
                    <div class="w key b1 count_num_1 k_15" id=b1></div>
                    <span class=' mark_key'>B1</span>
                </div>
            </div>
        </div>
        <div class="C2_block piano_block flex vanish">
            <div class="keys">
                <div><div class="w key c2 standard_key count_num_2 k_16" id="c2"></div><span class=' mark_key'>C2</span></div>
                <div class="b key p c#2 count_num_2 k_17" id=cp2></div>
                <div class="">
                    <div class="w key d2 count_num_2 k_18" id=d2></div>
                    <span class=' mark_key'>D2</span>
                </div>
                <div class="b key p d#2 count_num_2 k_19" id=dp2></div>
                <div class="">
                    <div class="w key e2 count_num_2 k_20" id=e2></div>
                    <span class=' mark_key'>E2</span>
                </div>
                <div class="">
                    <div class="w key f2 count_num_2 k_21" id=f2></div>
                    <span class=' mark_key'>F2</span>
                </div>
                <div class="b key p f#2 count_num_2 k_22" id=fp2></div>
                <div class="">
                    <div class="w key g2 count_num_2 k_23" id=g2></div>
                    <span class=' mark_key'>G2</span>
                </div>
                <div class="b key p g#2 count_num_2 k_24" id=gp2></div>
                <div class="">
                    <div class="w key a2 count_num_2 k_25" id=a2></div>
                    <span class=' mark_key'>A2</span>
                </div>
                <div class="b key p a#2 count_num_2 k_26" id=ap2></div>
                <div class="">
                    <div class="w key b2 count_num_2 k_27" id=b2></div>
                    <span class=' mark_key'>B2</span>
                </div>
            </div>
        </div>
        <div class="C3_block piano_block flex">
            <div class="keys">
                <div><div class="w key c3 standard_key count_num_3 k_28" id="c3"></div><span class=' mark_key'>C3</span></div>
                <div class="b key p c#3 count_num_3 k_29" id=cp3></div>
                <div class="">
                    <div class="w key d3 count_num_3 k_30" id=d3></div>
                    <span class=' mark_key'>D3</span>
                </div>
                <div class="b key p d#3 count_num_3 k_31" id=dp3></div>
                <div class="">
                    <div class="w key e3 count_num_3 k_32" id=e3></div>
                    <span class=' mark_key'>E3</span>
                </div>
                <div class="">
                    <div class="w key f3 count_num_3 k_33" id=f3></div>
                    <span class=' mark_key'>F3</span>
                </div>
                <div class="b key p f#3 count_num_3 k_34" id=fp3></div>
                <div class="">
                    <div class="w key g3 count_num_3 k_35" id=g3></div>
                    <span class=' mark_key'>G3</span>
                </div>
                <div class="b key p g#3 count_num_3 k_36" id=gp3></div>
                <div class="">
                    <div class="w key a3 count_num_3 k_37" id=a3></div>
                    <span class=' mark_key'>A3</span>
                </div>
                <div class="b key p a#3 count_num_3 k_38" id=ap3></div>
                <div class="">
                    <div class="w key b3 count_num_3 k_39" id=b3></div>
                    <span class=' mark_key'>B3</span>
                </div>
            </div>
        </div>
        <div class="C4_block piano_block flex">
            <div class="keys">
                <div><div class="w key c4 standard_key count_num_4 k_40" id="c4"></div><span class=' mark_key'>C4</span></div>
                <div class="b key p count_num_4 k_41" id=cp4></div>
                <div class="">
                    <div class="w key d4 count_num_4 k_42" id=d4></div>
                    <span class=' mark_key'>D4</span>
                </div>
                <div class="b key p d#4 count_num_4 k_43" id=dp4></div>
                <div class="">
                    <div class="w key e4 count_num_4 k_44" id=e4></div>
                    <span class=' mark_key'>E4</span>
                </div>
                <div class="">
                    <div class="w key f4 count_num_4 k_45" id=f4></div>
                    <span class=' mark_key'>F4</span>
                </div>
                <div class="b key p f#4 count_num_4 k_46" id=fp4></div>
                <div class="">
                    <div class="w key g4 count_num_4 k_47" id=g4></div>
                    <span class=' mark_key'>G4</span>
                </div>
                <div class="b key p g#4 count_num_4 k_48" id=gp4></div>
                <div class="">
                    <div class="w key a4 count_num_4 k_49" id=a4></div>
                    <span class=' mark_key'>A4</span>
                </div>
                <div class="b key p a#4 count_num_4 k_50" id=ap4></div>
                <div class="">
                    <div class="w key b4 count_num_4 k_51" id=b4></div>
                    <span class=' mark_key'>B4</span>
                </div>
            </div>
        </div>
        <div class="C5_block piano_block flex vanish">
            <div class="keys">
                <div><div class="w key c5 standard_key count_num_5 k_52" id="c5"></div><span class=' mark_key'>C5</span></div>
                <div class="b key p c#5 count_num_5 k_53" id=cp5></div>
                <div class="">
                    <div class="w key d5 count_num_5 k_54" id=d5></div>
                    <span class=' mark_key'>D5</span>
                </div>
                <div class="b key p d#5 count_num_5 k_55" id=dp5></div>
                <div class="">
                    <div class="w key e5 count_num_5 k_56" id=e5></div>
                    <span class=' mark_key'>E5</span>
                </div>
                <div class="">
                    <div class="w key f5 count_num_5 k_57" id=f5></div>
                    <span class=' mark_key'>F5</span>
                </div>
                <div class="b key p f#5 count_num_5 k_58" id=fp5></div>
                <div class="">
                    <div class="w key g5 count_num_5 k_59" id=g5></div>
                    <span class=' mark_key'>G5</span>
                </div>
                <div class="b key p g#5 count_num_5 k_60" id=gp5></div>
                <div class="">
                    <div class="w key a5 count_num_5 k_61" id=a5></div>
                    <span class=' mark_key'>A5</span>
                </div>
                <div class="b key p a#5 count_num_5 k_62" id=ap5></div>
                <div class="">
                    <div class="w key b5 count_num_5 k_63" id=b5></div>
                    <span class=' mark_key'>B5</span>
                </div>
            </div>
        </div>
        <div class="C6_block piano_block flex vanish">
            <div class="keys">
                <div><div class="w key c6 standard_key count_num_6 k_64" id="c6"></div><span class=' mark_key'>C6</span></div>
                <div class="b key p c#6 count_num_6 k_65" id=cp6></div>
                <div class="">
                    <div class="w key d6 count_num_6 k_66" id=d6></div>
                    <span class=' mark_key'>D6</span>
                </div>
                <div class="b key p d#6 count_num_6 k_67" id=dp6></div>
                <div class="">
                    <div class="w key e6 count_num_6 k_68" id=e6></div>
                    <span class=' mark_key'>E6</span>
                </div>
                <div class="">
                    <div class="w key f6 count_num_6 k_69" id=f6></div>
                    <span class=' mark_key'>F6</span>
                </div>
                <div class="b key p f#6 count_num_6 k_70" id=fp6></div>
                <div class="">
                    <div class="w key g6 count_num_6 k_71" id=g6></div>
                    <span class=' mark_key'>G6</span>
                </div>
                <div class="b key p g#6 count_num_6 k_72" id=gp6></div>
                <div class="">
                    <div class="w key a6 count_num_6 k_73" id=a6></div>
                    <span class=' mark_key'>A6</span>
                </div>
                <div class="b key p a#6 count_num_6 k_74" id=ap6></div>
                <div class="">
                    <div class="w key b6 count_num_6 k_75" id=b6></div>
                    <span class=' mark_key'>B6</span>
                </div>
            </div>
        </div>
        <div class="C7_block piano_block flex vanish">
            <div class="keys">
                <div><div class="w key c7 standard_key count_num_7 k_76" id="c7"></div><span class=' mark_key'>C7</span></div>
                <div class="b key p c#7 count_num_7 k_77" id=cp7></div>
                <div class="">
                    <div class="w key d7 count_num_7 k_78" id=d7></div>
                    <span class=' mark_key'>D7</span>
                </div>
                <div class="b key p d#7 count_num_7 k_79" id=dp7></div>
                <div class="">
                    <div class="w key e7 count_num_7 k_80" id=e7></div>
                    <span class=' mark_key'>E7</span>
                </div>
                <div class="">
                    <div class="w key f7 count_num_7 k_81" id=f7></div>
                    <span class=' mark_key'>F7</span>
                </div>
                <div class="b key p f#7 count_num_7 k_82" id=fp7></div>
                <div class="">
                    <div class="w key g7 count_num_7 k_83" id=g7></div>
                    <span class=' mark_key'>G7</span>
                </div>
                <div class="b key p g#7 count_num_7 k_84" id=gp7></div>
                <div class="">
                    <div class="w key a7 count_num_7 k_85" id=a7></div>
                    <span class=' mark_key'>A7</span>
                </div>
                <div class="b key p a#7 count_num_7 k_86" id=ap7></div>
                <div class="">
                    <div class="w key b7 count_num_7 k_87" id=b7></div>
                    <span class=' mark_key'>B7</span>
                </div>
            </div>
        </div>
        <div class="C8_block piano_block vanish">
            <div class="">
                <div class="c8 key w base standard_key k_88"  id="c8"></div>
                <span class=' mark_key'>C8</span>
            </div>
        </div>

        </div>
    </div>
</div>