<div class="mini_piano flex">
    <div class="A0_block piano_block flex">
        <div class="keys">
            <div class="">
                <div class="w skey standard_key mini_key_0" id='a0'></div>
                <span class=' mark_key'>A0</span>
            </div>
            <div class="b skey p mini_key_0" id="ap0"></div>
            <div class="">
                <div class="w skey mini_key_0" id="b0"></div>
                <span class=' mark_key'>B0</span>
            </div>
        </div>
    </div>
    <div class="piano_block flex">
        <div class="keys">
            <div>
                <div class="w skey mini_key_1 standard_key" id="c1"></div><span class=' mark_key'>C1</span>
            </div>
            <div class="b skey mini_key_1 p" id=cp1></div>
            <div class="">
                <div class="w skey mini_key_1" id=d1></div>
                <span class=' mark_key'>D1</span>
            </div>
            <div class="b skey mini_key_1 p d#1" id=dp1></div>
            <div class="">
                <div class="w skey mini_key_1 e1" id=e1></div>
                <span class=' mark_key'>E1</span>
            </div>
            <div class="">
                <div class="w skey mini_key_1 f1" id=f1></div>
                <span class=' mark_key'>F1</span>
            </div>
            <div class="b skey mini_key_1 p f#1" id=fp1></div>
            <div class="">
                <div class="w skey mini_key_1 g1" id=g1></div>
                <span class=' mark_key'>G1</span>
            </div>
            <div class="b skey mini_key_1 p g#1" id=gp1></div>
            <div class="">
                <div class="w skey mini_key_1 a1" id=a1></div>
                <span class=' mark_key'>A1</span>
            </div>
            <div class="b skey mini_key_1 p a#1" id=ap1></div>
            <div class="">
                <div class="w skey mini_key_1 b1" id=b1></div>
                <span class=' mark_key'>B1</span>
            </div>
        </div>
    </div>
    <div class="piano_block flex">
        <div class="keys">
            <div>
                <div class="w skey mini_key_2 c2 standard_key" id="c2"></div><span class=' mark_key'>C2</span>
            </div>
            <div class="b skey mini_key_2 p c#2" id=cp2></div>
            <div class="">
                <div class="w skey mini_key_2 d2" id=d2></div>
                <span class=' mark_key'>D2</span>
            </div>
            <div class="b skey mini_key_2 p d#2" id=dp2></div>
            <div class="">
                <div class="w skey mini_key_2 e2" id=e2></div>
                <span class=' mark_key'>E2</span>
            </div>
            <div class="">
                <div class="w skey mini_key_2 f2" id=f2></div>
                <span class=' mark_key'>F2</span>
            </div>
            <div class="b skey mini_key_2 p f#2" id=fp2></div>
            <div class="">
                <div class="w skey mini_key_2 g2" id=g2></div>
                <span class=' mark_key'>G2</span>
            </div>
            <div class="b skey mini_key_2 p g#2" id=gp2></div>
            <div class="">
                <div class="w skey mini_key_2 a2" id=a2></div>
                <span class=' mark_key'>A2</span>
            </div>
            <div class="b skey mini_key_2 p a#2" id=ap2></div>
            <div class="">
                <div class="w skey mini_key_2 b2" id=b2></div>
                <span class=' mark_key'>B2</span>
            </div>
        </div>
    </div>
    <div class="piano_block flex">
        <div class="keys">
            <div>
                <div class="w skey mini_key_3 c3 standard_key" id="c3"></div><span class=' mark_key'>C3</span>
            </div>
            <div class="b skey mini_key_3 p c#3" id=cp3></div>
            <div class="">
                <div class="w skey mini_key_3 d3" id=d3></div>
                <span class=' mark_key'>D3</span>
            </div>
            <div class="b skey mini_key_3 p d#3" id=dp3></div>
            <div class="">
                <div class="w skey mini_key_3 e3" id=e3></div>
                <span class=' mark_key'>E3</span>
            </div>
            <div class="">
                <div class="w skey mini_key_3 f3" id=f3></div>
                <span class=' mark_key'>F3</span>
            </div>
            <div class="b skey mini_key_3 p f#3" id=fp3></div>
            <div class="">
                <div class="w skey mini_key_3 g3" id=g3></div>
                <span class=' mark_key'>G3</span>
            </div>
            <div class="b skey mini_key_3 p g#3" id=gp3></div>
            <div class="">
                <div class="w skey mini_key_3 a3" id=a3></div>
                <span class=' mark_key'>A3</span>
            </div>
            <div class="b skey mini_key_3 p a#3" id=ap3></div>
            <div class="">
                <div class="w skey mini_key_3 b3" id=b3></div>
                <span class=' mark_key'>B3</span>
            </div>
        </div>
    </div>
    <div class="piano_block flex">
        <div class="keys">
            <div>
                <div class="w skey mini_key_4 c4 standard_key mini_key_4_w" id="c4"></div><span class=' mark_key'>C4</span>
            </div>
            <div class="b skey mini_key_4 p" id=cp4></div>
            <div class="">
                <div class="w skey mini_key_4 d4 mini_key_4_w" id=d4></div>
                <span class=' mark_key'>D4</span>
            </div>
            <div class="b skey mini_key_4 p d#4" id=dp4></div>
            <div class="">
                <div class="w skey mini_key_4 e4 mini_key_4_w" id=e4></div>
                <span class=' mark_key'>E4</span>
            </div>
            <div class="">
                <div class="w skey mini_key_4 f4 mini_key_4_w" id=f4></div>
                <span class=' mark_key'>F4</span>
            </div>
            <div class="b skey mini_key_4 p f#4" id=fp4></div>
            <div class="">
                <div class="w skey mini_key_4 g4 mini_key_4_w" id=g4></div>
                <span class=' mark_key'>G4</span>
            </div>
            <div class="b skey mini_key_4 p g#4" id=gp4></div>
            <div class="">
                <div class="w skey mini_key_4 a4 mini_key_4_w" id=a4></div>
                <span class=' mark_key'>A4</span>
            </div>
            <div class="b skey mini_key_4 p a#4" id=ap4></div>
            <div class="">
                <div class="w skey mini_key_4 b4 mini_key_4_w" id=b4></div>
                <span class=' mark_key'>B4</span>
            </div>
        </div>
    </div>
    <div class="piano_block flex">
        <div class="keys">
            <div>
                <div class="w skey mini_key_5 c5 standard_key" id="c5"></div><span class=' mark_key'>C5</span>
            </div>
            <div class="b skey mini_key_5 p c#5" id=cp5></div>
            <div class="">
                <div class="w skey mini_key_5 d5" id=d5></div>
                <span class=' mark_key'>D5</span>
            </div>
            <div class="b skey mini_key_5 p d#5" id=dp5></div>
            <div class="">
                <div class="w skey mini_key_5 e5" id=e5></div>
                <span class=' mark_key'>E5</span>
            </div>
            <div class="">
                <div class="w skey mini_key_5 f5" id=f5></div>
                <span class=' mark_key'>F5</span>
            </div>
            <div class="b skey mini_key_5 p f#5" id=fp5></div>
            <div class="">
                <div class="w skey mini_key_5 g5" id=g5></div>
                <span class=' mark_key'>G5</span>
            </div>
            <div class="b skey mini_key_5 p g#5" id=gp5></div>
            <div class="">
                <div class="w skey mini_key_5 a5" id=a5></div>
                <span class=' mark_key'>A5</span>
            </div>
            <div class="b skey mini_key_5 p a#5" id=ap5></div>
            <div class="">
                <div class="w skey mini_key_5 b5" id=b5></div>
                <span class=' mark_key'>B5</span>
            </div>
        </div>
    </div>
    <div class="piano_block flex">
        <div class="keys">
            <div>
                <div class="w skey mini_key_6 c6 standard_key" id="c6"></div><span class=' mark_key'>C6</span>
            </div>
            <div class="b skey mini_key_6 p c#6" id=cp6></div>
            <div class="">
                <div class="w skey mini_key_6 d6" id=d6></div>
                <span class=' mark_key'>D6</span>
            </div>
            <div class="b skey mini_key_6 p d#6" id=dp6></div>
            <div class="">
                <div class="w skey mini_key_6 e6" id=e6></div>
                <span class=' mark_key'>E6</span>
            </div>
            <div class="">
                <div class="w skey mini_key_6 f6" id=f6></div>
                <span class=' mark_key'>F6</span>
            </div>
            <div class="b skey mini_key_6 p f#6" id=fp6></div>
            <div class="">
                <div class="w skey mini_key_6 g6" id=g6></div>
                <span class=' mark_key'>G6</span>
            </div>
            <div class="b skey mini_key_6 p g#6" id=gp6></div>
            <div class="">
                <div class="w skey mini_key_6 a6" id=a6></div>
                <span class=' mark_key'>A6</span>
            </div>
            <div class="b skey mini_key_6 p a#6" id=ap6></div>
            <div class="">
                <div class="w skey mini_key_6 b6" id=b6></div>
                <span class=' mark_key'>B6</span>
            </div>
        </div>
    </div>
    <div class="piano_block flex">
        <div class="keys">
            <div>
                <div class="w skey mini_key_7 c7 standard_key" id="c7"></div><span class=' mark_key'>C7</span>
            </div>
            <div class="b skey mini_key_7 p c#7" id=cp7></div>
            <div class="">
                <div class="w skey mini_key_7 d7" id=d7></div>
                <span class=' mark_key'>D7</span>
            </div>
            <div class="b skey mini_key_7 p d#7" id=dp7></div>
            <div class="">
                <div class="w skey mini_key_7 e7" id=e7></div>
                <span class=' mark_key'>E7</span>
            </div>
            <div class="">
                <div class="w skey mini_key_7 f7" id=f7></div>
                <span class=' mark_key'>F7</span>
            </div>
            <div class="b skey mini_key_7 p f#7" id=fp7></div>
            <div class="">
                <div class="w skey mini_key_7 g7" id=g7></div>
                <span class=' mark_key'>G7</span>
            </div>
            <div class="b skey mini_key_7 p g#7" id=gp7></div>
            <div class="">
                <div class="w skey mini_key_7 a7" id=a7></div>
                <span class=' mark_key'>A7</span>
            </div>
            <div class="b skey mini_key_7 p a#7" id=ap7></div>
            <div class="">
                <div class="w skey mini_key_7 b7" id=b7></div>
                <span class=' mark_key'>B7</span>
            </div>
        </div>
    </div>

    <div class="piano_block">
        <div class="">
            <div class="c8 skey mini_key_8 w base standard_key" id="c8"></div>
            <span class=' mark_key'>C8</span>
        </div>
    </div>

</div>