<div class="score">
    <div class="score_container">
        <!-- 鍵盤の範囲 -->
        <div class="select_block">
            <div class="select_box">
                <% if user_signed_in? %>
                <!-- 保存した問題を使用するかの選択 -->
                <div class="select_registed_sound">
                    <p class="select_title">保存した問題を使用</p>
                    <div class="inline-radio">
                        <div class="slect_content"><input class="key_select select_registed_sound_question" type="radio"
                                name="select_registed_sound_question" value="0" checked><label>しない</label></div>
                        <div class="slect_content">
                            <input class="key_select select_registed_sound_question" type="radio"
                                name="select_registed_sound_question" value="1"><label>する</label>
                        </div>
                    </div>
                </div>

                <%# 問題を選ぶセレクトボックス %>
                <div id="registered_sound_question_select_box" class="cp_ipselect vanish">
                    <input id="registered_sound_question_input" type="text" value="<%= @profile.sound_qestion %>">

                    <label class="cp_sl06_selectlabel" id="">保存した問題を選択して下さい</label>
                    <span class="cp_sl06_selectbar"></span>
                    <span class="cp_sl06_highlight"></span>
                </div>
                <% end %>
                <div id="registered_sound_question_select_box_under">
                    <p class="select_title">選択範囲</p>
                    <% if user_signed_in? %>
                    <div class="">
                        <% else %>
                        <div class="vanish">
                            <% end %>
                            <p class="error select_error">開始位置より大きくして下さい</p>
                            <select class="select_title" id="start_target" name="range_start">
                                <% @choice.each do |c| %>
                                <% if c == 'C4'%>
                                <option value="<%= c %>_block" selected><%= c %></option>
                                <% else %>
                                <option value="<%= c %>_block"><%= c %></option>
                                <% end %>
                                <% end %>
                            </select>
                            <span>〜</span>
                            <select class="select_title" id="end_target" name="range_end">
                                <% @choice.each do |c| %>
                                <% if c == 'C4'%>
                                <option value="<%= c %>_block" selected><%= c %></option>
                                <% else %>
                                <option value="<%= c %>_block"><%= c %></option>
                                <% end %>
                                <% end %>
                            </select>
                        </div>
                        <%# ミニ鍵盤 %>
                    </div>


                </div>
                <div class="flex ckeck_box">
                    <!-- 鍵盤の選択 -->
                    <div class="ckeck_box_l">
                        <p class="select_title">鍵盤選択</p>
                        <div class="key_select_block inline-radio">
                            <div class="slect_content"><input class="key_select" type="radio" name="selected_key"
                                    value="white" checked><label>白鍵</label></div>
                            <div class="slect_content">
                                <input class="key_select" type="radio" name="selected_key"
                                    value="both"><label>両方</label>
                            </div>
                        </div>
                    </div>
                    <!-- 音の数 -->
                    <div class="ckeck_box_r">
                        <p class="select_title">音の数</p>
                        <div class="sound_num_select_block inline-radio">
                            <div class="slect_content">
                                <input class="sound_select" type="radio" name="selected_sound_num" value="1"
                                    checked><label>1</label>
                            </div>
                            <div class="slect_content">
                                <input class="sound_select" type="radio" name="selected_sound_num"
                                    value="3"><label>3</label>
                            </div>
                            <div class="slect_content">
                                <input class="sound_select" type="radio" name="selected_sound_num"
                                    value="5"><label>5</label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 問題数の選択 -->
                <div class="ckeck_box_u">
                    <p class="select_title">出題数</p>
                    <div class="qeustion_num_select_block inline-radio">
                        <div class="slect_content">
                            <input class="sound_select" type="radio" name="question_num" value="10"
                                checked><label>10</label>
                        </div>
                        <div class="slect_content">
                            <input class="sound_select" type="radio" name="question_num" value="20"><label>20</label>
                        </div>
                        <div class="slect_content">
                            <input class="sound_select" type="radio" name="question_num" value="30"><label>30</label>
                        </div>
                        <div class="slect_content">
                            <input class="sound_select" type="radio" name="question_num" value="40"><label>40</label>
                        </div>
                        <div class="slect_content">
                            <input class="sound_select" type="radio" name="question_num" value="50"><label>50</label>
                        </div>
                    </div>
                </div>
                <div class="start_btn_block">
                    <button id="sound_start_btn" class="btn start_btn select_title">START</button>
                </div>
            </div>

            <div id="sore_content">
                <p class="base_text" id="insert_question_num">第1問</p>

                <%= render 'share/vol_icon' %>

                <!-- 携帯用の楽譜 -->
                <div class="score_board heon flex">
                    <%= render 'share/bord_of_phone' %>
                </div>

            </div>

        </div>
        <div class="jfc mt30">
            <%= render 'share/mini_key' %>
        </div>