<% a_e_array = ["a","b","c","d","e","f","g"] %>
<% sharp_array = ["a","c","d","f","g"] %>

<%= audio_tag 'keyfile/a0.mp3', data: {key: 'a0'} %>
<%= audio_tag 'keyfile/ap0.mp3', data: {key: 'ap0'} %>
<%= audio_tag 'keyfile/b0.mp3', data: {key: 'b0'} %>
<% for key in a_e_array %>
    <% for i in 1..7 %>
    <%= audio_tag 'keyfile/' + key + i.to_s +  '.mp3', data: {key: key + i.to_s} %>
    <% end %>
<% end %>
<% for key in sharp_array %>
    <% for i in 1..7 %>
    <%= audio_tag 'keyfile/' + key + "p" + i.to_s +  '.mp3', data: {key: key + "p" + i.to_s} %>
    <% end %>
<% end %>


<%= audio_tag 'keyfile/c8.mp3', data: {key: 'c8'} %>