<div class="vol_block flex">
  <%# 進行度とレベル %>
  <div class="vol_left">
    <div class="point_bar_block point_bar_block_over">
      <span id="insert_progress" class="base_text">進行度</span>
      <figure id="progress_bar" class="base_text"></figure>
    </div>
    <div class="point_bar_block point_bar_block_under">
      <span id="insert_point" class="base_text"></span>
      <figure id="point_bar"></figure>
    </div>
  </div>
  <div class="vol_right">
    <div class="vol_content">
      <%= image_tag("onsei.svg", class:"vol_icon", id:"vol") %>
      <span class="vanish" id="vol_text">×</span>
    </div>
  </div>
</div>
