$b-color: black;
$hight: 15px;

.level_span{
    font-size: 12px;
}
:root {
    --width: 0%;
    --pro_width: 0%;
}
.vol_right{
    margin-left: 8px;
}

.point_bar_block_under {
    margin-top: 8px;
}

.point_bar_block {
    border: 2px solid $b-color;
    width: 200px;
    position: relative;

    #insert_point,
    #insert_progress {
        position: absolute;
        top: -3px;
        right: 5px;
        z-index: 5;
        color: #fff;
        text-shadow: 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000;

    }


    #point_bar,
    #progress_bar {
        height: $hight;
        line-height: $hight;
        background: red;
        border: 1px solid $b-color;
        text-align: center;
        position: relative;
        overflow: hidden;

        &::after {
            content: "";
            display: block;
            width: 10px;
            height: 100%;
            position: absolute;
            top: -180px;
            left: 0;
            background-color: #FFF;
            opacity: 0;
            transform: rotate(45deg);
            animation: reflect 2s ease-in-out infinite;
            -webkit-transform: rotate(45deg);
            -webkit-animation: reflect 2s ease-in-out infinite;
        }
    }


    #point_bar {
        width: var(--width);
    }

    #progress_bar {
        width: var(--pro_width);
    }

    #insert_progress {
        font-size: 13px;
    }

}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

.bounce {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-name: bounce;
}



@keyframes reflect {
    0% {
        transform: scale(0) rotate(45deg);
        opacity: 0;
    }

    80% {
        transform: scale(0) rotate(45deg);
        opacity: 0.5;
    }

    81% {
        transform: scale(4) rotate(45deg);
        opacity: 1;
    }

    100% {
        transform: scale(100) rotate(45deg);
        opacity: 0;
    }
}

@-webkit-keyframes reflect {
    0% {
        transform: scale(0) rotate(45deg);
        opacity: 0;
    }

    80% {
        transform: scale(0) rotate(45deg);
        opacity: 0.5;
    }

    81% {
        transform: scale(4) rotate(45deg);
        opacity: 1;
    }

    100% {
        transform: scale(100) rotate(45deg);
        opacity: 0;
    }
}