<div class="user_edit">
    <%= render 'share/header' %>
  <div class="container">
    <div class="user_edit_container">
      <div class="user_content_block">
        <h2><%= t('.title', resource: resource.model_name.human) %></h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :"名前", class: "form_title" %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "email", class: "form" %>
        </div>

        <div class="field">
          <%= f.label :email, class: "form_title" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div><%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email)%></div>
        <% end %>

        <div class="field">
          <%= f.label :password, class: "form_title" %>
          <i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it') %>)</i><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "form" %>
          <% if @minimum_password_length %>
          <br />
          <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
          <% end %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, class: "form_title" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form" %>
        </div>

        <div class="field">
          <%= f.label :current_password, class: "form_title" %>
          <i>(<%= t('.we_need_your_current_password_to_confirm_your_changes') %>)</i><br />
          <%= f.password_field :current_password, autocomplete: "current-password", class: "form" %>
        </div>

        <div class="actions">
          <%= f.submit t('.update'), class: "action_btn" %>
        </div>
        <% end %>
        <%= button_to 'アカウントを消去', registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete , class: "action_btn"%>
        </p>

      </div>
    </div>
  </div>
</div>