<div class="registrations">
    <%= render 'share/header' %>
  <div class="container">
    <div class="registrations_container">
      <div class="user_content_block">

        <h2>Sign up</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :name, class: "form_title"  %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form"%>
        </div>

        <div class="field">
          <%= f.label :email, class: "form_title" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form" %>
        </div>

        <div class="field">
          <%= f.label :password, class: "form_title"  %>
          <% if @minimum_password_length %>
          <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "form" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, class: "form_title"  %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form" %>
        </div>

        <div class="actions">
          <%= f.submit "登録", class: "action_btn sign_up_btn" %>
        </div>
        <% end %>

        <%= render "devise/shared/links" %>


      </div>
    </div>
  </div>
</div>