@import "./variable";

#to_top {
    cursor: pointer;
    width: 54px;
    height: 54px;
    line-height: 50px;
    text-align: center;
    background: $red;
    position: fixed;
    bottom: 20px;
    right: 15px;
    opacity: 0.8;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    z-index: 99;
}

@media only screen and (max-width: 1200px) {
    #to_top {
        width: 100px;
        height: 100px;
        line-height: 90px;
        font-size: 34px;


    }
}


.index_container {
    width: 100%;
    // width: 65%;
    justify-content: center;
    background-position: center;
    background-size: cover;
    // opacity: 0.95;


}

.js_drow_check_code {
    background: $red;
}

.content_section {
    width: 100%;
}

.top_left {
    left: 65px !important;
}

.container_mb {
    padding-bottom: 30px !important;
}

.home_block {

    .keyboard_block {
        margin-top: 30px;

    }
}

.insert_top_content_block {
    padding: 30px 0;
    position: relative;
}

.top_content {
    max-width: 1200px;
    margin: 0 auto;
}

.top_code {
    justify-content: space-between;
    margin-top: 15px;
}

.index_content {
    display: flex;
    align-items: center;
}

.header_under {
    background: $bl;
    height: 60px;
}

.top_score_keyboard_block {
    display: flex;
    justify-content: center;
}

.top_image {
    width: 100%;
    height: 200px;
}

.top_select_block {
    padding: 30px 30px 30px 30px;
    // margin-bottom: 20px;

    .top_select {
        margin-bottom: 20px;

    }

    .top_select_box {

        .check_t {
            position: absolute;
            right: -1px;
            top: -2px;
            // border-top: 50px solid #F0897F;
            border-right: 20px solid $red;
            border-bottom: 20px solid transparent;
            border-left: 20px solid transparent;
        }

        .first_check {
            top: -1px !important;
        }

        width: 100%;
        border: 1px solid black;

        .top_select_title,
        .top_select_content {
            height: 40px;
            line-height: 40px;
            text-align: center;
        }

        .top_select_title {
            cursor: pointer;
            background: $bl;
            color: #fff;
            border-bottom: black 1px solid;
            font-size: 18px;
            font-weight: bold;
            position: relative;

        }

        .top_select_content {
            position: relative;
            cursor: pointer;
            color: #000;
            font-size: 16px !important;
            // text-shadow: 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000,
            //     0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000,
            //     0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000,
            //     0 0 2px #000, 0 0 2px #000;

            &:hover {
                background: yellow;
            }

            a {
                display: block;
                color: #000;
            }

        }

        .top_select_content:not(:last-child) {
            border-bottom: solid 1px black;

        }

        .selected {
            background: yellow;
        }


    }

}

.score_key_btn {
    margin-top: 14px;
}

// 楽譜基礎知識
.basic_knowledge_select_block {
    margin-bottom: 25px;
    margin-top: 5px;
}

.score_basic_title {
    cursor: pointer;
    height: 60px;
    line-height: 60px;
    background-color: $bl;
    color: #fff;
    border-radius: 3px;
    font-size: 32px;
    transition: 0.3s;
    border: 1px solid #fff;
    display: block;
    width: 100.5%;
    text-align: center;

    &:hover {
        opacity: 0.8;
        border: 2px solid #000;
        background: #fff;
        color: #000;
        border: 1px solid #fff;
    }

}

.score_basic_knowledge_content {
    width: 100%;
    margin: 0 auto;
    text-align: center;

    .top_mini_key_block {
        margin-bottom: 20px;
    }

    .scale_image_box {
        max-width: 700px;
        margin: 0 auto;

        .scale_image {
            width: 100%;
        }

    }

    .notetable_image_box {
        max-width: 550px;
        margin: 0 auto;
        margin-top: 17px;
        margin-bottom: 10px;

        .notetable_image {
            width: 100%;
        }
    }

    .futen_image_box {
        max-width: 550px;
        margin: 0 auto;

        .futen_image {
            width: 150px;
            margin-top: 18px;
            margin-bottom: 18px;
        }
    }

}

// 記号
.symbol_title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.symbol_table {
    width: 100%;

    .symbol_td,
    .symbol_th {
        height: 30px;
        line-height: 30px;
    }

    .strength_imag {
        padding-top: 8px;
        height: 24px;
    }

    .symbol_td_3 {
        width: 33.3%;



    }

    .symbol_td_4 {
        width: 25%;
    }
}

.major_table {
    width: 100%;

    .major_title_tr {
        height: 30px;

        .major_title {
            font-size: 18px;
        }
    }

    .major_tr {
        height: 70px;
    }
}

.major_content {
    text-align: center;
}

.major_title {
    text-align: center;
}

// code基礎
.code_board {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.use_code {
    color: $red;
    font-weight: bold;
    font-size: 24px;
}

.code_board:first-child {
    border-left: 1px solid black;
}

.board_w {
    background: #FAF5E1;
}

.board_b {
    background: lightgray;
}

.code_basic_title {
    font-size: 24px;
    font-weight: bold;
    height: 36px;
    line-height: 36px;
    padding-left: 10px;
    border-left: 3px solid $red;
}

.code_basic_text {
    margin-top: 20px;
}

.code_basic_box {

    .sample_code {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        padding: 0 10px;
    }

}

.code_basic_box:not(:first-child) {
    margin-top: 60px;

}

.code_title {
    font-weight: 16px;
    text-align: center;
    margin-bottom: 10px;

    .code_triangle {
        font-size: 12px;
    }
}

.code_title_header {
    font-size: 24px;
    font-weight: bold;

}

//早見表
.js_code_play_btn {
    cursor: pointer;
    height: 45px;
    line-height: 45px;
    background-color: $bl;
    color: #fff;
    border-radius: 3px;
    font-size: 26px;
    transition: 0.3s;
    border: 1px solid #fff;
    display: block;
    width: 100%;
    text-align: center;

    &:hover {
        opacity: 0.8;
        border: 2px solid #000;
        background: #fff;
        color: #000;
        border: 1px solid #fff;
    }

}