<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
<%= link_to "登録", new_registration_path(resource_name), class: "action_btn" %>
<% end %>

<%- if controller_name != 'sessions' %>
<%= link_to "ログイン", new_session_path(resource_name), class: "action_btn" %>
<% end %>


<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
<%= link_to "パスワードを忘れた", new_password_path(resource_name), class: "action_btn" %>
<% end %>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
<%= link_to "確認メールが来ない", new_confirmation_path(resource_name), class: "action_btn" %>
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
<%= link_to t('.didn_t_receive_unlock_instructions'), new_unlock_path(resource_name), class: "action_btn" %>
<% end %>
<div class="google_btn">
    <%= link_to 'Googleで認証', user_google_oauth2_omniauth_authorize_path, class: "action_btn", method: :post  %>
    <div class="g_position">
        <div class="g_image_box">
            <%= image_tag("google.svg", class:"g_image") %>
        </div>
    </div>
</div>


<!-- <%- if devise_mapping.omniauthable? %>
<%- resource_class.omniauth_providers.each do |provider| %>
<%= link_to t('.sign_in_with_provider', provider: OmniAuth::Utils.camelize(provider)), omniauth_authorize_path(resource_name, provider), class: "action_btn" %>
<% end %>
<% end %> -->
