<div class="top_select_block">

    <div class="top_select_box">
        <div class="top_select_title" data-select="0">学習ツール
            <div class="check_t first_check vanish"></div>
        </div>
        <div class="top_select_content">
            <%= link_to "音感", questions_sound_path, class: '.cover_link' %>
        </div>
        <div class="top_select_content">
            <%= link_to "楽譜", questions_score_path, class: '.cover_link' %>
        </div>
        <div class="top_select_content">
            <%= link_to "コード", questions_code_path, class: '.cover_link' %>
        </div>

    </div>
    <div class="top_select_box">
        <div class="top_select_title b_l" data-select="1">音楽ツール <div class="check_t vanish"></div>
        </div>
        <div class="top_select_content">
            <%= link_to "調確認", tools_key_path, class: '.cover_link' %>
        </div>
        <div class="top_select_content">
            <%= link_to "コード精製", tools_code_path, class: '.cover_link' %>
        </div>
        <div class="top_select_content">
            <%= link_to "楽譜、鍵盤確認", tools_metronome_path, class: '.cover_link' %>
        </div>
    </div>
    <div class="top_select_box">
        <div class="top_select_title b_l" data-select="2">Theory<div class="check_t vanish"></div>
        </div>
        <div class="top_select_content">
            現在作成中
        </div>
        <div class="top_select_content">
            現在作成中
        </div>
        <div class="top_select_content">
            現在作成中
        </div>
    </div>
    <%# <div class="top_select_box">
        <div class="top_select_title b_l" data-select="3">Blog<div class="check_t vanish"></div>
        </div>
        <div class="top_select_content">
            現在作成中
        </div>
    </div> %>

</div>
<%= javascript_pack_tag 'sidebar/index' %>