@import "variable";


#show_bpm {
    margin-bottom: 8px;
    font-size: 34px;
    font-weight: bold;
    text-align: center;
}

.metronom {
    position: relative;
    padding: 150px 30px;

    .sekect_under {
        margin-bottom: 5px;
    }

    #beat_target {
        background: transparent;
        border: transparent;
        border: 2px black solid;
        // border-radius: 3px;
        cursor: pointer;
    }

    .select_beat {
        font-weight: bold;
        font-size: 58px;
        margin-bottom: 20px;
        text-align: center;
        width: 84px;
        height: 84px;
        text-align: center;

        .metoro_op {
            font-size: 16px !important;
        }
    }



    .metro_btn_block {
        margin-left: 8px;

        .metro_btn {
            width: 80px;
            height: 80px;
            line-height: 70px;
            font-size: 32px;
            background: $bl;
            color: #fff;
            border: solid 2px black;
            position: relative;
            cursor: pointer;
            text-align: center;
            transition: 0.3s;

            &:hover {
                opacity: 0.8;
                border: 2px solid #000;
                background: #fff;
                color: #000;
                border: 1px solid #fff;
            }

            span {
                font-size: 60px;
                position: absolute;
                // top: 0;
            }

            .span_1 {
                top: 44%;
                left: 53%;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);


            }

            .span_2 {
                top: 46%;
                left: 51%;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
            }
        }
    }
}

.metro_select_block {
    justify-content: center;

    .metro_input {
        justify-content: center;
        width: 100%;

    }

    .input-range {
        -webkit-appearance: none; // これ無しだとスタイルがほぼ全く反映されないので注意
        appearance: none;
        cursor: pointer; // カーソルを分かりやすく
        background: $red_2; // バーの背景色
        height: 14px; // バーの高さ
        width: 100%; // スライダーの幅
        border-radius: 10px; // バーの端の丸み
        border: solid 3px $red_3; // バーまわりの線
        outline: 0;

        /* アウトラインを消して代わりにfocusのスタイルをあてる */
        &:focus {
            box-shadow: $red;
        }

        // -webkit-向けのつまみ
        &::-webkit-slider-thumb {
            -webkit-appearance: none; // デフォルトのつまみのスタイルを解除
            background: $red; // 背景色
            width: 24px; // 幅
            height: 24px; // 高さ
            border-radius: 50%; // 円形に
            box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15); // 影
        }

        // -moz-向けのつまみ
        &::-moz-range-thumb {
            background: $red; // 背景色
            width: 24px; // 幅
            height: 24px; // 高さ
            border-radius: 50%; // 円形に
            box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15); // 影
            border: none; // デフォルトの線を消す
        }

        // Firefoxで点線が周りに表示されてしまう問題の解消
        &::-moz-focus-outer {
            border: 0;
        }

        // つまみをドラッグしているときのスタイル
        &:active::-webkit-slider-thumb {
            box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.3);
        }
    }
}

.bpm_select_block {
    justify-content: space-between;
}

.metro_span {
    cursor: pointer;
    font-weight: bold;
    // position: relative;

    .span_minus {
        font-size: 36px;
    }

    .span_plus {
        font-size: 36px;
    }
}

.beat_count_block {
    justify-content: center;
}

.beat_circle {
    margin: 0 4px;

}

.beat_circle {
    background: #c6c6c6;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    opacity: 0.9;
}

.beat_circle_color {
    background: $red;
}

.bear_and_btn {
    justify-content: center;
    margin-top: 20px;
}