@import "variable";

.too_box {
    justify-content: center;
}

.tool_content2{
    height: 100vh;
}

.watch_block_right {
    margin-left: 20px;
}

.watch {
    width: 102%;
    margin-top: 5px;
}

.watch_text_box {
    text-align: center;
}

.timer_center {
    margin: 0 15px;
}

#insert_time,
#insert_today_time,
#insert_select_time {
    font-size: 32px;
}


#insert_timer_span {
    color: $red;
}

.action_btn {
    cursor: pointer;
    position: relative;

    .btn_span,
    .span_puse_wrap {
        position: absolute;
        top: 5px;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
}

.span_puse {
    width: 10px;
    height: 25px;
    background: #fff;
    z-index: 1;
    display: inline-block;
    margin: 0 3px;
}

.target_now {
    color: $red;
}