<div class="row">
  <div class="">
    <%= form_for(@profile) do |f| %>
    <%# 音感 %>
    <%= f.text_field :sound_qestion, class: 'sound_qestion', id: 'sound_qestion_edit'%>
    <%# 楽譜 %>
    <%= f.text_field :sound_c, class:  'score_rate vanish', id: 'score_rate_edit_c'%>
    <%= f.text_field :sound_g, class:  'score_rate vanish', id: 'score_rate_edit_g'%>
    <%= f.text_field :sound_d, class:  'score_rate vanish', id: 'score_rate_edit_d'%>
    <%= f.text_field :sound_a, class:  'score_rate vanish', id: 'score_rate_edit_a'%>
    <%= f.text_field :sound_e, class:  'score_rate vanish', id: 'score_rate_edit_e'%>
    <%= f.text_field :sound_b, class:  'score_rate vanish', id: 'score_rate_edit_b'%>
    <%= f.text_field :sound_fp, class: 'score_rate vanish', id: 'score_rate_edit_fp'%>
    <%= f.text_field :sound_cp, class: 'score_rate vanish', id: 'score_rate_edit_cp'%>
    <%= f.text_field :sound_f, class:  'score_rate vanish', id: 'score_rate_edit_f'%>
    <%= f.text_field :sound_bn, class: 'score_rate vanish', id: 'score_rate_edit_bn'%>
    <%= f.text_field :sound_en, class: 'score_rate vanish', id: 'score_rate_edit_en'%>
    <%= f.text_field :sound_an, class: 'score_rate vanish', id: 'score_rate_edit_an'%>
    <%= f.text_field :sound_dn, class: 'score_rate vanish', id: 'score_rate_edit_dn'%>
    <%= f.text_field :sound_gn, class: 'score_rate vanish', id: 'score_rate_edit_gn'%>
    <%= f.text_field :sound_cn, class: 'score_rate vanish', id: 'score_rate_edit_cn'%>
    <%# コード %>
    <%= f.text_field :code_M,   class:  'code_rate vanish', id: 'code_rate_edit_M'%>
    <%= f.text_field :code_M7,  class:  'code_rate vanish', id: 'code_rate_edit_M7'%>
    <%= f.text_field :code_m,   class:  'code_rate vanish', id: 'code_rate_edit_m'%>
    <%= f.text_field :code_m7,  class:  'code_rate vanish', id: 'code_rate_edit_m7'%>
    <%= f.text_field :code_m7_5, class:  'code_rate vanish', id: 'code_rate_edit_m7_5'%>
    <%= f.text_field :code_sus4, class:  'code_rate vanish', id: 'code_rate_edit_sus4'%>
    <%= f.text_field :code_dim7, class: 'code_rate vanish', id: 'code_rate_edit_dim7'%>
    <%= f.text_field :code_aug,  class: 'code_rate vanish', id: 'code_rate_edit_aug'%>
    <%= f.text_field :code_6,   class:  'code_rate vanish', id: 'code_rate_edit_6'%>
    <%= f.text_field :code_add9, class: 'code_rate vanish', id: 'code_rate_edit_add9'%>
    <%= f.text_field :code_7, class: 'code_rate vanish', id: 'code_rate_edit_7'%>
    <%= f.submit "update", class: "action_btn" %>
    <% end %>
  </div>
</div>