<div class="row">
    <div class="">
      <%= form_for(@profile) do |f| %>
      <%= f.text_field :sound_qestion, class: 'sound_qestion', id: 'sound_qestion_edit'%>
        <%= f.text_field :point, class: 'point_form vanish', id: 'point_form_edit'%>
      <%= f.submit "update", class: "action_btn" %>
      <% end %>
    </div>
  </div>