<section id="profile_sound_block">
<%# 問題を選ぶセレクトボックス %>
    <div id="sound_question_select_box" class="cp_ipselect" >

        <label class="cp_sl06_selectlabel">変更対象を選択して下さい</label>
        <span class="cp_sl06_selectbar"></span>
        <span class="cp_sl06_highlight"></span>
    </div>
    <div class="profile_sound_rate_block vanish" id="profile_sound_rate_block">
        <div id="profile_sound_rate">
        <% if  @profile %>
            <%= @profile.sound%>
        <% end %>
        </div>
        <div class="insert_profile_suound_rate"></div>
        <div class="profile_key"></div>
        <%# タイトルのプルダウン追加 %>
        <div class="profile_select_range_block">
            <p class="select_title">問題を更新</p>
            <div class="cp_iptxt">
            <input type="text" class="sound_title ef" id="sound_question_title">
            <span class="focus_line"></span>
            </div>
            <%= render 'share/profile/rate_and_question_bun' %>
            <%# 範囲指定するブロック %>
            <p class="select_title bottom_margin">選択方法</p>
            <div class="inline-radio bottom_margin">
            <div class="slect_content">
                <input class="sound_select select_s chose_sound_range_op" type="radio" name="chose_sound_range_op" value="1" checked><label>鍵盤</label>
            </div>
            <div class="slect_content">
                <input class="sound_select select_s chose_sound_range_op" type="radio" name="chose_sound_range_op" value="2"><label>範囲</label>
            </div>
            <div class="slect_content">
                <input class="sound_select select_s chose_sound_range_op" type="radio" name="chose_sound_range_op" value="3" ><label>キー</label>
            </div>
            <div class="slect_content">
                <input class="sound_select select_s chose_sound_range_op" type="radio" name="chose_sound_range_op" value="4" ><label>正解率</label>
            </div>
            </div>
            <div class="sound_one_of_key" id="sound_one_of_key">
            <p class="base_text">鍵盤から問題を追加出来ます</p>
            </div>
            <div class="sound_range_block vanish" id="sound_range_block">
            <p class="base_text" id="sound_range_text_st">開始位置を選んで下さい</p>
            <p class="base_text vanish" id="sound_range_text_end">終了位置を選んで下さい</p>
            <div class="inline-radio bottom_margin range_margin">
                <div class="slect_content">
                    <input class="chose_w_b chose_w_b_1 select_s" type="radio" name="chose_w_b" value="1" checked><label>白鍵</label>
                </div>
                <div class="slect_content">
                    <input class="chose_w_b chose_w_b_2 select_s" type="radio" name="chose_w_b" value="2" ><label>黒鍵</label>
                </div>
                <div class="slect_content">
                    <input class="chose_w_b chose_w_b_3 select_s" type="radio" name="chose_w_b" value="3" ><label>両方</label>
                </div>
            </div>

            </div>
            <%# 範囲指定するブロック %>
            <div class="questions_select_range_block vanish cp_ipselect" id="questions_select_range_block">
                <%# 動的に切り替える内容の挿入 %>
                <select  id="key_select" class="cp_sl06" required>
                <option value="" hidden disabled selected></option>
                    <% @key_list.each_with_index do |key, i| %>
                    <option value="<%= i + 3 %>" class=""><%=key %></option>
                <% end %>
                </select>
                <label class="cp_sl06_selectlabel">キーを選択して下さい</label>
                <span class="cp_sl06_selectbar"></span>
                <span class="cp_sl06_highlight"></span>
            </div>

            <%# 正解率で指定するブロック %>
            <div id="sound_rate_range_select_block"class="vanish">
                <p class="base_text">
                問題に追加する範囲を指定して下さい
                </p>
                <div class="sound_rate_select_box">
                <input class="sound_rate_range_input input_box_base" type="number" min="0" max="100"id="sound_rate_range_input_st" placeholder="0">
                <span>〜</span>
                <input class="sound_rate_range_input input_box_base" type="number"id="sound_rate_range_input_end" placeholder="100" min="0" max="100">
                </div>
            </div>
        </div>
    </div>
</section>