<div class="profile_buttons flex"></div>
    <div class="profile_select bottom_margin">
    <div class="inline-radio">
        <div class="slect_content">
            <input class="sound_select add_or_delete add_question select_s" type="radio" name="add_or_delete" value="追加" checked><label>追加</label>
        </div>
        <div class="slect_content">
            <input class="sound_select add_or_delete delete_question select_s" type="radio" name="add_or_delete" value="消去" ><label>消去</label>
        </div>
    </div>
</div>