<div id="show_sound_rate">
    <table class="show_sound_rate_tabel">
    <thead>
        <tr>
            <th colspan="2">正解率</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="rate_table" align="left">選択された音</td>
            <td class="rate_table rate_table_selected_key"align="right">未選択</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td class="rate_table"align="left">出題回数</td>
            <td class="rate_table rate_table_qestion_times"align="right">0回</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td class="rate_table"align="left">正解率</td>
            <td class="rate_table rate_table_rate"align="right">0%</td>
        </tr>
    </tbody>
</table>
</div>