<div class="mypage">
  <%= render 'share/header' %>
  <div class="profile_wrap">
    <div class="container">
      <div class="mypage_container">
        <div class="user_content_block">
          <div class="user_information">
            <% if user_signed_in? && @user == current_user %>
            <% else %>
            <h1>ユーザーページ</h1>
            <% end %>
            <h1 class="user_page_name"><%= @user.name %><span class="level_span">(Lv<%= @level_amount %>)</span></h1>
          </div>
          <div class="profile_content">
            <div class="inline-radio">
              <div class="slect_content">
                <input class="sound_select select_theme" type="radio" name="chose_titile" value="0" checked><label>音感
                  <span class="level_span">(Lv
                    <% if @level != "" %>
                    <%= @level %>
                    <% else %>0
                    <% end %>)
                  </span>
                </label>

              </div>
              <div class="slect_content">
                <input class="sound_select select_theme" type="radio" name="chose_titile" value="1"><label>楽譜<span
                    class="level_span">(Lv
                    <% if @level_s != "" %>
                    <%= @level_s %>
                    <% else %>0
                    <% end %>)
                  </span></label>
              </div>
              <div class="slect_content">
                <input class="sound_select select_theme" type="radio" name="chose_titile" value="2"><label>コード<span
                    class="level_span">(Lv
                    <% if @level_c != "" %>
                    <%= @level_c %>
                    <% else %>0
                    <% end %>)
                  </span></label>
              </div>
            </div>
          </div>
          <%# 選択で動的に切り替えるパーシャル %>
          <%= render 'share/profile/sound/sound_block' %>
          <%= render 'share/profile/score/score_block' %>
          <%= render 'share/profile/code/code_block' %>

          <%# 共通部分 %>
          <section class="common_block">
            <%= render 'share/profile/rate_table' %>
            <div id="common_btn_block" class="vanish">
              <button class="all_clear_btn  action_btn vanish" id="all_clear_btn_of_sound_question">All Clear</button>
              <% if  @error_code == 1 %>
              <p class="profile_error_code vanish"><%= @error_code  %></p>
              <%= render 'share/profile/sound/edit' %>
              <% else %>
              <%= render 'share/profile/sound/edit' %>
              <p class="profile_error_code vanish"><%= @error_code %></p>
              <% end %>
              <p class="attention vanish" id="changed_attention">updateを押して更新を完了させて下さい</p>
            </div>
          </section>
        </div>
      </div>
    </div>

    <%= render 'share/keys' %>
    <%= render 'share/anser_code_key' %>
  </div>
</div>
</div>
<script>
  var result_list_only_key
  var result_list
  var now_display = 0
</script>
<%= javascript_pack_tag 'profile/index' %>
<%= javascript_pack_tag 'profile/sound/index' %>
<%= javascript_pack_tag 'profile/score/index' %>
<%= javascript_pack_tag 'profile/code/index' %>
<%= javascript_pack_tag 'button/index' %>