#insert_code_question {
  font-size: 100px;
  font-weight: bold;
  text-align: center;
}
.code_question_block {
  position: relative;
}
.code_rate_under {
  margin-bottom: 22px;
}
ul {
  padding: 0;
}
.code_rate_block{
  width: 70%;
  margin: 0 auto;
}
.code_rate_list {
  justify-content: space-between;
  margin-top: 35px;
}

.code_result_list {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  border: solid 1px black;
  padding: 8px 16px;
  cursor: pointer;
  color: #fff;
  text-shadow: 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000,
    0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000,
    0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000,
    0 0 2px #000, 0 0 2px #000;
  &:hover {
    background: #fff;
  }
}
.code_select {
  margin-top: 20px;
}
.selct_code {
  margin-bottom: 14px;
}
