<div class="user_login">
    <%= render 'share/header' %>
  <div class="container">
    <div class="user_login_container">
      <div class="user_content_block">
        <h2><%= "パスワードを忘れた" %></h2>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email, class: "form_title" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form" %>
        </div>


        <div class="actions">
          <%= f.submit "再設定メールを送信", class: "action_btn"%>
        </div>
        <% end %>


        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>