<div class="select_key_ckeck_box code_select">
    <div class="cp_ipcheck flex spb select_h_t">

        <% if user_signed_in? %>
        <label class="score_question_label login_vanish ">
            <% else %>
            <label class="score_question_label login_vanish vanish">
                <% end %>
                <input type="checkbox" class="all_check_or_uncheck option-input02 checkbox all_check" />
                <span>全て選択</span>
            </label>
            <% if user_signed_in? %>
            <label class="score_question_label login_vanish">
                <% else %>
                <label class="score_question_label login_vanish vanish">
                    <% end %>

                    <input type="checkbox" class="all_check_or_uncheck option-input02  checkbox all_uncheck" />
                    <span>全て外す</span>
                </label>
    </div>
    <div class="selct_code">
        <p class="base_text_error check_code_error vanish">一つ以上選択して下さい</p>
        <div class="cp_ipcheck flex question_key_selct question_key_selct_code">
            <%= render 'share/question/code/code_key' %>
        </div>
    </div>
    <div id="score_question_btn_block" class="score_question_btn_block">
        <div class="ckeck_box_score_question">
            <p class="select_title">出題数</p>
            <div class="qeustion_num_select_block inline-radio">
                <div class="slect_content">
                    <input class="sound_select" type="radio" name="question_score_num" value="10"
                        checked><label>10</label>
                </div>
                <div class="slect_content">
                    <input class="sound_select" type="radio" name="question_score_num" value="30"><label>30</label>
                </div>
                <div class="slect_content">
                    <input class="sound_select" type="radio" name="question_score_num" value="50"><label>50</label>
                </div>
            </div>
        </div>
        <div class="start_btn_block">
            <button id="score_start_btn" class="btn start_btn select_title">START</button>
        </div>
    </div>
</div>