<%= render 'share/question/code/show_code_rate' %>
<% if user_signed_in? %>
  <p class="base_text">正解率を更新</p>
  <div class="row">
      <div class="">
        <%= form_for(@profile) do |f| %>
          <%= f.text_field :code_M,   class:  'code_rate vanish', id: 'code_rate_edit_M'%>
          <%= f.text_field :code_M7,  class:  'code_rate vanish', id: 'code_rate_edit_M7'%>
          <%= f.text_field :code_m,   class:  'code_rate vanish', id: 'code_rate_edit_m'%>
          <%= f.text_field :code_m7,  class:  'code_rate vanish', id: 'code_rate_edit_m7'%>
          <%= f.text_field :code_m7_5, class:  'code_rate vanish', id: 'code_rate_edit_m7_5'%>
          <%= f.text_field :code_sus4, class:  'code_rate vanish', id: 'code_rate_edit_sus4'%>
          <%= f.text_field :code_dim7, class: 'code_rate vanish', id: 'code_rate_edit_dim7'%>
          <%= f.text_field :code_aug,  class: 'code_rate vanish', id: 'code_rate_edit_aug'%>
          <%= f.text_field :code_6,   class:  'code_rate vanish', id: 'code_rate_edit_6'%>
          <%= f.text_field :code_add9, class: 'code_rate vanish', id: 'code_rate_edit_add9'%>
          <%= f.text_field :code_7, class: 'code_rate vanish', id: 'code_rate_edit_7'%>
          <%= f.text_field :point_code, class: 'point_form vanish', id: 'point_code_form_edit'%>
          <%= f.submit "update", class: "action_btn" %>
        <% end %>
      </div>
    </div>
    <%else%>
     <%= render 'share/sign_up_link' %>
<% end %>
