<div class="chose_key_box_top">
    <label class="code_question_label" id="va_ckey_num_0">
        <input type="checkbox" class="validate_check option-input02 check_code checkbox" id="ckey_num_0" name="M"
            checked="">
        M
        <div class="code_key">
            <div class="keys code_block piano_block flex">
                <div class="code_w code_key code_key_1" style="background-color: yellow;"></div>
                <div class="code_b code_key code_key_2"></div>
                <div class="code_w code_key code_key_3"></div>
                <div class="code_b code_key code_key_4"></div>
                <div class="code_w code_key code_key_5" style="background-color: yellow;"></div>
                <div class="code_w code_key code_key_6"></div>
                <div class="code_b code_key code_key_7"></div>
                <div class="code_w code_key code_key_8" style="background-color: yellow;"></div>
                <div class="code_b code_key code_key_9"></div>
                <div class="code_w code_key code_key_10"></div>
                <div class="code_b code_key code_key_11"></div>
                <div class="code_w code_key code_key_12"></div>
                <div class="code_w code_key code_key_13"></div>
                <div class="code_b code_key code_key_14 last_b"></div>
                <div class="code_w code_key code_key_15"></div>
            </div>
        </div>
    </label>

    <label class="code_question_label" id="va_ckey_num_1">
        <input type="checkbox" class="validate_check option-input02 check_code checkbox" id="ckey_num_1" name="M7">
        M7
        <div class="code_key">
            <div class="keys code_block piano_block flex">
                <div class="code_w code_key code_key_1" style="background-color: yellow;"></div>
                <div class="code_b code_key code_key_2"></div>
                <div class="code_w code_key code_key_3"></div>
                <div class="code_b code_key code_key_4"></div>
                <div class="code_w code_key code_key_5" style="background-color: yellow;"></div>
                <div class="code_w code_key code_key_6"></div>
                <div class="code_b code_key code_key_7"></div>
                <div class="code_w code_key code_key_8" style="background-color: yellow;"></div>
                <div class="code_b code_key code_key_9"></div>
                <div class="code_w code_key code_key_10"></div>
                <div class="code_b code_key code_key_11"></div>
                <div class="code_w code_key code_key_12" style="background-color: yellow;"></div>
                <div class="code_w code_key code_key_13"></div>
                <div class="code_b code_key code_key_14 last_b"></div>
                <div class="code_w code_key code_key_15"></div>
            </div>
        </div>
    </label>
    <label class="code_question_label" id="va_ckey_num_2">
        <input type="checkbox" class="validate_check option-input02 check_code checkbox" id="ckey_num_2" name="m">
        m
        <div class="code_key">
            <div class="keys code_block piano_block flex">
                <div class="code_w code_key code_key_1" style="background-color: yellow;"></div>
                <div class="code_b code_key code_key_2"></div>
                <div class="code_w code_key code_key_3"></div>
                <div class="code_b code_key code_key_4" style="background-color: yellow;"></div>
                <div class="code_w code_key code_key_5"></div>
                <div class="code_w code_key code_key_6"></div>
                <div class="code_b code_key code_key_7"></div>
                <div class="code_w code_key code_key_8" style="background-color: yellow;"></div>
                <div class="code_b code_key code_key_9"></div>
                <div class="code_w code_key code_key_10"></div>
                <div class="code_b code_key code_key_11"></div>
                <div class="code_w code_key code_key_12"></div>
                <div class="code_w code_key code_key_13"></div>
                <div class="code_b code_key code_key_14 last_b"></div>
                <div class="code_w code_key code_key_15"></div>
            </div>
        </div>
    </label>
    <label class="code_question_label" id="va_ckey_num_3">
        <input type="checkbox" class="validate_check option-input02 check_code checkbox" id="ckey_num_3" name="m7">
        m7
        <div class="code_key">
            <div class="keys code_block piano_block flex">
                <div class="code_w code_key code_key_1" style="background-color: yellow;"></div>
                <div class="code_b code_key code_key_2"></div>
                <div class="code_w code_key code_key_3"></div>
                <div class="code_b code_key code_key_4" style="background-color: yellow;"></div>
                <div class="code_w code_key code_key_5"></div>
                <div class="code_w code_key code_key_6"></div>
                <div class="code_b code_key code_key_7"></div>
                <div class="code_w code_key code_key_8" style="background-color: yellow;"></div>
                <div class="code_b code_key code_key_9"></div>
                <div class="code_w code_key code_key_10"></div>
                <div class="code_b code_key code_key_11" style="background-color: yellow;"></div>
                <div class="code_w code_key code_key_12"></div>
                <div class="code_w code_key code_key_13"></div>
                <div class="code_b code_key code_key_14 last_b"></div>
                <div class="code_w code_key code_key_15"></div>
            </div>
        </div>
    </label>
</div>
<div class="chose_key_box_center">
    <label class="code_question_label" id="va_ckey_num_4">
        <input type="checkbox" class="validate_check option-input02 check_code checkbox" id="ckey_num_4" name="m7-5">
        m7-5
        <div class="code_key">
            <div class="keys code_block piano_block flex">
                <div class="code_w code_key code_key_1" style="background-color: yellow;"></div>
                <div class="code_b code_key code_key_2"></div>
                <div class="code_w code_key code_key_3"></div>
                <div class="code_b code_key code_key_4" style="background-color: yellow;"></div>
                <div class="code_w code_key code_key_5"></div>
                <div class="code_w code_key code_key_6"></div>
                <div class="code_b code_key code_key_7" style="background-color: yellow;"></div>
                <div class="code_w code_key code_key_8"></div>
                <div class="code_b code_key code_key_9"></div>
                <div class="code_w code_key code_key_10"></div>
                <div class="code_b code_key code_key_11" style="background-color: yellow;"></div>
                <div class="code_w code_key code_key_12"></div>
                <div class="code_w code_key code_key_13"></div>
                <div class="code_b code_key code_key_14 last_b"></div>
                <div class="code_w code_key code_key_15"></div>
            </div>
        </div>
    </label>
    <label class="code_question_label" id="va_ckey_num_5">
        <input type="checkbox" class="validate_check option-input02 check_code checkbox" id="ckey_num_5" name="sus4">
        sus4
        <div class="code_key">
            <div class="keys code_block piano_block flex">
                <div class="code_w code_key code_key_1" style="background-color: yellow;"></div>
                <div class="code_b code_key code_key_2"></div>
                <div class="code_w code_key code_key_3"></div>
                <div class="code_b code_key code_key_4"></div>
                <div class="code_w code_key code_key_5"></div>
                <div class="code_w code_key code_key_6" style="background-color: yellow;"></div>
                <div class="code_b code_key code_key_7"></div>
                <div class="code_w code_key code_key_8" style="background-color: yellow;"></div>
                <div class="code_b code_key code_key_9"></div>
                <div class="code_w code_key code_key_10"></div>
                <div class="code_b code_key code_key_11"></div>
                <div class="code_w code_key code_key_12"></div>
                <div class="code_w code_key code_key_13"></div>
                <div class="code_b code_key code_key_14 last_b"></div>
                <div class="code_w code_key code_key_15"></div>
            </div>
        </div>
    </label>
    <label class="code_question_label" id="va_ckey_num_6">
        <input type="checkbox" class="validate_check option-input02 check_code checkbox" id="ckey_num_6" name="dim7">
        dim7
        <div class="code_key">
            <div class="keys code_block piano_block flex">
                <div class="code_w code_key code_key_1" style="background-color: yellow;"></div>
                <div class="code_b code_key code_key_2"></div>
                <div class="code_w code_key code_key_3"></div>
                <div class="code_b code_key code_key_4" style="background-color: yellow;"></div>
                <div class="code_w code_key code_key_5"></div>
                <div class="code_w code_key code_key_6"></div>
                <div class="code_b code_key code_key_7" style="background-color: yellow;"></div>
                <div class="code_w code_key code_key_8"></div>
                <div class="code_b code_key code_key_9"></div>
                <div class="code_w code_key code_key_10" style="background-color: yellow;"></div>
                <div class="code_b code_key code_key_11"></div>
                <div class="code_w code_key code_key_12"></div>
                <div class="code_w code_key code_key_13"></div>
                <div class="code_b code_key code_key_14 last_b"></div>
                <div class="code_w code_key code_key_15"></div>
            </div>
        </div>
    </label>
    <label class="code_question_label" id="va_ckey_num_7">
        <input type="checkbox" class="validate_check option-input02 check_code checkbox" id="ckey_num_7" name="aug">
        aug
        <div class="code_key">
            <div class="keys code_block piano_block flex">
                <div class="code_w code_key code_key_1" style="background-color: yellow;"></div>
                <div class="code_b code_key code_key_2"></div>
                <div class="code_w code_key code_key_3"></div>
                <div class="code_b code_key code_key_4"></div>
                <div class="code_w code_key code_key_5" style="background-color: yellow;"></div>
                <div class="code_w code_key code_key_6"></div>
                <div class="code_b code_key code_key_7"></div>
                <div class="code_w code_key code_key_8"></div>
                <div class="code_b code_key code_key_9" style="background-color: yellow;"></div>
                <div class="code_w code_key code_key_10"></div>
                <div class="code_b code_key code_key_11"></div>
                <div class="code_w code_key code_key_12"></div>
                <div class="code_w code_key code_key_13"></div>
                <div class="code_b code_key code_key_14 last_b"></div>
                <div class="code_w code_key code_key_15"></div>
            </div>
        </div>
    </label>
</div>
<div class="chose_key_box_under">
    <label class="code_question_label" id="va_ckey_num_8">
        <input type="checkbox" class="validate_check option-input02 check_code checkbox" id="ckey_num_8" name="6">
        6
        <div class="code_key">
            <div class="keys code_block piano_block flex">
                <div class="code_w code_key code_key_1" style="background-color: yellow;"></div>
                <div class="code_b code_key code_key_2"></div>
                <div class="code_w code_key code_key_3"></div>
                <div class="code_b code_key code_key_4"></div>
                <div class="code_w code_key code_key_5" style="background-color: yellow;"></div>
                <div class="code_w code_key code_key_6"></div>
                <div class="code_b code_key code_key_7"></div>
                <div class="code_w code_key code_key_8" style="background-color: yellow;"></div>
                <div class="code_b code_key code_key_9"></div>
                <div class="code_w code_key code_key_10" style="background-color: yellow;"></div>
                <div class="code_b code_key code_key_11"></div>
                <div class="code_w code_key code_key_12"></div>
                <div class="code_w code_key code_key_13"></div>
                <div class="code_b code_key code_key_14 last_b"></div>
                <div class="code_w code_key code_key_15"></div>
            </div>
        </div>
    </label>
    <label class="code_question_label" id="va_ckey_num_9">
        <input type="checkbox" class="validate_check option-input02 check_code checkbox" id="ckey_num_9" name="add9">
        add9
        <div class="code_key">
            <div class="keys code_block piano_block flex">
                <div class="code_w code_key code_key_1" style="background-color: yellow;"></div>
                <div class="code_b code_key code_key_2"></div>
                <div class="code_w code_key code_key_3"></div>
                <div class="code_b code_key code_key_4"></div>
                <div class="code_w code_key code_key_5" style="background-color: yellow;"></div>
                <div class="code_w code_key code_key_6"></div>
                <div class="code_b code_key code_key_7"></div>
                <div class="code_w code_key code_key_8" style="background-color: yellow;"></div>
                <div class="code_b code_key code_key_9"></div>
                <div class="code_w code_key code_key_10"></div>
                <div class="code_b code_key code_key_11"></div>
                <div class="code_w code_key code_key_12"></div>
                <div class="code_w code_key code_key_13"></div>
                <div class="code_b code_key code_key_14 last_b"></div>
                <div class="code_w code_key code_key_15" style="background-color: yellow;"></div>
            </div>
        </div>
    </label>
    <label class="code_question_label" id="va_ckey_num_10">
        <input type="checkbox" class="validate_check option-input02 check_code checkbox" id="ckey_num_10" name="7">
        7
        <div class="code_key">
            <div class="keys code_block piano_block flex">
                <div class="code_w code_key code_key_1" style="background-color: yellow;"></div>
                <div class="code_b code_key code_key_2"></div>
                <div class="code_w code_key code_key_3"></div>
                <div class="code_b code_key code_key_4"></div>
                <div class="code_w code_key code_key_5" style="background-color: yellow;"></div>
                <div class="code_w code_key code_key_6"></div>
                <div class="code_b code_key code_key_7"></div>
                <div class="code_w code_key code_key_8" style="background-color: yellow;"></div>
                <div class="code_b code_key code_key_9"></div>
                <div class="code_w code_key code_key_10"></div>
                <div class="code_b code_key code_key_11" style="background-color: yellow;"></div>
                <div class="code_w code_key code_key_12"></div>
                <div class="code_w code_key code_key_13"></div>
                <div class="code_b code_key code_key_14 last_b"></div>
                <div class="code_w code_key code_key_15"></div>
            </div>
        </div>
    </label>
</div>