<ul class="flex code_rate_list">
    <% name_list = ["C","C♯","D","D♯","E", "F"]%>
      <% name_list.each_with_index do |item, k| %>
        <li class="code_result_list" id="code_<%= k + 1 %>"><%= item %></li>
      <% end %>
</ul>
<ul class="flex code_rate_list flex code_rate_under">
    <% name_list = ["F♯","G","G♯","A", "A♯", "B"]%>
          <% name_list.each_with_index do |item, k| %>

        <li class="code_result_list" id="code_<%= k + 7 %>"><%= item %></li>
    <% end %>
</ul>