
.correct{
    background: transparent;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: #EF001B solid 35px;
}
.incorrect{
    font-size: 340px;
    transform   : scale(1.6, 1);   /* 変形 横,縦 */
    text-align: center;
    color: #000;
    opacity: 0.9;
}

.correct_or_incorrect{
    opacity: 0.8;
}
.judge_modal{
    display: none;
}

.judge_modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 1;
}