
.top_content{
    position: relative;
    justify-content: space-between;
}
.link_image{
    margin-top: 40px;
    height: 650px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    .link_select_text{
        text-align: center;
        color: #fff;
        font-size: 40px;
        text-shadow:0 0 3px #000,0 0 3px #000,0 0 3px #000,0 0 3px #000,0 0 3px #000,0 0 3px #000,0 0 3px #000,0 0 3px #000,0 0 3px #000,0 0 3px #000,0 0 3px #000,0 0 3px #000,0 0 3px #000,0 0 3px #000,0 0 3px #000,0 0 3px #000;
    }
}
.link{
    margin-right: 16px;
    position: relative;
    text-align: center;
}
.question_image{
    width: 450px;
    height: 450px;
    border: 3px #FC001C solid;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 0.4s;
    &:hover {
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -ms-filter: grayscale(0);
    -o-filter: grayscale(0);
    filter: grayscale(0);
    }
}

.include_text{
    text-align: center;
    color: #fff;
    font-size: 20px;
    text-shadow:0 0 3px #000,0 0 3px #000,0 0 3px #000,0 0 3px #000,0 0 3px #000,0 0 3px #000,0 0 3px #000,0 0 3px #000,0 0 3px #000,0 0 3px #000,0 0 3px #000,0 0 3px #000,0 0 3px #000,0 0 3px #000,0 0 3px #000,0 0 3px #000;
    word-wrap: break-word;

}
#registered_sound_question_input{
    display: none;
}

#registered_sound_question_select_box_under{
    margin-top: 20px;
}

