.w94{
    position: relative;
    width: 94%;
    margin: 0 auto;
}
.w70{
    width: 70%;
    margin: 0 auto;
}
// rate_block
.rate{
    display: none;
}
.sound_result{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 8px;
    border: solid 1px black;
    padding: 8px 16px;
    cursor: pointer;
}
.low{
    background: #FC001C;
}
.hight{
    background: blue;
}
.mid{
    background: yellow;
}

.low_key{
    color: #FC001C;
}
.hight_key{
    color: blue;
}
.mid_key{
    color: #ECE038;
}
.sound_result{
    color: #fff;
    text-shadow:0 0 2px #000,0 0 2px #000,0 0 2px #000,0 0 2px #000,0 0 2px #000,0 0 2px #000,0 0 2px #000,0 0 2px #000,0 0 2px #000,0 0 2px #000,0 0 2px #000,0 0 2px #000,0 0 2px #000,0 0 2px #000,0 0 2px #000,0 0 2px #000;
    &:hover{
        background: #fff;
    }}

.rate_block_ul{
    flex-wrap: wrap;
    justify-content: space-between;
}
.new_form{
    display: none;
}