.heon,
.toon {
  position: relative;
}

.symbol_heon {
  position: absolute;
  top: 70px;
  left: 0;
  width: 65px;
  height: 65px;
}

.symbol_toon {
  position: absolute;
  top: 55px;
  left: -27px;
  width: 100px;
  height: 100px;
}

.phone_symbol_toon,
.phone_symbol_heon,
#sore_content {
  display: none;

}

#sore_content {
  position: relative;

}

.score_block {
  border: solid black 1px;
  background: transparent;
}

.score_block,
.score_block_plus {
  width: 100%;
  height: 15px;
  position: relative;
}

.score_block_plus {
  border: 1px solid transparent;
}

.score_board_block {
  width: 100%;

  position: relative;
}

.score_top {
  position: relative;
  width: 100%;
padding-bottom: 30px;
  
}

.score_title {
  text-align: center;
}

.score_board {
  padding: 0 30px;
  margin-top: 60px;
}

// 音符の処理
.note_on_plusline,
.note_on_lastline,
.center_note,
.plus_note,
.minus_note {
  background: #000;
  width: 20px;
  height: 17px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%) ×;
  -ms-transform: translateX(-50%);
  display: none;
}

.oc_num {
  font-size: 24px;
  font-weight: bold;
  // display: none;
}

.top_of_note {
  top: -16px;
}
.last_top_line{
  top:-16px !important;
}

.note_on_plusline {
  top: -8px;
}

.note_on_lastline {
  top: 8px;
}

.plus_line,
.minus_line {
  width: 30px;
  height: 2px;
  background: #000;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  display: none;
}

.plus_line {
  top: 0;
}

.minus_line {
  bottom: -4px;
}
.last_note_on_plusline{
  top: -24px !important;
}
.last_plus_note{
  top: -32px !important;
}

.sharp {
  position: absolute;
  display: none;
  left: 78px;
  font-size: 32px;
}

.sharp_pt_1 {
  top: -25px;
}

.sharp_pt_2 {
  top: -18px;
}

.sharp_pt_3 {
  top: -36px;
}

.va {
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  display: none;
}

.flat_sharp_block {
  position: relative;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: bold;
  font-size: 36px;
}

$sharp_main-top: 40px;
$sharp_main-left: 60px;

.score_on_sharp_1 {
  position: absolute;
  top: $sharp_main-top;
  left: $sharp_main-left;
}

.score_on_sharp_2 {
  position: absolute;
  top: $sharp_main-top + 24;
  left: $sharp_main-left + 10;
}

.score_on_sharp_3 {
  position: absolute;
  top: $sharp_main-top - 8;
  left: $sharp_main-left + 20;
}

.score_on_sharp_4 {
  position: absolute;
  top: $sharp_main-top + 17;
  left: $sharp_main-left + 30;
}

.score_on_sharp_5 {
  position: absolute;
  top: $sharp_main-top + 42;
  left: $sharp_main-left + 40;
}

.score_on_sharp_6 {
  position: absolute;
  top: $sharp_main-top + 8;
  left: $sharp_main-left + 50;
}

.score_on_sharp_7 {
  position: absolute;
  top: $sharp_main-top + 34;
  left: $sharp_main-left + 60;
}

$flat_main-top: 68px;
$flat_main-left: 60px;

.score_on_flat_1 {
  position: absolute;
  top: $flat_main-top;
  left: $flat_main-left;
}

.score_on_flat_2 {
  position: absolute;
  top: $flat_main-top - 24;
  left: $flat_main-left + 10;

}

.score_on_flat_3 {
  position: absolute;
  top: $flat_main-top + 10;
  left: $flat_main-left + 20;
}

.score_on_flat_4 {
  position: absolute;
  top: $flat_main-top - 16;
  left: $flat_main-left + 30;
}

.score_on_flat_5 {
  position: absolute;
  top: $flat_main-top + 18;
  left: $flat_main-left + 40;
}

.score_on_flat_6 {
  position: absolute;
  top: $flat_main-top - 8;
  left: $flat_main-left + 50;
}

.score_on_flat_7 {
  position: absolute;
  top: $flat_main-top + 26;
  left: $flat_main-left + 60;
}

#insert_score_qusetion_num {
  margin-bottom: 20px;
}


.base_text_error {
  color: red;
  text-align: center;
  margin-bottom: 20px;
}