@import "variable.scss";

.select_block{
    max-width: 800px;
}
.key_select_block,
.sound_num_select_block
{
    max-width: 96%;
}
.qeustion_num_select_block,
.ckeck_box_l,
.ckeck_box_r,
.ckeck_box_u{
    width: 99%;
}
.ckeck_box,
.ckeck_box_u{
    margin-top: 20px;
}
.select_title{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.select_block{
    color:#000;
}
#start_target,
#end_target{
    background: transparent;
    border: transparent;
    border: 2px black solid;
    border-radius: 3px;
    cursor: pointer;
}
.ckeck_box{
    justify-content: space-between;
}

.inline-radio {
    display: flex;
    border-radius: 3px;
    overflow: hidden;
    border: 2px solid #000;
    


    .slect_content {
        position: relative;
        flex: 1;
    }

    .key_select,
    .sound_select {
        width: 100%;
        height: 60px;
        opacity: 0;
        cursor: pointer;
    }
    
    .select_s
    {
        width: 100%;
        height: 28px;
        opacity: 0;
    }

    label {
        position: absolute;
        top: 0; left: 0;
        color: #b6b6b6;
        width: 100%;
        height: 100%;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: none;
        border-right: 1px solid #b6b6b6;
    }

    div:last-child label {
        border-right: 0;
    }

    input:checked + label {
        background: #FC001C;
        font-weight: bold;
        font-size: 24px;
        color: #fff;
    }
}
.start_btn_block{
    max-width: 100%;
    margin-top: 24px;
    .start_btn{
        height: 65px;
        background-color: $bl;
        color: #fff;
        border: 2px solid $bl;
        border-radius: 3px;
        margin-right: 15px;
        width: 98.3%;
        font-size: 32px;
        transition: 0.3s;
        &:hover {
            opacity: 0.8;
            border: 2px solid #000;
            background: #fff;
            color: #000;
          }
    }
}
