<div class="contact_content">
  <%= render 'share/header' %>
  <div class="container">
    <div class="contact_container">
      <p class="base_text main_title">お問い合わせ</p>
      <section class="contact_block">
        <div class="">
          <%= form_for(@contact) do |f| %>
          <div class="">
            <p class="base_text contact_title">お名前</p>
            <%= f.text_field :name, class: "form contact_form" %>
          </div>
          <div class="">
            <p class="base_text contact_title">email</p>
            <%= f.email_field :email, class: "form contact_form" %>
          </div>
          <div class="">
            <p class="base_text contact_title">お問い合わせ内容</p>
            <%= f.text_area :content, class: "contact_form contact_form" ,size: "10x15"%>
          </div>
          <%= f.submit "送信",class: "action_btn", id:"contact_btn" %> <% end %>
        </div>
      </section>
    </div>
  </div>
</div>

<%if @user%>
<div class="vanish">
  <div class="contact_user_info"><%= @user.name %></div>
  <div class="contact_user_info"><%= @user.email %></div>
</div>
<%end%>
<%= javascript_pack_tag 'contact/index' %>