<div class="l_modal">
  <div class="modal_loading_wrap">
    <div class="over"></div>
    <div class="under">
      <div class="text_block">
        <p id="insert_persent">0%</p>
        <p class="flash">音声ファイル変換中...</p>
      </div>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'modal/index' %>
