<div class="select_key_ckeck_box">
    <div class="select_toon_or_heon">
        <p class="base_text_error s_t_or_h_error vanish">一つ以上選択して下さい</p>
        <div class="cp_ipcheck flex spb select_h_t">
            <% if user_signed_in? %>
            <label class="score_question_label login_vanish">
                <% else %>
                <label class="score_question_label login_vanish vanish">
                    <% end %>
                    <input type="checkbox" class="all_check_or_uncheck option-input02 checkbox all_check" />
                    <span>全て選択</span>
                </label>
                <label>
                    <div class="flex">
                        <input type="checkbox" class="validate_check option-input02 check_toon_heon checkbox s_t_or_h"
                            id="check_t" checked />
                        <div class="t_image_size">
                            <%= image_tag("to.svg", class:"oooo") %>
                        </div>
                    </div>
                </label>
                <label>
                    <div class="flex">
                        <input type="checkbox" class="validate_check option-input02 check_toon_heon checkbox s_t_or_h"
                            id="ckeck_h" />
                        <div class="h_image_size">
                            <%= image_tag("he.svg", class:"oooo") %>
                        </div>
                    </div>
                </label>
                <% if user_signed_in? %>
                <label class="score_question_label login_vanish">
                    <% else %>
                    <label class="score_question_label login_vanish vanish">
                        <% end %>
                        <input type="checkbox" class="all_check_or_uncheck option-input02  checkbox all_uncheck" />
                        <span>全て外す</span>
                    </label>
        </div>
    </div>

    <div class="selct_key">
        <p class="base_text_error check_key_error vanish">一つ以上選択して下さい</p>
        <div class="cp_ipcheck flex question_key_selct question_key_selct_score">
            <%= render 'share/question/score/mini_score' %>
        </div>
    </div>
    <div id="score_question_btn_block" class="score_question_btn_block">
        <div class="ckeck_box_score_question">
            <p class="select_title">出題数</p>
            <div class="qeustion_num_select_block inline-radio">
                <div class="slect_content">
                    <input class="sound_select" type="radio" name="question_score_num" value="30"
                        checked><label>30</label>
                </div>
                <div class="slect_content">
                    <input class="sound_select" type="radio" name="question_score_num" value="60"><label>60</label>
                </div>
                <div class="slect_content">
                    <input class="sound_select" type="radio" name="question_score_num" value="100"><label>100</label>
                </div>
            </div>
        </div>
        <div class="start_btn_block">
            <button id="score_start_btn" class="btn start_btn select_title">START</button>
        </div>
    </div>
</div>