<div class="chose_key_box_top">
    <label class="score_question_label" id="va_key_num_0">
        <input type="checkbox" class="validate_check option-input02 check_key checkbox" name="4" id="key_num_0"
            checked="">
        <span>C major　</span>
        <div class="key_selct_mini_score">

            <div class="score_line"></div>
            <div class="score_line"></div>
            <div class="score_line"></div>
            <div class="score_line"></div>
            <div class="score_line"></div>
        </div>
    </label>
    <label class="score_question_label" id="va_key_num_1">
        <input type="checkbox" class="validate_check option-input02 check_key checkbox" id="key_num_1" name="11">
        G major
        <div class="key_selct_mini_score"><span class="mini_sharpand_flat mini_sharp mini_score_symbol_sharp_1">#</span>

            <div class="score_line"></div>
            <div class="score_line"></div>
            <div class="score_line"></div>
            <div class="score_line"></div>
            <div class="score_line"></div>
        </div>
    </label>
    <label class="score_question_label" id="va_key_num_2">
        <input type="checkbox" class="validate_check option-input02 check_key checkbox" id="key_num_2" name="6">
        D major
        <div class="key_selct_mini_score"><span
                class="mini_sharpand_flat mini_sharp mini_score_symbol_sharp_1">#</span><span
                class="mini_sharpand_flat mini_sharp mini_score_symbol_sharp_2">#</span>

            <div class="score_line"></div>
            <div class="score_line"></div>
            <div class="score_line"></div>
            <div class="score_line"></div>
            <div class="score_line"></div>
        </div>
    </label>
    <label class="score_question_label" id="va_key_num_3">
        <input type="checkbox" class="validate_check option-input02 check_key checkbox" id="key_num_3" name="1">
        A major
        <div class="key_selct_mini_score"><span
                class="mini_sharpand_flat mini_sharp mini_score_symbol_sharp_1">#</span><span
                class="mini_sharpand_flat mini_sharp mini_score_symbol_sharp_2">#</span><span
                class="mini_sharpand_flat mini_sharp mini_score_symbol_sharp_3">#</span>

            <div class="score_line"></div>
            <div class="score_line"></div>
            <div class="score_line"></div>
            <div class="score_line"></div>
            <div class="score_line"></div>
        </div>
    </label>
    <label class="score_question_label" id="va_key_num_4">
        <input type="checkbox" class="validate_check option-input02 check_key checkbox" id="key_num_4" name="8">
        E major
        <div class="key_selct_mini_score"><span
                class="mini_sharpand_flat mini_sharp mini_score_symbol_sharp_1">#</span><span
                class="mini_sharpand_flat mini_sharp mini_score_symbol_sharp_2">#</span><span
                class="mini_sharpand_flat mini_sharp mini_score_symbol_sharp_3">#</span><span
                class="mini_sharpand_flat mini_sharp mini_score_symbol_sharp_4">#</span>

            <div class="score_line"></div>
            <div class="score_line"></div>
            <div class="score_line"></div>
            <div class="score_line"></div>
            <div class="score_line"></div>
        </div>
    </label>
</div>
<div class="chose_key_box_center">
    <label class="score_question_label" id="va_key_num_5">
        <input type="checkbox" class="validate_check option-input02 check_key checkbox" id="key_num_5" name="3">
        B major
        <div class="key_selct_mini_score"><span
                class="mini_sharpand_flat mini_sharp mini_score_symbol_sharp_1">#</span><span
                class="mini_sharpand_flat mini_sharp mini_score_symbol_sharp_2">#</span><span
                class="mini_sharpand_flat mini_sharp mini_score_symbol_sharp_3">#</span><span
                class="mini_sharpand_flat mini_sharp mini_score_symbol_sharp_4">#</span><span
                class="mini_sharpand_flat mini_sharp mini_score_symbol_sharp_5">#</span>

            <div class="score_line"></div>
            <div class="score_line"></div>
            <div class="score_line"></div>
            <div class="score_line"></div>
            <div class="score_line"></div>
        </div>
    </label>
    <label class="score_question_label" id="va_key_num_6">
        <input type="checkbox" class="validate_check option-input02 check_key checkbox" id="key_num_6" name="10">
        F# major
        <div class="key_selct_mini_score"><span
                class="mini_sharpand_flat mini_sharp mini_score_symbol_sharp_1">#</span><span
                class="mini_sharpand_flat mini_sharp mini_score_symbol_sharp_2">#</span><span
                class="mini_sharpand_flat mini_sharp mini_score_symbol_sharp_3">#</span><span
                class="mini_sharpand_flat mini_sharp mini_score_symbol_sharp_4">#</span><span
                class="mini_sharpand_flat mini_sharp mini_score_symbol_sharp_5">#</span><span
                class="mini_sharpand_flat mini_sharp mini_score_symbol_sharp_6">#</span>

            <div class="score_line"></div>
            <div class="score_line"></div>
            <div class="score_line"></div>
            <div class="score_line"></div>
            <div class="score_line"></div>
        </div>
    </label>
    <label class="score_question_label" id="va_key_num_7">
        <input type="checkbox" class="validate_check option-input02 check_key checkbox" id="key_num_7" name="5">
        C# major
        <div class="key_selct_mini_score"><span
                class="mini_sharpand_flat mini_sharp mini_score_symbol_sharp_1">#</span><span
                class="mini_sharpand_flat mini_sharp mini_score_symbol_sharp_2">#</span><span
                class="mini_sharpand_flat mini_sharp mini_score_symbol_sharp_3">#</span><span
                class="mini_sharpand_flat mini_sharp mini_score_symbol_sharp_4">#</span><span
                class="mini_sharpand_flat mini_sharp mini_score_symbol_sharp_5">#</span><span
                class="mini_sharpand_flat mini_sharp mini_score_symbol_sharp_6">#</span><span
                class="mini_sharpand_flat mini_sharp mini_score_symbol_sharp_7">#</span>

            <div class="score_line"></div>
            <div class="score_line"></div>
            <div class="score_line"></div>
            <div class="score_line"></div>
            <div class="score_line"></div>
        </div>
    </label>
    <label class="score_question_label" id="va_key_num_8">
        <input type="checkbox" class="validate_check option-input02 check_key checkbox" id="key_num_8" name="9">
        F major
        <div class="key_selct_mini_score"><span class="mini_sharpand_flat mini_flat mini_score_symbol_flat_1">♭</span>

            <div class="score_line"></div>
            <div class="score_line"></div>
            <div class="score_line"></div>
            <div class="score_line"></div>
            <div class="score_line"></div>
        </div>
    </label>
    <label class="score_question_label" id="va_key_num_9">
        <input type="checkbox" class="validate_check option-input02 check_key checkbox" id="key_num_9" name="14">
        B♭ major
        <div class="key_selct_mini_score"><span
                class="mini_sharpand_flat mini_flat mini_score_symbol_flat_1">♭</span><span
                class="mini_sharpand_flat mini_flat mini_score_symbol_flat_2">♭</span>

            <div class="score_line"></div>
            <div class="score_line"></div>
            <div class="score_line"></div>
            <div class="score_line"></div>
            <div class="score_line"></div>
        </div>
    </label>
</div>
<div class="chose_key_box_under">
    <label class="score_question_label" id="va_key_num_10">
        <input type="checkbox" class="validate_check option-input02 check_key checkbox" id="key_num_10" name="7">
        E♭ major
        <div class="key_selct_mini_score"><span
                class="mini_sharpand_flat mini_flat mini_score_symbol_flat_1">♭</span><span
                class="mini_sharpand_flat mini_flat mini_score_symbol_flat_2">♭</span><span
                class="mini_sharpand_flat mini_flat mini_score_symbol_flat_3">♭</span>

            <div class="score_line"></div>
            <div class="score_line"></div>
            <div class="score_line"></div>
            <div class="score_line"></div>
            <div class="score_line"></div>
        </div>
    </label>
    <label class="score_question_label" id="va_key_num_11">
        <input type="checkbox" class="validate_check option-input02 check_key checkbox" id="key_num_11" name="12">
        A♭ major
        <div class="key_selct_mini_score"><span
                class="mini_sharpand_flat mini_flat mini_score_symbol_flat_1">♭</span><span
                class="mini_sharpand_flat mini_flat mini_score_symbol_flat_2">♭</span><span
                class="mini_sharpand_flat mini_flat mini_score_symbol_flat_3">♭</span><span
                class="mini_sharpand_flat mini_flat mini_score_symbol_flat_4">♭</span>

            <div class="score_line"></div>
            <div class="score_line"></div>
            <div class="score_line"></div>
            <div class="score_line"></div>
            <div class="score_line"></div>
        </div>
    </label>
    <label class="score_question_label" id="va_key_num_12">
        <input type="checkbox" class="validate_check option-input02 check_key checkbox" id="key_num_12" name="5">
        D♭ major
        <div class="key_selct_mini_score"><span
                class="mini_sharpand_flat mini_flat mini_score_symbol_flat_1">♭</span><span
                class="mini_sharpand_flat mini_flat mini_score_symbol_flat_2">♭</span><span
                class="mini_sharpand_flat mini_flat mini_score_symbol_flat_3">♭</span><span
                class="mini_sharpand_flat mini_flat mini_score_symbol_flat_4">♭</span><span
                class="mini_sharpand_flat mini_flat mini_score_symbol_flat_5">♭</span>

            <div class="score_line"></div>
            <div class="score_line"></div>
            <div class="score_line"></div>
            <div class="score_line"></div>
            <div class="score_line"></div>
        </div>
    </label>
    <label class="score_question_label" id="va_key_num_13">
        <input type="checkbox" class="validate_check option-input02 check_key checkbox" id="key_num_13" name="10">
        G♭ major
        <div class="key_selct_mini_score"><span
                class="mini_sharpand_flat mini_flat mini_score_symbol_flat_1">♭</span><span
                class="mini_sharpand_flat mini_flat mini_score_symbol_flat_2">♭</span><span
                class="mini_sharpand_flat mini_flat mini_score_symbol_flat_3">♭</span><span
                class="mini_sharpand_flat mini_flat mini_score_symbol_flat_4">♭</span><span
                class="mini_sharpand_flat mini_flat mini_score_symbol_flat_5">♭</span><span
                class="mini_sharpand_flat mini_flat mini_score_symbol_flat_6">♭</span>

            <div class="score_line"></div>
            <div class="score_line"></div>
            <div class="score_line"></div>
            <div class="score_line"></div>
            <div class="score_line"></div>
        </div>
    </label>
    <label class="score_question_label" id="va_key_num_14">
        <input type="checkbox" class="validate_check option-input02 check_key checkbox" id="key_num_14" name="3">
        C♭ major
        <div class="key_selct_mini_score"><span
                class="mini_sharpand_flat mini_flat mini_score_symbol_flat_1">♭</span><span
                class="mini_sharpand_flat mini_flat mini_score_symbol_flat_2">♭</span><span
                class="mini_sharpand_flat mini_flat mini_score_symbol_flat_3">♭</span><span
                class="mini_sharpand_flat mini_flat mini_score_symbol_flat_4">♭</span><span
                class="mini_sharpand_flat mini_flat mini_score_symbol_flat_5">♭</span><span
                class="mini_sharpand_flat mini_flat mini_score_symbol_flat_6">♭</span><span
                class="mini_sharpand_flat mini_flat mini_score_symbol_flat_7">♭</span>

            <div class="score_line"></div>
            <div class="score_line"></div>
            <div class="score_line"></div>
            <div class="score_line"></div>
            <div class="score_line"></div>
        </div>
    </label>
</div>