<p class="base_text">正解率を更新</p>
<div class="row">
    <div class="">
      <%= form_for(@profile) do |f| %>
        <%= f.text_field :sound_c, class:  'score_rate vanish', id: 'score_rate_edit_c'%>
        <%= f.text_field :sound_g, class:  'score_rate vanish', id: 'score_rate_edit_g'%>
        <%= f.text_field :sound_d, class:  'score_rate vanish', id: 'score_rate_edit_d'%>
        <%= f.text_field :sound_a, class:  'score_rate vanish', id: 'score_rate_edit_a'%>
        <%= f.text_field :sound_e, class:  'score_rate vanish', id: 'score_rate_edit_e'%>
        <%= f.text_field :sound_b, class:  'score_rate vanish', id: 'score_rate_edit_b'%>
        <%= f.text_field :sound_fp, class: 'score_rate vanish', id: 'score_rate_edit_fp'%>
        <%= f.text_field :sound_cp, class: 'score_rate vanish', id: 'score_rate_edit_cp'%>
        <%= f.text_field :sound_f, class:  'score_rate vanish', id: 'score_rate_edit_f'%>
        <%= f.text_field :sound_bn, class: 'score_rate vanish', id: 'score_rate_edit_bn'%>
        <%= f.text_field :sound_en, class: 'score_rate vanish', id: 'score_rate_edit_en'%>
        <%= f.text_field :sound_an, class: 'score_rate vanish', id: 'score_rate_edit_an'%>
        <%= f.text_field :sound_dn, class: 'score_rate vanish', id: 'score_rate_edit_dn'%>
        <%= f.text_field :sound_gn, class: 'score_rate vanish', id: 'score_rate_edit_gn'%>
        <%= f.text_field :sound_cn, class: 'score_rate vanish', id: 'score_rate_edit_cn'%>
        <%= f.text_field :point_score, class: 'point_form vanish', id: 'point_score_form_edit'%>
        <%= f.submit "update", class: "action_btn" %>
      <% end %>
    </div>
  </div>