<% id_list = [
"score_rate_edit_c",
"score_rate_edit_g",
"score_rate_edit_d",
"score_rate_edit_a",
"score_rate_edit_e",
"score_rate_edit_b",
"score_rate_edit_fp",
"score_rate_edit_cp",
"score_rate_edit_f",
"score_rate_edit_bn",
"score_rate_edit_en",
"score_rate_edit_an",
"score_rate_edit_dn",
"score_rate_edit_gn",
"score_rate_edit_cn",
]%>
<% for i in id_list do %>
    <input class="vanish" type="text" name="" id="<%= i %>" value="non">
<% end %>


