.contact_block {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;

  .contact_form {
    width: 100%;
  }
  .contact_title {
    margin: 20px 0;
  }
  #contact_btn {
    margin-top: 20px;
  }
}
.main_title {
    font-size: 24px !important ;
  }


