.admin {
  background: lightgrey;

  .admin_container {
    max-width: 880px;
    margin: 0 auto;

    .admin_content,
    .num_of_Registered {
      margin-bottom: 20px;
    }

    .content {
      border: 1px solid black;
      text-align: center;
      padding: 0 20px;
    }

    .search_form_block {
      justify-content: center;
    }
  }

}

.ad_contact {
  background-color: lightgrey;
}

.content_content {
  margin-top: 30px;
}

.con_container {
  max-width: 880px;
  margin: 0 auto;
}

.content_box {
  border: 1px solid black;
}