<div class="ad_contact">
  <%= render 'share/header' %>
  <div class="con_container">
    <div class="flex search_form_block">
      <div class="">
        <p>名前</p>
        <%= form_tag(admin_contacts_path, :method => "get") do %>
        <%= text_field_tag :username %>
        <%= submit_tag "検索" ,:username => nil%>
        <% end %>
      </div>
      <div class="">
        <p>email</p>
        <%= form_tag(admin_contacts_path, :method => "get") do %>
        <%= text_field_tag :email %>
        <%= submit_tag "検索" ,:username => nil%>
        <% end %>
      </div>
      <div class="">
        <p>内容</p>
        <%= form_tag(admin_contacts_path, :method => "get") do %>
        <%= text_field_tag :content %>
        <%= submit_tag "検索" ,:username => nil%>
        <% end %>
      </div>
      <div class="">
        <p>並び替え</p>
        <%= form_tag(admin_contacts_path, :method => "get") do %>
        <%= submit_tag "昇順"%>
        <%= submit_tag "降順"%>
        <% end %>
      </div>
    </div>
    <% @contacts.each do |c| %>
    <div class="content_content">
      <div class="content_box"><%=c.created_at%></div>
      <div class="content_box"><%=c.name%></div>
      <div class="content_box"><%=c.email%></div>
      <div class="content_box"><%=c.content%></div>
    </div>
    <% end %>
    <%= paginate @contacts %>
  </div>
</div>