
<p class="base_text sound_rate_text">正解率を更新</p>

<div class="row">
    <div class="">
      <%= form_for(@profile) do |f| %>
        <%= f.text_field :sound, class: 'sound_rate vanish', id: 'sound_rate_edit'%>
        <%= f.text_field :point, class: 'point_form vanish', id: 'point_form_edit'%>
        <%= f.submit "update", class: "action_btn" %>
      <% end %>
    </div>
  </div>