<%# new %>
<% if user_signed_in? %>
  <%= form_for(@profile) do |f| %>
    <div class="field">
    <%= f.text_area :sound, class: 'sound_rate vanish', id: 'sound_rate_edit' %>
    <%= f.text_field :point, class: 'point_form vanish', id: 'point_form_edit'%>
    <%= f.text_area :sound_qestion, class: 'sound_qestion vanish' %>
    </div>
    <%= f.submit "Post", class: "action_btn" %>
  <% end %>
<% else %>
  <%= render 'share/sign_up_link' %>
 <% end %> 


