<div class="metronom">
  <div class="flex">
    <p class="action_btn" data-speed="45">Largo</p>
    <p class="action_btn" data-speed="53">Lento</p>
    <p class="action_btn" data-speed="60">Adagio</p>
    <p class="action_btn" data-speed="70">Andante</p>
    <p class="action_btn" data-speed="86">Moderato</p>
  </div>
  <div class="flex sekect_under">
    <p class="action_btn" data-speed="108">Allegretto</p>
    <p class="action_btn" data-speed="136">Allegro</p>
    <p class="action_btn" data-speed="164">Vivace</p>
    <p class="action_btn" data-speed="189">Presto</p>
    <p class="action_btn" data-speed="205">Prestissimo</p>
  </div>
  <div class="flex bpm_select_block">
    <div class="metro_span" id="metro_minus">
      <span class="span_minus">-</span>
    </div>

    <p id="show_bpm">BPM110</p>
    <div class="metro_span" id="metro_plus">
      <span class="span_plus">+</span>
    </div>
  </div>
  <div class="metro_select_block flex">
    <div class="metro_input flex">
      <input type="range" class="input-range" id="metronome_range" name="speed" min="0" max="220" />
    </div>
  </div>
  <div class="beat_count_block flex"><%# ここに選択した分の泊を入れる %></div>
  <div class="flex bear_and_btn">
    <select class="select_beat" id="beat_target">
      <% for i in 1..16 do %> <% if i == 4%>
      <option style="font-size: 16pt" value="beat_<%= i %>" selected>
        <%= i %>
      </option>
      <% else %>
      <option style="font-size: 16pt" value="beat_<%= i %>"><%= i %></option>
      <% end %> <% end %>
    </select>
    <div class="metro_btn_block">
      <div class="metro_btn" id="metronom_btn">
        play
      </div>
      <div class="metro_btn vanish" id="metronom_stop_btn">
        stop
      </div>
    </div>
  </div>
</div>
<%= audio_tag 'keyfile/bpm.mp3',id:"metro_sound" %>
<script>
  var g_timer;
  var g_beat = 0;
</script>