.code_keys {
  display: flex;
  position: relative;
  text-align: center;
}

.code_w,
.code_b {
  border: 1px solid black !important;
  text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff !important;
  font-size: 16px !important;
  color: #fff;
  border-radius: 0px 0px 2px 2px;

}

.code_w {
  width: 8px;
  height: 24px !important;
  background-color: #faf5e1;
  padding-top: 16px;

}

.code_b {
  width: 4px;
  height: 15px !important;
  background-color: black;
  position: absolute;
  padding-top: 11px;

}

.code_b:nth-child(2) {
  margin-left: 7px;
}

.code_b:nth-child(4) {
  margin-left: 17px;
}

.code_b:nth-child(7) {
  margin-left: 37px;
}

.code_b:nth-child(9) {
  margin-left: 47px;
}

.code_b:nth-child(11) {
  margin-left: 57px;
}

.last_b {
  margin-left: 77px;
}

@media only screen and (max-width: 1200px) {
  .code_w {
    width: 18px;
    height: 34px !important;
    background-color: #faf5e1;
    padding-top: 16px;

  }

  .code_b {
    width: 12px;
    height: 18px !important;
    background-color: black;
    position: absolute;
    padding-top: 11px;

  }

  .code_b:nth-child(2) {
    margin-left: 14px;
  }

  .code_b:nth-child(4) {
    margin-left: 34px;
  }

  .code_b:nth-child(7) {
    margin-left: 73px;
  }

  .code_b:nth-child(9) {
    margin-left: 93px;
  }

  .code_b:nth-child(11) {
    margin-left: 114px;
  }

  .code_b:nth-child(14) {
    margin-left: 154px;
  }
}