@import "../variable";

.mt30 {
  margin-top: 30px;
}

.piano_wrap {
  display: none;
  justify-content: center;
  margin-top: 30px;
}

.vanish {
  display: none !important;
}

.button_block_box_under,
.button_block {
  justify-content: center;
}

.piano_select_block {
  width: 50%;
  margin: 0 auto;
}

.button_block_box_over,
.button_block_center,
.button_block_box_under,
.key_select_btn,
.limit_target_btn,
.limit_all_target_btn {
  width: 100%;
}

.piano_select_btn {
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  background: #fff;
  color: #000;
  opacity: 0.9;
  font-size: 20px;
  font-weight: bold;

  &:hover {
    background-color: yellow;
  }
}

.piano {
  justify-content: center;
}

.error {
  color: $red;
}

.all_on {
  background-color: $red !important;
  color: #fff !important;
}

.limit_target_btn,
.limit_all_target_btn {
  background: #fff;
  border: none;
}

.button_block_box_under {
  border-bottom: none;
}

.select_error {
  display: none;
}

.select_block {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.standard_key {
  position: relative;
}

.key_code {
  position: absolute;
  bottom: 0;
  left: 15%;
  font-size: 18px;
}

.btn {
  width: 100px;
  height: 40px;
  font-size: 22px;
}

.keys {
  display: flex;
  position: relative;
  text-align: center;
}

#anser_code_key {
  .keys {
    border-top: solid 2px $red;
  }
}

.key {
  cursor: pointer;
}

.w {
  width: 28px;
  height: 30px !important;
  border-radius: 0px 0px 5px 5px;
  background-color: #FAF5E1;
  padding-top: 120px;
  font-size: 16px !important;
  color: #fff;
  border: 1px solid black !important;
  text-shadow: 0 0 1px #000, 0 0 1px #000, 0 0 1px #000 !important;
}

.b {
  width: 18px;
  height: 28px !important;
  background-color: black;
  position: absolute;
  padding-top: 70px;
  font-size: 16px;
  color: #fff;
  border: 1px solid black !important;
  text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff !important;
}




.key {
  cursor: pointer;
  font-size: 16px !important;
  color: #fff;
  border: 1px solid black !important;
  text-shadow: 0 0 1px #000, 0 0 1px #000, 0 0 1px #000 !important;
  border-radius: 0px 0px 5px 5px;

}

.skey {
  cursor: pointer;
  font-size: 16px !important;
  color: #fff;
  border: 1px solid black !important;
  text-shadow: 0 0 1px #000, 0 0 1px #000, 0 0 1px #000 !important;
  border-radius: 0px 0px 5px 5px;

}



.single_code_w,
.single_w {
  border-top: solid 2px;
  width: 55px;
  height: 80px !important;
  background-color: #FAF5E1;

  border-radius: 0px 0px 5px 5px;
  background-color: #FAF5E1;
  padding-top: 120px;
  font-size: 16px !important;
  color: #fff;
  border: 1px solid black !important;
  text-shadow: 0 0 1px #000, 0 0 1px #000, 0 0 1px #000 !important;
}

.single_code_b,
.single_b {
  width: 40px;
  height: 58px !important;
  background-color: black;
  position: absolute;
  padding-top: 70px;
  font-size: 16px;
  margin-left: 44px;
  z-index: 10;
  color: #fff;
  border: 1px solid black !important;
  text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff !important;
}


.single_code_b:nth-child(2) {
  margin-left: 36px;
}

.single_code_b:nth-child(4) {
  margin-left: 94px;
}

.single_code_b:nth-child(7) {
  margin-left: 207px;
}

.single_code_b:nth-child(9) {
  margin-left: 264px;
}

.single_code_b:nth-child(11) {
  margin-left: 322px
}


#single_cp {
  margin-left: 35px !important;
}

#single_dp {
  margin-left: 93px !important;
}

#single_fp {
  margin-left: 207px !important;
}

#single_gp {
  margin-left: 265px !important;
}

#single_ap {
  margin-left: 322px !important;
}



.key:hover {
  background-color: yellow;
}

.delete_target {
  display: none;
}

.b:nth-child(2) {
  margin-left: 20px;
}

.b:nth-child(4) {
  margin-left: 50px;
}

.b:nth-child(7) {
  margin-left: 105px;
}

.b:nth-child(9) {
  margin-left: 140px;
}

.b:nth-child(11) {
  margin-left: 175px;
}

.key:hover {
  background-color: yellow;
}

.piano_block,
.mini_line {
  border-top: 3px $red solid;
}

.mini_piano {
  flex-wrap: wrap;
}

.mini_piano_wrap {
  width: 300px;
}

.mark_key {
  color: #fff;
  font-size: 16px;
  text-shadow: 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000;
}

.key_select_btn {
  background: #EFEFEF;
}

.one_more {
  width: 100%;

}

.one_more_q {
  width: 100%;
}

.next_question_btn {
  display: none;
}

.one_more,
.key_select_btn {
  display: none;
}



.mini_key_4_w {
  background-color: $red;
}


.fbkey {
  margin-left: 0px !important;
}