<div class="user_login">
   <%= render 'share/header' %>
  <div class="container">
    <div class="user_login_container">
      <div class="user_content_block">
        <h2><%= t('.sign_in') %></h2>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email , class: "form_title" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form" %>
          </div>

          <div class="field">
            <%= f.label :password , class: "form_title" %><br />
            <%= f.password_field :password, autocomplete: "current-password", class: "form" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me , class: "form_title" %>
            </div>
          <% end %>

          <div class="actions">
            <%= f.submit "ログイン", class: "action_btn" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>

      </div>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'login/index' %>


