<div class="theory_image_box"><img src="/images/theory/scail_basic.png" alt=""></div>
 <%= render 'share/theory/insert_content' %>
<%= javascript_pack_tag 'theory/make/index' %>
<%= javascript_pack_tag 'theory/index' %>
