<div class="theory">
    <%= render 'share/header' %>
    <div class="container">
        <div class="flex top_content">
            <div class="theory_show_container">
                <div class="w94" id="insert_html">

                </div>
                <!-- ここまで -->
            </div>
            <section class="ad_section">
                <section>
                    <%# セレクト %>
                    <%= render 'share/sidebar/sidebar' %>

                </section>
            </section>
        </div>
    </div>
    <div id="update_time" class="vanish">
        <%= @theory.created_at.strftime('%Y/%m/%d') %>
    </div>
    <div id="target_html" class="vanish">
        <%= @theory.text %>
    </div>
</div>
<%= javascript_pack_tag 'theory/show/index' %>