@keyframes japan {
    0% {
        stroke-dashoffset: 2572;
        fill: transparent;
        opacity: 1;
    }

    40% {
        stroke-dashoffset: 0;
        fill: transparent;
        opacity: 1;
    }

    50% {
        stroke-dashoffset: 0;
        fill: #fff;
        opacity: 1;
    }

    80% {
        stroke-dashoffset: 0;
        fill: #fff;
        opacity: 1;
    }

    95% {
        stroke-dashoffset: 0;
        fill: #fff;
        opacity: 1;
    }

    100% {
        stroke-dashoffset: 0;
        fill: #fff;
        opacity: 1;
    }
}

.item01,
.item02,
.item03,
.item04,
.item05,
.item06,
.item07,
.item08,
.item09 {
    fill: transparent;
    stroke: white;
    stroke-dasharray: 2572;
    stroke-dashoffset: 0;
    stroke-width: 1;
    opacity: 0;
}

$time :2s;

.item01 {
    animation: japan 5s ease-in $time + 0 1 forwards;
}

.item02 {
    animation: japan 5s ease-in $time + 0.2 1 forwards;
}

.item03 {
    animation: japan 5s ease-in $time+ 0.4 1 forwards;
}

.item04 {
    animation: japan 5s ease-in $time + 0.6 1 forwards;
}

.item05 {
    animation: japan 5s ease-in $time + 0.8 1 forwards;
}

.item06 {
    animation: japan 5s ease-in $time + 1 1 forwards;
}

.item07 {
    animation: japan 5s ease-in $time + 1.2 1 forwards;
}

.item08 {
    animation: japan 5s ease-in $time + 1.4 1 forwards;
}

.item09 {
    animation: japan 5s ease-in $time + 1.6 1 forwards;
}