@import "../variable";
$td_w :35px;
$cal_w: $td_w * 7;

#calendar {
    display: flex;
    flex-wrap: wrap;
}
.cal_select_box{
    width: 100%;
    background: transparent;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}
.cal_today{
    font-weight: 1000;

}

.cal_btn,
#inset_cal_text {
    font-size: 24px;
    font-weight: bold;
}

.cal_btn {
    cursor: pointer;
}

.cal_table {
    border-spacing: 0;
    border-collapse: collapse;
}

.cal_td {
    width: $td_w;
    height: $td_w;
    border: 1px solid #000;
    text-align: center;

}

.cal_check {
    background: yellow !important;

}

.selct_cal_data {
    position: relative;
    cursor: pointer;

    &:hover {
        background: yellow !important;
    }
}

td.is-disabled {
    color: #ccc;
}

.cal_over {
    justify-content: space-between;
    margin-bottom: 12px;
}

.cal_meter {
    margin-top: 20px;
    justify-content: space-between;
}

.meter_text {
    font-weight: bold;
}

.block {
    width: 40px;
    height: 30px;
}

.gre1 {
    background: $grade2 !important;
}

.gre2 {
    background: $grade3 !important;
}

.gre3 {
    background: $grade4 !important;
}

.gre4 {
    background: $grade5 !important;
}

#cal_text_form {
    width: 100%;
    height: 156px;
    background: transparent;
    border: 1px solid #000;
    display: block;
    resize: none;
}

.watch_block_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#watch_memo_btn {
    width: 102% !important;
}

.cal_textar {
    position: relative;
}

#cal_textar_span {
    font-size: 12px;
    color: $red;
    position: absolute;
    bottom: 0;
    right: 0;
}

.check_memo {
    position: absolute;
    top: 0;
    right: 0;
    // border-top: 50px solid #F0897F;
    border-right: 10px solid #000;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
}