.key_selct_mini_score {
  width: 100%;
  // height: 100px;
}
.score_line {
  height: 8px;
  border-bottom: solid 1px black;
}
.key_selct_mini_score {
  position: relative;
}
.mini_sharp {
  font-size: 22px;
}
.mini_flat{
    font-weight: bold;
}
$top_px: -19px;
$left_px: 26px;

.mini_score_symbol_sharp_1 {
  position: absolute;
  top: $top_px + 6;
  left: $left_px;
}
.mini_score_symbol_sharp_2 {
  position: absolute;
  top: $top_px + 19.5;
  left: $left_px + 7;
}
.mini_score_symbol_sharp_3 {
  position: absolute;
  top: $top_px + 4;
  left: $left_px + 15;
}
.mini_score_symbol_sharp_4 {
  position: absolute;
  top: $top_px + 15;
  left: $left_px + 23;
}
.mini_score_symbol_sharp_5 {
  position: absolute;
  top: $top_px + 29;
  left: $left_px + 31;
}
.mini_score_symbol_sharp_6 {
  position: absolute;
  top: $top_px + 11;
  left: $left_px + 39;
}
.mini_score_symbol_sharp_7 {
  position: absolute;
  top: $top_px + 24;
  left: $left_px + 47;
}

$f_top_px: -11px;
$f_left_px: 26px;

.mini_score_symbol_flat_1 {
  position: absolute;
  top: $f_top_px + 14;
  left: $f_left_px;
}
.mini_score_symbol_flat_2 {
  position: absolute;
  top: $f_top_px;
  left: $f_left_px + 8;
}
.mini_score_symbol_flat_3 {
  position: absolute;
  top: $f_top_px + 18;
  left: $f_left_px + 13;
}
.mini_score_symbol_flat_4 {
  position: absolute;
  top: $f_top_px + 5;
  left: $f_left_px + 21;
}
.mini_score_symbol_flat_5 {
  position: absolute;
  top: $f_top_px + 22;
  left: $f_left_px + 26;
}
.mini_score_symbol_flat_6 {
  position: absolute;
  top: $f_top_px + 9;
  left: $f_left_px + 34;
}
.mini_score_symbol_flat_7 {
  position: absolute;
  top: $f_top_px + 27;
  left: $f_left_px + 39;
}
