<div class="point_bar_block point_bar_block_over">
  <span id="insert_progress" class="base_text">進行度</span>
  <figure id="progress_bar" class="base_text"></figure>
</div>
<div class="point_bar_block point_bar_block_under">
  <span id="insert_point" class="base_text"></span>
  <figure id="point_bar"></figure>
</div>