<div class="code_basic_box">
    <span class="ct">コード</span>
    <p class="code_basic_text">コードとは３つ以上の音の重なりの事です、楽譜でアルファベットが記載されてるのを見たことは無いでしょうか？</p>
    <div class="image_box jfc">
        <%= image_tag("code1.png") %>
    </div>
    <p class="code_basic_text">上の図のアルファベットはCメジャーコード、ドミソの構成音だと言う事を示しており、どのオクターブのドミソでも同じCメジャーコードとなります</p>

</div>

<div class="code_basic_box">
    <span class="ct">コード進行</span>
    <p class="code_basic_text">
        曲の進行と共にC→F→Amの様にコードが変わって行き、これをコード進行といいます。メロディーが違うのに別の曲に似ていると感じる事があるのはコード進行が似ているからかもしれません。</p>
</div>
<div class="code_basic_box">
    <span class="ct">転回形</span>
    <p class="code_basic_text">
        Cメジャーコードの場合、曲によってはドミソではでは弾きにくく感じる時も有ると思います、そういう時はソドミやミソドに変えて事も出来、これをコードの転回と言います。構成音が同じであれば同じCコードとなります。
    </p>
</div>
<div class="code_basic_box">
    <span class="ct">ルート音</span>
    <p class="code_basic_text sample_code">
        <span class="sample_code">Cm</span>
        <span class="sample_code">Cm7</span>
        <span class="sample_code">CM7</span>
        <span class="sample_code">Cadd7</span>
    </p>
    <p class="code_basic_text">様々なコードがありますが、一番左の大文字がルート音と呼ばれ、この音から一定の数右に行った音を積んだものがコードとなります。</p>
</div>