<span class="ct">覚え方</span>
<p class="code_basic_text">各音のコードを一つずつ覚えるのは数が多くて大変です。コードには一定のルールがあるのでそちらを覚える方がいいでしょう。</p>
<p class="code_basic_text">コードはルート音から決まった数を黒鍵も含めて右にずらせば使う音を取得出来ます。</p>
<p class="code_basic_text">例えばCメジャーの場合、Cの音から４つ上の音、そこから３つ上の音といった具合に音を積んでいけばCメジャーコードになります。</p>
<p class="code_basic_text">ずらす音の数さえ覚えておけば、DメジャーでもFメジャーでも数え始めるルート音を変えればいいだけで済みます。</p>


<p class="code_title code_title_header">M</p>
<p class="code_title">表記例:　C　Cmaj　CMa　C<span class="code_triangle">△</span></p>
<p class="code_title">ずらす数:　4,3</p>
<div class="flex">
    <div class="code_board board_w use_code">C</div>
    <div class="code_board board_b">C#</div>
    <div class="code_board board_w">D</div>
    <div class="code_board board_b">D#</div>
    <div class="code_board board_w use_code">E</div>
    <div class="code_board board_w">F</div>
    <div class="code_board board_b">F#</div>
    <div class="code_board board_w use_code">G</div>
    <div class="code_board board_b">G#</div>
    <div class="code_board board_w">A</div>
    <div class="code_board board_b">A#</div>
    <div class="code_board board_w">B</div>
</div>
<p class="code_title code_title_header">m</p>
<p class="code_title">表記例:　Cm　Cmi　C-</p>
<p class="code_title">ずらす数:　3,4</p>

<div class="flex">
    <div class="code_board board_w use_code">C</div>
    <div class="code_board board_b">C#</div>
    <div class="code_board board_w">D</div>
    <div class="code_board board_b use_code">D#</div>
    <div class="code_board board_w">E</div>
    <div class="code_board board_w">F</div>
    <div class="code_board board_b">F#</div>
    <div class="code_board board_w use_code">G</div>
    <div class="code_board board_b">G#</div>
    <div class="code_board board_w">A</div>
    <div class="code_board board_b">A#</div>
    <div class="code_board board_w">B</div>
</div>
<p class="code_title code_title_header">M7</p>
<p class="code_title">表記例:　CM7　Cmaj7　C<span class="code_triangle">△</span>7</p>
<p class="code_title">ずらす数:　4,3,4</p>

<div class="flex">
    <div class="code_board board_w use_code">C</div>
    <div class="code_board board_b">C#</div>
    <div class="code_board board_w">D</div>
    <div class="code_board board_b">D#</div>
    <div class="code_board board_w use_code">E</div>
    <div class="code_board board_w">F</div>
    <div class="code_board board_b">F#</div>
    <div class="code_board board_w use_code">G</div>
    <div class="code_board board_b">G#</div>
    <div class="code_board board_w">A</div>
    <div class="code_board board_b">A#</div>
    <div class="code_board board_w use_code">B</div>
</div>
<p class="code_title code_title_header">m7</p>
<p class="code_title">表記例:　Cm7　C-7</p>
<p class="code_title">ずらす数:　3,4,3</p>

<div class="flex">
    <div class="code_board board_w use_code">C</div>
    <div class="code_board board_b">C#</div>
    <div class="code_board board_w">D</div>
    <div class="code_board board_b use_code">D#</div>
    <div class="code_board board_w">E</div>
    <div class="code_board board_w">F</div>
    <div class="code_board board_b">F#</div>
    <div class="code_board board_w use_code">G</div>
    <div class="code_board board_b">G#</div>
    <div class="code_board board_w">A</div>
    <div class="code_board board_b use_code">A#</div>
    <div class="code_board board_w">B</div>
</div>
<p class="code_title code_title_header">m7-5</p>
<p class="code_title">表記例:　Cm7-5　Cm7b5　CΦ</p>
<p class="code_title">ずらす数:　3,3,4</p>

<div class="flex">
    <div class="code_board board_w use_code">C</div>
    <div class="code_board board_b">C#</div>
    <div class="code_board board_w">D</div>
    <div class="code_board board_b use_code">D#</div>
    <div class="code_board board_w">E</div>
    <div class="code_board board_w">F</div>
    <div class="code_board board_b use_code">F#</div>
    <div class="code_board board_w">G</div>
    <div class="code_board board_b">G#</div>
    <div class="code_board board_w">A</div>
    <div class="code_board board_b use_code">A#</div>
    <div class="code_board board_w">B</div>
</div>
<p class="code_title code_title_header">sus4</p>
<p class="code_title">表記例:　Csus4</p>
<p class="code_title">ずらす数:　5,2</p>

<div class="flex">
    <div class="code_board board_w use_code">C</div>
    <div class="code_board board_b">C#</div>
    <div class="code_board board_w">D</div>
    <div class="code_board board_b">D#</div>
    <div class="code_board board_w">E</div>
    <div class="code_board board_w use_code">F</div>
    <div class="code_board board_b">F#</div>
    <div class="code_board board_w use_code">G</div>
    <div class="code_board board_b">G#</div>
    <div class="code_board board_w">A</div>
    <div class="code_board board_b">A#</div>
    <div class="code_board board_w">B</div>
</div>
<p class="code_title code_title_header">dim7</p>
<p class="code_title">表記例:　Cdim7　C<span class="code_triangle">○</span>7</p>
<p class="code_title">ずらす数:　3,3,3</p>

<div class="flex">
    <div class="code_board board_w use_code">C</div>
    <div class="code_board board_b">C#</div>
    <div class="code_board board_w">D</div>
    <div class="code_board board_b use_code">D#</div>
    <div class="code_board board_w">E</div>
    <div class="code_board board_w">F</div>
    <div class="code_board board_b use_code">F#</div>
    <div class="code_board board_w">G</div>
    <div class="code_board board_b">G#</div>
    <div class="code_board board_w use_code">A</div>
    <div class="code_board board_b">A#</div>
    <div class="code_board board_w">B</div>
</div>
<p class="code_title code_title_header">aug</p>
<p class="code_title">表記例:　Caug</p>
<p class="code_title">ずらす数:　4,4</p>

<div class="flex">
    <div class="code_board board_w use_code">C</div>
    <div class="code_board board_b">C#</div>
    <div class="code_board board_w">D</div>
    <div class="code_board board_b">D#</div>
    <div class="code_board board_w use_code">E</div>
    <div class="code_board board_w">F</div>
    <div class="code_board board_b">F#</div>
    <div class="code_board board_w">G</div>
    <div class="code_board board_b use_code">G#</div>
    <div class="code_board board_w">A</div>
    <div class="code_board board_b">A#</div>
    <div class="code_board board_w">B</div>
</div>
<p class="code_title code_title_header">6</p>
<p class="code_title">表記例:　C6</p>
<p class="code_title">ずらす数:　4,3,2</p>

<div class="flex">
    <div class="code_board board_w use_code">C</div>
    <div class="code_board board_b">C#</div>
    <div class="code_board board_w">D</div>
    <div class="code_board board_b">D#</div>
    <div class="code_board board_w use_code">E</div>
    <div class="code_board board_w">F</div>
    <div class="code_board board_b">F#</div>
    <div class="code_board board_w use_code">G</div>
    <div class="code_board board_b">G#</div>
    <div class="code_board board_w use_code">A</div>
    <div class="code_board board_b">A#</div>
    <div class="code_board board_w">B</div>
</div>
<p class="code_title code_title_header">add9</p>
<p class="code_title">表記例:　Cadd9</p>
<p class="code_title">ずらす数:　4,3,7</p>

<div class="flex">
    <div class="code_board board_w use_code">C</div>
    <div class="code_board board_b">C#</div>
    <div class="code_board board_w">D</div>
    <div class="code_board board_b">D#</div>
    <div class="code_board board_w use_code">E</div>
    <div class="code_board board_w">F</div>
    <div class="code_board board_b">F#</div>
    <div class="code_board board_w use_code">G</div>
    <div class="code_board board_b">G#</div>
    <div class="code_board board_w">A</div>
    <div class="code_board board_b">A#</div>
    <div class="code_board board_w">B</div>
    <div class="code_board board_w">C</div>
    <div class="code_board board_b">C#</div>
    <div class="code_board board_w use_code">D</div>
</div>
<p class="code_title code_title_header">7</p>
<p class="code_title">表記例:　C7</p>
<p class="code_title">ずらす数:　4,3,3</p>

<div class="flex">
    <div class="code_board board_w use_code">C</div>
    <div class="code_board board_b">C#</div>
    <div class="code_board board_w">D</div>
    <div class="code_board board_b">D#</div>
    <div class="code_board board_w use_code">E</div>
    <div class="code_board board_w">F</div>
    <div class="code_board board_b">F#</div>
    <div class="code_board board_w use_code">G</div>
    <div class="code_board board_b">G#</div>
    <div class="code_board board_w">A</div>
    <div class="code_board board_b use_code">A#</div>
    <div class="code_board board_w">B</div>
</div>