<div class="flex">
  <div
    class="action_btn js_select_code top_select_code"
    id="code_1"
    data-code="0"
  >
    C
  </div>
  <div class="action_btn js_select_code" id="code_2" data-code="1">C#/D♭</div>
  <div class="action_btn js_select_code" id="code_3" data-code="2">D</div>
  <div class="action_btn js_select_code" id="code_4" data-code="3">D#/E♭</div>
  <div class="action_btn js_select_code" id="code_5" data-code="4">E</div>
  <div class="action_btn js_select_code" id="code_6" data-code="5">F</div>
</div>
<div class="flex">
  <div class="action_btn js_select_code" id="code_7" data-code="6">F#/G♭</div>
  <div class="action_btn js_select_code" id="code_8" data-code="7">G</div>
  <div class="action_btn js_select_code" id="code_9" data-code="8">G#/A♭</div>
  <div class="action_btn js_select_code" id="code_10" data-code="9">A</div>
  <div class="action_btn js_select_code" id="code_11" data-code="10">A#/B♭</div>
  <div class="action_btn js_select_code" id="code_12" data-code="11">B</div>
</div>
<div class="js_top_code_select_block">
  <div class="flex top_code">
    <div class="top_code_content">
      <p class="base_text">M</p>
      <div class="jfc js_code_keys">
        <div class="keys">
          <div class="code_w code_key js_drow_check_code"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key js_drow_check_code"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key js_drow_check_code"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
        </div>
        <div class="keys">
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
        </div>
        <div class="keys">
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
        </div>
      </div>
      <div class="js_code_play_btn" data-code-number="0">play</div>
    </div>

    <div class="top_code_content">
      <p class="base_text">M7</p>
      <div class="jfc js_code_keys">
        <div class="keys">
          <div class="code_w code_key js_drow_check_code"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key js_drow_check_code"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key js_drow_check_code"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key js_drow_check_code"></div>
        </div>
        <div class="keys">
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
        </div>
        <div class="keys">
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
        </div>
      </div>
      <div class="js_code_play_btn" data-code-number="1">play</div>
    </div>
    <div class="top_code_content">
      <p class="base_text">m</p>
      <div class="jfc js_code_keys" id="anser_code_key">
        <div class="keys">
          <div class="code_w code_key js_drow_check_code"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key js_drow_check_code"></div>
          <div class="code_w code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key js_drow_check_code"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
        </div>
        <div class="keys">
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
        </div>
        <div class="keys">
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
        </div>
      </div>
      <div class="js_code_play_btn" data-code-number="2">play</div>
    </div>
  </div>
  <div class="flex top_code">
    <div class="top_code_content">
      <p class="base_text">m7</p>
      <div class="jfc js_code_keys" id="anser_code_key">
        <div class="keys">
          <div class="code_w code_key js_drow_check_code"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key js_drow_check_code"></div>
          <div class="code_w code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key js_drow_check_code"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key js_drow_check_code"></div>
          <div class="code_w code_key"></div>
        </div>
        <div class="keys">
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
        </div>
        <div class="keys">
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
        </div>
      </div>
      <div class="js_code_play_btn" data-code-number="3">play</div>
    </div>

    <div class="top_code_content">
      <p class="base_text">m7-5</p>
      <div class="jfc js_code_keys" id="anser_code_key">
        <div class="keys">
          <div class="code_w code_key js_drow_check_code"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key js_drow_check_code"></div>
          <div class="code_w code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key js_drow_check_code"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key js_drow_check_code"></div>
          <div class="code_w code_key"></div>
        </div>
        <div class="keys">
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
        </div>
        <div class="keys">
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
        </div>
      </div>
      <div class="js_code_play_btn" data-code-number="4">play</div>
    </div>

    <div class="top_code_content" data-code-number="5">
      <p class="base_text">sus4</p>
      <div class="jfc js_code_keys" id="anser_code_key">
        <div class="keys">
          <div class="code_w code_key js_drow_check_code"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_w code_key js_drow_check_code"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key js_drow_check_code"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
        </div>
        <div class="keys">
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
        </div>
        <div class="keys">
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
        </div>
      </div>
    <div class="js_code_play_btn" data-code-number="5">play</div>

    </div>
  </div>

  <div class="flex top_code">
    <div class="top_code_content">
      <p class="base_text">dim7</p>
      <div class="jfc js_code_keys" id="anser_code_key">
        <div class="keys">
          <div class="code_w code_key js_drow_check_code"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key js_drow_check_code"></div>
          <div class="code_w code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key js_drow_check_code"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key js_drow_check_code"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
        </div>
        <div class="keys">
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
        </div>
        <div class="keys">
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
        </div>
      </div>
      <div class="js_code_play_btn" data-code-number="6">play</div>
    </div>

    <div class="top_code_content">
      <p class="base_text">aug</p>
      <div class="jfc js_code_keys" id="anser_code_key">
        <div class="keys">
          <div class="code_w code_key js_drow_check_code"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key js_drow_check_code"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key js_drow_check_code"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
        </div>
        <div class="keys">
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
        </div>
        <div class="keys">
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
        </div>
      </div>
      <div class="js_code_play_btn" data-code-number="7">play</div>
    </div>

    <div class="top_code_content">
      <p class="base_text">6</p>
      <div class="jfc js_code_keys" id="anser_code_key">
        <div class="keys">
          <div class="code_w code_key js_drow_check_code"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key js_drow_check_code"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key js_drow_check_code"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key js_drow_check_code"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
        </div>
        <div class="keys">
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
        </div>
        <div class="keys">
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
        </div>
      </div>
      <div class="js_code_play_btn" data-code-number="8">play</div>
    </div>
  </div>
  <div class="flex top_code">
    <div class="top_code_content">
      <p class="base_text">add9</p>
      <div class="jfc js_code_keys" id="anser_code_key">
        <div class="keys">
          <div class="code_w code_key js_drow_check_code"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key js_drow_check_code"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key js_drow_check_code"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
        </div>
        <div class="keys">
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key js_drow_check_code"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
        </div>
        <div class="keys">
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
        </div>
      </div>
      <div class="js_code_play_btn" data-code-number="9">play</div>
    </div>

    <div class="top_code_content">
      <p class="base_text">7</p>
      <div class="jfc js_code_keys" id="anser_code_key">
        <div class="keys">
          <div class="code_w code_key js_drow_check_code"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key js_drow_check_code"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key js_drow_check_code"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key js_drow_check_code"></div>
          <div class="code_w code_key"></div>
        </div>
        <div class="keys">
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
        </div>
        <div class="keys">
          <div class="code_w code_key"></div>
          <div class="code_b code_key"></div>
          <div class="code_w code_key"></div>
        </div>
      </div>
      <div class="js_code_play_btn" data-code-number="10">play</div>
    </div>
  </div>
</div>
