.cp_iptxt {
	position: relative;
    width: 100%;
    margin-bottom: 30px;
}
.cp_iptxt input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	letter-spacing: 1px;
}
.cp_iptxt input[type='text']:focus {
	outline: none;
}
.ef {
	padding: 4px 0;
	border: 0;
	border-bottom: 1px solid #1b2538;
	background-color: transparent;
}
.ef ~ .focus_line {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 2px;
	transition: 0.4s;
    background-color: #da3c41;
    
}
.ef:focus ~ .focus_line,
.cp_iptxt.ef ~ .focus_line {
	width: 100%;
	transition: 0.4s;
}

.ef:focus ~ label, .cp_iptxt.ef ~ label {
	font-size: 12px;
	top: -16px;
	transition: 0.3s;
	color: #da3c41;
}

.sound_rate_select_box{
    margin-top: 20px;
}
.input_box_base{
    border: 2px black solid;
    background: transparent;
    font-size: 24px;
    font-weight: bold;
    border-radius: 3px;
    height: 30px;
    text-align: center;
}
