<div class="loading_block">
  <div class="loader"></div>
</div>

<div id="load_block" class="vanish">
  <div class="load1"></div>
  <div class="load2">
    <div class="loding_text">
      <svg xmlns="http://www.w3.org/2000/svg" width="258.906mm" height="32.172mm" viewBox="0 0 733.907 91.196">
        <g style="isolation: isolate">
          <g style="isolation: isolate">
            <path class="item01"
              d="M37.079,56.518V86.876h10.8V88.8H1.08v-1.92h9.6v-78L0,2.4H39c29.518,0,43.078,10.919,43.078,25.8C82.077,45.958,65.877,56.277,37.079,56.518Zm0-52.2V54.6c10.439-.12,17.4-9.96,17.4-26.279,0-15.719-6.48-24-16.08-24Z"
              fill="#fff" />
            <path class="item02" d="M87.358,86.876h9.6v-78L86.278,2.4h47.759l-10.68,6.479v78h9.6V88.8h-45.6Z"
              fill="#fff" />
            <path class="item03"
              d="M225.115,86.876V88.8H180.957v-1.92H190.8l-9.48-22.559h-27.6L146.4,86.876h12.359V88.8H132.238v-1.92h4.92L175.316,0h6.24L219.6,86.876ZM180.356,62.157,165.6,27.359l-11.28,34.8Z"
              fill="#fff" />
            <path class="item04"
              d="M319.433,2.4l-10.8,6.24V88.8h-6.239L240.836,16.319l4.8,70.557h14.519V88.8H229.917v-1.92h6.6l1.92-77.516L226.917,2.4h36.6l42.718,52.318L299.514,8.64l-10.8-6.24Z"
              fill="#fff" />
            <path class="item05"
              d="M324.235,45.238C324.235,21.719,340.194,0,367.553,0c26.28,0,45.838,19.679,45.838,45.958,0,23.519-15.719,45.238-43.2,45.238C344.034,91.2,324.235,71.637,324.235,45.238Zm70.557,29.038c0-25.8-26.638-67.556-43.8-67.556-4.8,0-8.039,3.48-8.039,10.2,0,25.8,27.119,67.557,43.677,67.557C391.913,84.476,394.792,81.236,394.792,74.276Z"
              fill="#fff" />
            <path class="item06"
              d="M520.91,52.317V88.8H446.632v-1.92h9.6v-78L445.552,2.4h47.759l-10.68,6.479v78h.96c14.76,0,28.079-11.52,37.2-34.559Z"
              fill="#fff" />
            <path class="item07" d="M527.992,86.876h9.6v-78L526.912,2.4H574.67L563.991,8.879v78h9.6V88.8h-45.6Z"
              fill="#fff" />
            <path class="item08"
              d="M652.547,30.119h-.12c-12.6-18.479-22.318-25.8-35.158-25.8h-.6V43.2c6.959-.72,16.44-7.32,20.4-14.039h.12V59.037h-.12c-3.959-6.6-13.44-13.2-20.4-13.918V86.876h13.8V88.8h-49.8v-1.92h9.6v-78L579.59,2.4h72.957Z"
              fill="#fff" />
            <path class="item09"
              d="M696.228,4.32v38.4c7.56-.36,15.959-6.719,20.4-15.839h.121V60.357h-.121c-4.56-9.36-12.6-15.6-20.4-15.959V86.876c14.159-.24,26.279-7.2,37.559-28.079h.12v30H660.229v-1.92h9.6v-78L659.15,2.4h74.757v30h-.12C722.507,11.759,710.387,4.44,696.228,4.32Z"
              fill="#fff" />
          </g>
        </g>
      </svg>
    </div>
  </div>
  <div class="load1"></div>
</div>


<div class="top vanish">
  <%= render 'share/header' %>
  <div class="container">
    <div class="flex top_content">
      <div class="index_container">
        <section class="top_section">
          <div class="theory_container">
            <div class="top_theme">学習ツール</div>
            <div class="flex_sb theory_wrap">
              <% for i in 0..3 %>
              <div class="theory_contnt hoge">
                <a href="<%= @url[i]%>">i</a>

                <div class="aic">
                  <img src="/images/top/<%= @image_path[i]%>.png" class="theory_image" alt="">
                  <p class="theory_title"> <%= @larn_tool[i] %><br><%= @larn_description[i] %></p>

                </div>
              </div>
              <% end %>
            </div>
          </div>
        </section>
        <section>
        </section>
        <section class="top_section">
          <div class="theory_container">
            <div class="top_theme">音楽ツール</div>
            <div class="flex_sb theory_wrap">
              <% for i in 0..4 %>
              <div class="theory_contnt hoge">
                <a href="<%= @tool_url[i]%>">i</a>

                <div class="aic">
                  <img src="/images/top/top_tool.png" class="theory_image" alt="">
                  <p class="theory_title"> <%= @music_tool[i] %><br><%= @tool_description[i] %></p>

                </div>
              </div>
              <% end %>
            </div>
          </div>
        </section>
        <!-- theory -->
        <section class="top_section">
          <%= render 'share/theory/index' %>
        </section>
        <!-- <section class="top_section">
          <div class="theory_container">
            <div class="top_theme">Blog</div>
            <div class="flex_sb theory_wrap">
              <% for i in 0..5 %>
              <div class="theory_contnt hoge">
                <a href="">i</a>

                <div class="aic">
                  <img src="/images/top/top_tool.png" class="theory_image" alt="">
                  <p class="theory_title">現在作成中</p>

                </div>
              </div>
              <% end %>
            </div>
          </div>
        </section> -->
 
<!-- 
        <div class="flex index_content vanish">
          <div class="flex document_block">
            <div class="content_right">

              <div class="insert_top_content_block w94">
        
                <section class="content_section vanish">
                  <%# コード基礎知識 3 %>
                  <%= render 'share/top/code/basic_knowledge' %>
                </section>
                <section class="content_section vanish">
                  <%# コード基礎知識 4 %>
                  <%= render 'share/top/code/how_to' %>
                </section>
        

              </div>
            </div>
          </div>
        </div> -->


      </div>

      <section class="ad_section">
          <%# サイドバー %>
          <%= render 'share/sidebar/sidebar' %>
      </section>

    </div>
  </div>

</div>
</div>
<%= javascript_pack_tag 'app/index' %>