/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body,
html,
p,
li,
a,
input,
label,
button,
a,
h1,
h2,
h3,
h4,
ul,
li,
figure,
link {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;

}

.w100 {
  width: 100%;
}

td {
  text-align: center;
}

.wrap {
  overflow: hidden;
}

table {
  border-collapse: collapse;

}

.page_nate {
  text-align: center;
}

.container {
  max-width: 1660px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex_sb {
  display: flex;
  justify-content: space-between;
}

.jfc {
  display: flex;
  justify-content: center;
}

.basic_knowledge {
  text-align: center;
}

.m_zero {
  /* width: 100%; */
  margin: 0 auto;

}

.base_text {
  font-size: 16px;
  color: #000;
  font-weight: bold;
  text-align: center;

}

footer {
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  padding: 30px 0;
  background: #231815;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
}

