.google_btn {
    position: relative;
}

.g_position {
    position: absolute;
    top: 0.5px;
    left: 0;
    margin: auto;
}

.g_image_box {
    position: relative;
    height: 60px;
    width: 60px;
}

.g_image {
    position: absolute;
    top: 10px;
    left: 10px;
    margin: auto;
    width: 40px;
    height: 40px;
}