@import "variable.scss";

.bg_non {
    background: #F7F7F7 !important;

}

.w70 {
    width: 70%;
}

.selected_r {
    background: $red !important;
}

$category_pt :8px 0;

.document_block {
    width: 100%;
}

.text_2 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}



.content_left {
    .category {
        border-right: 1px solid black;
        border-left: 1px solid black;
        width: 250px;

        .category_header {
            background: $bl;
            color: #fff;
            padding: $category_pt;
        }

        .category_content {
            border-bottom: 1px solid #000;
            padding: $category_pt;
            font-size: 18px;
            cursor: pointer;
        }
    }
}

.content_right {
    width: 100% !important;
    position: relative;

}

.top_select_code {
    background: #fff !important;
    color: #000 !important;
}

.ch1 {
    margin: 0 0 1.5em;

}

.ct {
    font-size: 20px;
    font-weight: bold;
    height: 33px;
    line-height: 33px;
    padding-left: 10px;
    border-left: 5px solid $red;
    margin: 2.6em 0 0.7em;
    padding: 10px 0 10px 10px;
}

.ch {
    position: relative;
    padding: 0.5em;
    background: rgb(240, 89, 101);
    color: white;
    font-size: 24px;
    margin: 2.5em 0 0.7em;
    line-height: 1.6;
}

h2 {
    &::before {
        position: absolute;
        content: '';
        top: 100%;
        left: 0;
        border: none;
        border-bottom: solid 15px transparent;
        border-right: solid 20px rgb(173, 64, 73);
    }
}

strong {
    font-weight: 900;
    border-bottom: solid 2px $red;
}

.ctx {
    font-weight: 450;
    line-height: 1.93;
    margin: 0 0 1.5em;
}

// 目次
.tip_list {
    ul {
        border: solid 2px rgb(240, 89, 101);
        padding: 0.5em;
        position: relative;
        margin-top: 2em;

        li {
            line-height: 1.5;
            font-weight: 450;
            padding: 0.5em 0 0.5em 1.4em;
            border-bottom: dashed 1px rgb(158, 157, 157);
            list-style-type: none !important;
            cursor: pointer;

            &:last-of-type {
                border-bottom: none;
            }

            &:before {
                /*リスト内のアイコン*/
                content: "・";
                /*アイコン種類*/
                position: absolute;
                left: 0.5em;
                /*左端からのアイコンまで*/
                color: black;
                /*アイコン色*/
            }

            &:after {
                /*タイトルタブ*/
                background: rgb(240, 89, 101);
                color: #fff;
                font-weight: bold;
                position: absolute;
                left: -2px;
                bottom: 100%;
                padding: 1px 7px;
                content: "目次";
                /*タブの文字*/
                letter-spacing: 0.05em;
                /*字間*/
            }
        }

        .li_title {
            font-weight: 900;

            &:before {
                /*リスト内のアイコン*/
                content: "・";
                /*アイコン種類*/
            }

        }

        .li_content {
            padding-left: 35px;

            &:before {
                /*リスト内のアイコン*/
                content: "　・";
                /*アイコン種類*/

            }
        }

    }

}

.footer_wrap {
    .footer_content {
        max-width: 1200px;
        justify-content: space-between;
        margin: 0 auto;
        padding-left: 13px;

        .footer_title {
            font-size: 26px;
            padding: 100px 0;
            text-align: left;
        }

        .left {
            width: 100%;
        }

        .right {
            width: 31%;
            margin-left: 30px;

            .logo_box {
                margin-top: 100px;

            }
        }

        .contents {
            h3 {
                font-weight: normal;
                font-size: 18px;
            }

            p {
                font-size: 16px;
                padding-top: 25px;

                a {
                    color: #aaa8a5;

                }

            }
        }
    }

    color: white;

    .footer_text {
        font-size: 44px;
        margin-top: 100px;
    }

    .footer_bottom {
        padding-top: 25px;
        font-size: 14px;
    }
}


@media only screen and (max-width: 1200px) {
    .footer_wrap {
        padding-bottom: 30px !important;

        .footer_content {
            .footer_title {
                font-size: 30px;
            }

            .contents {
                h3 {
                    font-size: 24px;
                }

                p {
                    font-size: 20px;
                }
            }

        }
    }
}

.summary {
    ul {
        border: solid 2px rgb(240, 89, 101);
        padding: 0.5em;
        position: relative;
        margin-top: 2em;

        li {
            line-height: 1.5;
            font-weight: 450;
            padding: 0.5em 0 0.5em 1.4em;
            border-bottom: dashed 1px rgb(158, 157, 157);
            list-style-type: none !important;
            cursor: pointer;

            &:last-of-type {
                border-bottom: none;
            }

            &:before {
                /*リスト内のアイコン*/
                content: "・";
                /*アイコン種類*/
                position: absolute;
                left: 0.5em;
                /*左端からのアイコンまで*/
                color: black;
                /*アイコン色*/
            }

        }

        .li_title {
            font-weight: 900;

            &:before {
                /*リスト内のアイコン*/
                content: "・";
                /*アイコン種類*/
            }

        }


    }

}