.notice{
  padding: 0 !important;
}
#insert_notice_message {
  //   width: 300px;
  height: 60px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 4;
}

#mali_send_mes_block,
#login_mes_block,
#logout_mes_block,
#cansel_mes_block,
#activation_mes_block,
#user_mes_block,
#Verification_mes_block {
  position: relative;
  line-height: 50px;
}

.mail_img {
  margin-right: 7px;
  width: 50px;
  height: 50px;
}

.slide-in {
  font-size: 40px;
  opacity: 0;
  animation-name: sample01;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes sample01 {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  35% {
    opacity: 1;
    transform: translateX(-10px);
  }
  65% {
    opacity: 1;
    transform: translateX(-10px);
  }
  100% {
    opacity: 0;
    transform: translateX(30px);
  }
}
