// Place all the styles related to the Piano controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.top{
width: 100vw;
height: auto;
background : url("<%= asset_path('p2.png') %>");
background-position: center;
background-size: cover;
background-attachment: fixed;

}
.piano_content{
width: 100vw;
height: auto;
/* (画像の高さ / 画像の横幅) × 100 */
background : url("<%= asset_path('p1.png') %>");
background-position: center;
background-size: cover;

}
.score_content{
background : url("<%= asset_path('p5.png') %>");
width: 100vw;
height: auto;
background-position: center;
background-size: cover;
}
.code_content{
background : url("<%= asset_path('p3.png') %>");
width: 100vw;
height: auto;
background-position: center;
background-size: cover;
}
.contact_content{
background : url("<%= asset_path('contact.png') %>");
width: 100vw;
height: auto;
background-position: center;
background-size: cover;
padding-bottom :30px;
}
.tool_content{
background : url("<%= asset_path('tool.png') %>");
width: 100vw;
height:auto;
background-position: center;
background-size: cover;
}
.score_container,
.rate_container,
.registrations_container,
.user_edit_container,
.user_login_container,
.user_container,
.mypage_container,
.code_container,
.contact_container,
.tool_container,
.metoro_container,
.notice
{
background : url("<%= asset_path('ga2.jpeg') %>");
max-width: 1200px;
margin: 0 auto;
border: 1px solid black;
padding: 30px 0px 30px 0px;
background-position: center;
background-size: cover;
opacity: 0.95;
}
.theory_contnt{
background : url("<%= asset_path('ga2.jpeg') %>");
background-position: center;
background-size: cover;
opacity: 0.95;

}
.tool_container{
width: 100%;
}
.top_theme{
background : url("<%= asset_path('ga2.jpeg') %>");
}

.theory_show_container{
background : url("<%= asset_path('ga2.jpeg') %>");
}
.index_content{
background : url("<%= asset_path('ga2.jpeg') %>");

}
.index_container{

}
.theory{
height: auto;
background : url("<%= asset_path('ga.png') %>");
background-position: center;
background-size: cover;
background-attachment: fixed;
padding-bottom: 30px;

}

.content_wrap{
max-width: 1200px;
margin: 0 auto;

}
.ad_section{

width: 31%;

margin-left: 30px;
}
.top_select_block{
background : url("<%= asset_path('ga2.jpeg') %>");

border: 1px solid black;
background-position: center;
background-size: cover;
opacity: 0.95;

}
#insert_notice_message{
background : url("<%= asset_path('ga2.jpeg') %>");
padding: 8px 5px 0px 8px;
opacity: 0.95;
}

.piano{
justify-content: center;
padding-bottom:30px;

}
.insert_key{
flex-wrap: wrap;
}
.registrations,
.user_edit,
.user_login
{
width: 100vw;
height: auto;
/* (画像の高さ / 画像の横幅) × 100 */
background : url("<%= asset_path('p4.png') %>");
background-position: center;
background-size: cover;
padding-bottom :30px;
}

.mypage
{
width: 100vw;
height: auto;
/* (画像の高さ / 画像の横幅) × 100 */
background : url("<%= asset_path('show1.png') %>");
background-position: center;
background-size: cover;
}
.attention{
font-weight: bold;
color: #da3c41;
font-family: 16px;
}