// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#profile_sound_rate,
#sound_qestion_edit
{
    display: none;
}
.profile_buttons{
    justify-content: center;
}

#profike_chosed_sound_question_key{
    justify-content: center;
    flex-wrap: wrap;
}
.show_insert_sound_question{
    margin-left: 5px;
}
.profile_select{
    text-align: center;
    width: 100%;
    margin: 0 auto;
}
.profile_buttons{
    margin-top: 16px;
}
.bottom_margin{
    margin-bottom: 20px;
}
.range_margin{
    margin-top: 20px;

}
.show_sound_rate_tabel{
    margin: 24px auto;
    border-collapse:collapse;
    width: 300px;
}

table,
td {
    border: 1px solid #333;
}


thead,
tfoot {
    background-color: #333;
    color: #fff;
}
