@import "./variable";

.up_icon {
    padding-top: 5.5px;
    padding-right: 3px;
    width: 15px;
    height: 15px;
}

.page_nate {
    span {
        background: $bl;
        margin: 0 3px;
        padding: 5px;

        font-size: 28px;

        a {
            color: #fff;

        }
    }

}

//new
.theory_input_block {
    max-width: 1200px;
}

.js_input_block {
    margin-left: 30px;
}

.insert_tip_contens {
    flex-wrap: wrap;
}

#theory_edit_btn {
    width: 300px;
    height: 100px;
    display: block;
    margin: 0 auto;
    text-align: center;

}

.theory_image_box {
    text-align: center;
    margin: 0 0 1.5em;
}

.stand_out_t {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.93;
    margin: 0 0 1.5em;
}

.mar {
    margin: 0 0 1.5em;

}

.Arrow-Right {
    border-top: solid 4px #fff;
    border-right: solid 4px #fff;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
}



.theory_show_container {
    width: 100%;
    // width: 65%;
    justify-content: center;
    background-position: center;
    background-size: cover;
    padding: 30px 0;
}

#theory_text,
#theory_title {
    width: 100%;
}

#theory_text {
    height: 400px;
}

.readmore {
    margin-bottom: 30px;
    opacity: 0.95;
    text-align: center;
    font-size: 36px;
    height: 80px;
    line-height: 80px;
    position: relative;
    font-weight: bold;
    background: $bl;
    border: 1px solid white;

    a {
        transition: 0.3s;

        display: block;
        color: #fff;

        &:hover {
            border: 2px solid #000;
            background: #fff;
            color: #000;
            border: 1px solid #fff;
        }
    }

    .arror_block {
        position: absolute;
        right: 15px;
        top: 35%;

    }
}

.theory_container {
    width: 100%;
    // width: 65%;
    justify-content: center;
    background-position: center;
    background-size: cover;
    opacity: 0.95;

    .top_theme {
        margin-bottom: 30px;
        opacity: 0.95;
        text-align: center;
        font-size: 36px;
        height: 80px;
        line-height: 80px;
        position: relative;
        font-weight: bold;

        &::before {
            position: absolute;
            content: '';
            top: 100%;
            left: 0;
            border: none;
            border-bottom: solid 15px transparent;
            border-right: solid 20px rgb(163, 145, 95);
        }


    }
}

.theory_key {
    margin-bottom: 25px;
}


.theory_wrap {
    flex-wrap: wrap;
}

.theory_show {
    border: 1px solid black;
    margin: 0 auto;
}

.theory_contnt {
    border-top: 3px $red solid;
    width: 411px;
    position: relative;
    z-index: 1;
    padding: 10px;
    margin-bottom: 30px;
    transition: 0.3s;

    &:hover {
        transform: translateY(-4px);
        box-shadow: 0 12px 12px rgb(92, 84, 84);
    }


    .update_time {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }

    .up_icon {
        width: 10px;
        height: 10px;
        padding-top: 5px;
    }

    .theory_box {
        font-size: 12px;
    }

    .theory_image {
        margin-right: 10px;
    }

    .aic {
        display: flex;
        align-items: center;
        width: 100%;
        font-weight: 700;
    }

    a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-indent: -999px;
        z-index: 2;
        /* 必要であればリンク要素の重なりのベース順序指定 */
    }
}


@media only screen and (max-width: 1200px) {
    .theory_contnt {
        width: 97%;
        position: relative;
        z-index: 1;
        padding: 10px;

        .theory_title {
            font-size: 36px;
        }


    }

    .ct {
        font-size: 42px;
    }

    .ctx {
        font-size: 16px;
    }

    .theory_box {
        font-size: 20px;

    }

    .up_icon {
        width: 20px;
        height: 20px;
    }

    #js_header {
        display: none;
    }

    #js_header_2 {
        position: absolute;
        top: 0;
        width: 100%;
        display: block;
        position: relative;
        position: fixed !important;
        z-index: 99;


    }

    .top {
        background: none;
        background: #F7F7F7;
        margin-top: 136px;
    }

    .mypage,
    .piano_content,
    .tool_content,
    .contact_content,
    .registrations,
    .user_edit,
    .user_login,
    .code_content,
    .theory {
        padding-top: 30px;
        margin-top: 106px;
    }

    .theory_show_container {

        margin-top: 136px;
    }

    .footer_wrap {
        padding: 0 30px;
    }

    .container {
        padding-left: 30px;
        padding-right: 30px;
    }


}