$red: #FC001C;
$red_2: rgba(245, 109, 125, 0.877);
$red_3: rgb(238, 192, 197);
$grade2: rgba(252, 0, 28, 0.9);
$grade3: rgba(255, 103, 121, 0.9);
$grade4: rgba(250, 154, 166, 0.9);
$grade5: rgba(252, 195, 201, 0.9);

$w_key: #FAF5E1;
$bl :#231815;

.op_zero {
    opacity: 0;
}