@import "./variable";

.score_question_block,
.code_question_block {
  position: relative;
}
.vol_block {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.vol_content {
  position: relative;
}
.vol_icon {
  width: 50px;
  height: 50px;
}
#vol_text {
  position: absolute;
  top: -14px;
  right: 0;
  color: $red;
  font-size: 50px;
}
