<div class="notes">
  <%  @tools.each do |note| %>
  <div class="note" id="note<%= note.id %>">
    <span class="note_name">
      <%= note.id %>
    </span>
    <span class="note_name">
      投稿者：<%= note.user.name %>
    </span><span class="note_name">
      user_id<%= note.user.id %>
    </span>
    <span class="note_name">
      <%= note.year %>/
    </span>
    <span class="note_name">
      <%= note.month %>/
    </span>
    <span class="note_name">
      <%= note.day %>/
    </span>
    <span class="note_name">
    @@時間::
      <%= note.time %>/
    </span>
    <p class="note_name">
      <%= note.memo %>
    </p>
    <div class="notes">
        <div class="note" id="note<%= note.id %>">
          <span class="note_name">
          </span>
            <%= link_to "削除", tool_path(note.id) ,class: "note_delete", method: :delete %>
        </div>

  </div>
  <% end %>
</div>
<h4>メモアプリ（サンプル）</h4>
<div class="form">
  <% if user_signed_in? %>

  <textarea id="watch_year" name="tool[year]"></textarea>
  <textarea id="watch_month" name="tool[month]"></textarea>
  <textarea id="watch_day" name="tool[day]"></textarea>
  <textarea id="watch_time" name="tool[time]"></textarea>
  <textarea id="watch_memo" name="tool[memo]"></textarea>
  <input type="submit" name="commit" value="メモを登録" class="note_form-btn" id="tool_from" data-disable-with="メモを登録">
  <% end %>
</div>
<h1>検索</h1>
<div class="contents">
  <%= text_field_tag :id,'', class: 'js-text_field', placeholder: 'id' %>
  <%= text_field_tag :year,'', class: 'js-text_year', placeholder: '年' %>
  <%= text_field_tag :month,'', class: 'js-text_month', placeholder: '月' %>
</div>
<button id="search">kensaku</button>
<button id="update">更新</button>


<%= javascript_pack_tag 'tttt/index' %>