<div class="admin">
    <div class="container">
        <%= render 'share/header' %>
        <div class="admin_container">
            <% if @users %>
            <div class="num_of_Registered">
                <div class="content">登録者数</div>

                <p class="content"><%= @count%>人</p>
            </div>
            <div class="flex search_form_block">
                <div class="">
                    <p>名前</p>
                    <%= form_tag(admin_users_path, :method => "get") do %>
                    <%= text_field_tag :username %>
                    <%= submit_tag "検索" ,:username => nil%>
                    <% end %>
                </div>
                <div class="">
                    <p>email</p>
                    <%= form_tag(admin_users_path, :method => "get") do %>
                    <%= text_field_tag :email %>
                    <%= submit_tag "検索" ,:username => nil%>
                    <% end %>
                </div>
                <div class="">
                    <p>並び替え</p>
                    <%= form_tag(admin_users_path, :method => "get") do %>
                    <%= submit_tag "昇順"%>
                    <%= submit_tag "降順"%>
                    <% end %>
                </div>
            </div>
            <% for u in @users %>
            <div class="admin_content flex">
                <div class="content_id">
                    <div class="content">ID</div>
                    <p class="content"><%= u.id%></p>
                </div>
                <div class="content_name">
                    <div class="content">name</div>
                    <p class="content"><%= u.name%></p>
                </div>
                <div class="content_email">
                    <div class="content">email</div>
                    <p class="content"><%= u.email%></p>
                </div>
                <div class="content_created_ad">
                    <div class="content">created_at</div>
                    <p class="content"><%= u.created_at%></p>
                </div>
            </div>
            <% end %>
            <%= paginate @users %>
            <% end %>
        </div>
    </div>
</div>