<div class="generate_block">
    <div>
        <% for item in 0..9 %>
        <div class="flex insert_generate vanish">
            <div class="g_content">
                <p class="insert_code"></p>
            </div>
            <div class="g_content">
                <p class="insert_code"></p>
            </div>
            <div class="g_content">
                <p class="insert_code"></p>
            </div>
            <div class="g_content">
                <p class="insert_code"></p>
            </div>
            <div class="g_content">
                <p class="insert_code"></p>
            </div>
        </div>
        <% end %>
        <div class="start_btn_block">
        <div class="flex">
            <button id="generate_reselect" class="action_btn">選び直す</button>
            <button id="generate_restart" class="action_btn">再出力</button>
        </div>
        </div>
    </div>
</div>