<div class="theory">
    <%= render 'share/header' %>
    <div class="container">
        <div class="flex top_content">
            <%= yield(:theory) %>
          

   

            <section class="ad_section">
                <section>
                    <%# セレクト %>
                             <%= render 'share/sidebar/sidebar' %>

                </section>
            </section>
        </div>
    </div>
</div>
<%= javascript_pack_tag 'theory/index' %>