<div class="theory_container">
    <div class="top_theme">Theory</div>
    <div class="flex_sb theory_wrap">
        <% for t in @theory %>
        <div class="theory_contnt hoge">
            <%= link_to "i", theory_path(t.id) %>
            <div class="aic">
                <%= image_tag("/images/theory/theory.png", class:"theory_image") %>
                <span class="theory_title"><%= t.title%></span>
                <!-- <%= link_to "削除", theory_path(t.id) , method: :delete, data: { confirm: '削除しますか？' } %> -->
            </div>
            <div class="flex update_time"><img class="up_icon" src="/up_icon.png">
                <div class="theory_box">
                    <%= t.updated_at.strftime('%Y/%m/%d') %>
                </div>
            </div>
        </div>
        <% end %>
        <% if @page != "index" %>
        <div class="page_nate w100">
            <%= paginate @theory %>
        </div>
        <%else%> 
    
        <div class="readmore w100"><%= link_to 'READ MORE', theories_path %><div class="flex arror_block">
            <div class="Arrow-Right"><%= link_to '', theories_path %></div>
            <div class="Arrow-Right"><%= link_to '', theories_path %></div>
<!-- 
            <div class="Arrow-Right"><%= link_to '', theories_path %></div>
            <div class="Arrow-Right"><%= link_to '>>', theories_path %></div> -->
        </div></div>

        <% end %>
    </div>
</div>