<div class="row jfc js_theory_block">
    <div>
        <textarea id="insert_save_text" cols="30" rows="10"></textarea>
    </div>
    <div class="">
        <%= form_for(@theory) do |f| %>
        <p>タイトル</p>
        <%= f.text_field :title %>
        <p>カテゴリー</p>
        <%= f.text_field :category %>
        <p>内容</p>
        <%= f.text_area :text %>
        <%= f.submit "create", class: "action_btn" %>
        <% end %>
    </div>
    <div class="js_input_block flex">
        <div class="">
            <p>h1タイトル</p>
            <textarea id="h1_input" cols="50" rows="4"></textarea>
            <p>tip_titles目次</p>
            <textarea id="tip_titles" cols="50" rows="4"></textarea>
            <p>tip_contents中身</p>
            <div class="insert_tip_contens">
                <textarea class="tip_contents" cols="50" rows="4"></textarea>
            </div>
            <button class="theory_input_btn" id="add_content">コンテント追加</button>
        </div>
        <div class="">

            <p>is_text文章</p>
            <div class="insert_is_text">
                <textarea class="is_text" cols="50" rows="4"></textarea>
            </div>
            <button class="theory_input_btn" id="add_text">テキスト追加</button>
            <p>summaryまとめ</p>
            <textarea id="summary" cols="50" rows="4"></textarea>
        </div>
    </div>
    <button id="preview">プレビュー</button>
</div>

<button id="theory_edit_btn">編集</button>
<div class="theory">
    <%= render 'share/header' %>
    <div class="container">
        <div class="flex top_content">
            <div class="theory_show_container">
                <!-- w94から下 -->
                <div class="w94">
                    <div class="tip_list">
                        <ul id="insert_tip">
                        </ul>
                    </div>
                    <div id="insert_content">
                    </div>

                    <h2 class="ch cl">まとめ</h2>
                    <div class="summary">
                        <ul id="insert_summary">
                        </ul>
                    </div>
                </div> <!-- ここまでから上を消す -->
                <!-- ここまで -->
            </div>
            <section class="ad_section">
                <section>
                    <%# セレクト %> 
          <%= render 'share/sidebar/sidebar' %>

                </section>
            </section>
        </div>
    </div>
</div>