<div class="cal">

  <div class="flex cal_over">
    <span class="cal_btn" id="prev">
      <<</span> <p id="inset_cal_text">
        </p>
        <span class="cal_btn" id="next">>></span>
  </div>
    <div class="date_select_block flex">
    <select class="cal_select_box" id="cal_date_select_year">
      <% for item in 2021..2029 %>
      <option value="<%=item%>"><%=item%></option>
      <% end %>
    </select>
    <select class="cal_select_box" id="cal_date_select_month">
      <% for item in 1..12 %>
      <option value="<%=item%>"><%=item%></option>
      <% end %>
    </select>
  </div>

  <div class="">
    <div id="calendar"></div>
    <div class="cal_meter flex">
      <p class="meter_text">少ない</p>
      <div class="block gre4"></div>
      <div class="block gre3"></div>
      <div class="block gre2"></div>
      <div class="block gre1"></div>
      <p class="meter_text">多い</p>
    </div>
  </div>
</div>