<div class="wath_text_block">
    <p class="cal_memo base_text" id="insert_cal_memo">メモ</p>
    <div class="cal_textar">
        <textarea id="cal_text_form" cols="30" rows="10"></textarea>
        <span id="cal_textar_span">最大100文字</span>
    </div>
    <div class="action_btn" id="watch_memo_btn">
        <span class="btn_span">保存</span>
    </div>
</div>