<div class="flex">
  <div class="timer_over">
    <p class="base_text" id="insert_select_date">未選択</p>
    <p class="base_text" id="insert_select_time">0:0:0</p>
  </div>
  <div class="timer_center">
    <p class="base_text">練習時間</p>
    <p class="base_text" id="insert_today_time">0:0:0</p>
  </div>
  <div class="timer_under">
    <div class="watch_text_box">
      <span class="vanish" id="insert_timer_span">●</span><span class="base_text" id="insert_timer_state">0:0:0</span>
    </div>
    <p class="base_text" id="insert_time">0:0:0</p>
    <p class="vanish" id="js_form_time">0</p>
  </div>
</div>
<div class="watch">
  <div class="flex">
    <div class="action_btn" id="watch_start_btn">
      <span class="btn_span">▶</span>
    </div>
    <div class="action_btn vanish" id="watch_end_btn">
      <span class="btn_span">■</span>
    </div>

  </div>
</div>
<script>
  var g_watch_timer;
  var g_watch_state = 0
</script>