@import "variable.scss";

.user_page_name{
    margin-bottom: 30px;
}
.registrations_container{
    margin-top: 7px;
}
.user_content_block{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.field,
.actions{
    margin-top: 28px;
    .form_title{
        font-weight: bold;
    }
}
.form{
    width: 100%;
    height: 40px;
    font-size: 24px;
}

.action_btn{
    height: 60px;
    background-color: $bl;
    color: #fff;
    border-radius: 3px;
    font-size: 32px;
    transition: 0.3s;
    border: 1px solid #fff;
    display: block;
    width: 100.5%;
    text-align: center;
    &:hover {
        opacity: 0.9;
        border: 2px solid #000;
        background: #fff;
        color: #000;
        border: 1px solid #fff;
        }
}
.sign_up_btn{
    width: 100.7%;
}

