<!DOCTYPE html>
<html>

<head>
  <title>PIANO LIFE</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://use.typekit.net/zms2msg.css">
  <meta name="description" content="">
</head>

<body>
  <div class="wrap">
    <% if notice %>
    <div id="insert_notice_message" class="slide-in">
      <div id="mali_send_mes_block" class="flex">
        <%= image_tag("mail.png", class:"mail_img vanish") %>
        <p id="mali_send_mes" class="base_text"><%= notice %></p>
      </div>
    </div>
    <% end %>
    <% if alert %>
    <div id="insert_notice_message" class="slide-in">
      <div id="mali_send_mes_block" class="flex">
        <p id="mali_send_mes" class="base_text"><%= alert %></p>
      </div>
    </div>
    <% end %>
    <div id="to_top" class="vanish">
      ▲
    </div>
    <!-- コンテンツ部分 -->
    <%= yield %>
    <%= yield(:page) %>
    <footer class="footer_wrap">
      <%= render 'share/footer' %>


    </footer>
  </div>

  <%= javascript_pack_tag 'main/index' %>

</body>

</html>