@import "variable.scss";


.load1 {
  background: #fff;
  width: 100%;
  height: 30vh;

  z-index: 99 !important;
}

#load_block {
  position: absolute;
  z-index: 50 !important;
  width: 100%;
}

.z_99 {
  z-index: 99 !important;
}

.load2 {
  border-top: solid 2px red;
  border-bottom: solid 2px red;
  background: #fff;
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: opin;
  /*←@keyframesにも同じ名前を記述*/
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}


.loding_text {
  text-align: center;
  font-size: 120px !important;
}

.load_image_block {
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 3;
}

$time :4.5s;

.add_top {
  animation: show 1s ease 3.4s 1 forwards
}

.add_out {
  top: 0;
  animation-name: out;
  /*←@ramesにも同じ名前を記述*/
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}


.add_in {
  animation-name: top_in;
  /*←@keyframesにも同じ名前を記述*/
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}

.loading_block {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;


  .loader {
    color: #000;
    font-size: 20px;

    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load4 1.3s infinite linear;
    animation: load4 1.3s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }


}

.l_modal {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 99;

  .modal_loading_wrap {

    position: relative;

    .over {
      width: 100%;
      height: 100vh;
      background: $bl;
      opacity: 0.7;
    }


    .under {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 500px;
      display: flex;
      align-items: center;
      justify-content: center;

      height: 500px;
      background: #fff;
      z-index: 0;
      opacity: 1;

      .text_block {

        p {
          text-align: center;
          font-size: 30px;
          color: #000;
        }

        #insert_persent {
          font-size: 40px;
          font-weight: bold;
        }

        .flash {
          animation: flash 1s linear infinite;
        }
      }


    }
  }
}

@keyframes flash {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.out_flame {
  animation-name: out_flame;
  /*←@keyframesにも同じ名前を記述*/
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

@keyframes opin {

  /*←animation-nameにも同じ名前を記述*/
  0% {
    background: #fff;
  }

  100% {
    background: $bl;
  }
}

@keyframes out_flame {

  /*←animation-nameにも同じ名前を記述*/
  0% {
    top: 0;

  }

  100% {
    top: -120%;

  }
}

@keyframes out {

  /*←animation-nameにも同じ名前を記述*/
  0% {
    top: 0;

  }

  100% {
    top: 100%;

  }
}

@keyframes top_in {

  /*←animation-nameにも同じ名前を記述*/
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;

  }
}


@-webkit-keyframes load4 {

  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }

  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }

  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }

  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }

  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }

  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }

  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }

  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

@keyframes load4 {

  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }

  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }

  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }

  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }

  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }

  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }

  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }

  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}